/*!
 * froala_editor v2.3.0 (https://www.froala.com/wysiwyg-editor)
 * License https://froala.com/wysiwyg-editor/terms/
 * Copyright 2014-2016 Froala Labs
 */

.fr-view{
	font-family: '游ゴシック', 'Yu Gothic', YuGothic, Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ';
}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}
.fr-view strong {
  font-weight: 700;
}
.fr-view table {
  border: none;
  border-collapse: collapse;
  empty-cells: show;
  max-width: 100%;
}
.fr-view table.fr-dashed-borders td,
.fr-view table.fr-dashed-borders th {
  border-style: dashed;
}
.fr-view table.fr-alternate-rows tbody tr:nth-child(2n) {
  background: #f5f5f5;
}
.fr-view table td,
.fr-view table th {
  border: 1px solid #dddddd;
}
.fr-view table td:empty,
.fr-view table th:empty {
  height: 20px;
}
.fr-view table td.fr-highlighted,
.fr-view table th.fr-highlighted {
  border: 1px double red;
}
.fr-view table td.fr-thick,
.fr-view table th.fr-thick {
  border-width: 2px;
}
.fr-view table th {
  background: #e6e6e6;
}
.fr-view hr {
  clear: both;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  page-break-after: always;
}
.fr-view .fr-file {
  position: relative;
}
.fr-view .fr-file::after {
  position: relative;
  content: "\1F4CE";
  font-weight: normal;
}
.fr-view pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.fr-view blockquote {
  border-left: solid 2px #5e35b1;
  margin-left: 0;
  padding-left: 5px;
  color: #5e35b1;
}
.fr-view blockquote blockquote {
  border-color: #00bcd4;
  color: #00bcd4;
}
.fr-view blockquote blockquote blockquote {
  border-color: #43a047;
  color: #43a047;
}
.fr-view span.fr-emoticon {
  font-weight: normal;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  display: inline;
  line-height: 0;
}
.fr-view span.fr-emoticon.fr-emoticon-img {
  background-repeat: no-repeat !important;
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -0.1em 0.1em 0.1em;
  line-height: 1;
  vertical-align: middle;
}
.fr-view .fr-text-gray {
  color: #AAA !important;
}
.fr-view .fr-text-bordered {
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
  padding: 10px 0;
}
.fr-view .fr-text-spaced {
  letter-spacing: 1px;
}
.fr-view .fr-text-uppercase {
  text-transform: uppercase;
}
.fr-view img {
  position: relative;
  max-width: 100%;
}
.fr-view img.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
.fr-view img.fr-dib.fr-fil {
  margin-left: 0;
}
.fr-view img.fr-dib.fr-fir {
  margin-right: 0;
}
.fr-view img.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - (2 * 5px));
}
.fr-view img.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
.fr-view img.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
.fr-view img.fr-rounded {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-view img.fr-bordered {
  border: solid 10px #CCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.fr-view .fr-video {
  text-align: center;
  position: relative;
}
.fr-view .fr-video > * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100%;
  border: none;
}
.fr-view .fr-video.fr-dvb {
  display: block;
  clear: both;
}
.fr-view .fr-video.fr-dvb.fr-fvl {
  text-align: left;
}
.fr-view .fr-video.fr-dvb.fr-fvr {
  text-align: right;
}
.fr-view .fr-video.fr-dvi {
  display: inline-block;
}
.fr-view .fr-video.fr-dvi.fr-fvl {
  float: left;
}
.fr-view .fr-video.fr-dvi.fr-fvr {
  float: right;
}
.fr-view a.fr-strong {
  font-weight: 700;
}
.fr-view a.fr-green {
  color: green;
}
.fr-view button.fr-rounded,
.fr-view input.fr-rounded,
.fr-view textarea.fr-rounded {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.fr-view button.fr-large,
.fr-view input.fr-large,
.fr-view textarea.fr-large {
  font-size: 24px;
}
/**
 * Image style.
 */
a.fr-view.fr-strong {
  font-weight: 700;
}
a.fr-view.fr-green {
  color: green;
}
/**
 * Link style.
 */
img.fr-view {
  position: relative;
  max-width: 100%;
}
img.fr-view.fr-dib {
  margin: 5px auto;
  display: block;
  float: none;
  vertical-align: top;
}
img.fr-view.fr-dib.fr-fil {
  margin-left: 0;
}
img.fr-view.fr-dib.fr-fir {
  margin-right: 0;
}
img.fr-view.fr-dii {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  margin-left: 5px;
  margin-right: 5px;
  max-width: calc(100% - (2 * 5px));
}
img.fr-view.fr-dii.fr-fil {
  float: left;
  margin: 5px 5px 5px 0;
  max-width: calc(100% - 5px);
}
img.fr-view.fr-dii.fr-fir {
  float: right;
  margin: 5px 0 5px 5px;
  max-width: calc(100% - 5px);
}
img.fr-view.fr-rounded {
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
img.fr-view.fr-bordered {
  border: solid 10px #CCC;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*TODO: RUNDA gray area ------------------------*/
.fr-view ul,
.fr-view ul li,
.fr-view h3
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
}

.fr-view ._contents__overview {
    padding: 20px;
    color: #7e7d7d;
    background-color: #eee;
	position: relative;
}

.fr-view .u-fs--lh--contents--other {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}

.fr-view .u-fwb {
    font-weight: bold;
}

.fr-view ._contents__overview ._remove__overview{
	float: right;
    display: block !important;
    color: #da6464;
    font-style: normal;
    font-size: 25px;
    padding: 2px 10px;
	cursor: pointer;
}


.fr-view ._contents__overview ul:hover:after
{
	content: "より多くの内容を挿入するために入力します";
    font-size: 12px;
    color: red;
    position: absolute;
}


/*CONTENT AND SECRET STYLE*/
.column-box__secret ._secret__text__ttl {
    color: #25bc7a;
}
.column-box__secret ._secret__text {
    color: #7e7d7d;
}
.column-box__contents h3.column-box_contents__subTtl,
.column-box__contents h2.column-box_contents__subTtl,
.column-box__secret h3.column-box_contents__subTtl,
.column-box__secret h2.column-box_contents__subTtl {
    position: relative;
    padding-left: 20px;
    color: #7e7d7d;
}

.column-box__secret h2.column-box_contents__subTtl,
.column-box__secret h3.column-box_contents__subTtl{
  padding-left:0;
}

._contents__detail__block h1, ._contents__detail__block h2, ._contents__detail__block h3 {
    color: #7e7d7d;
    font-weight: bold;
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
}
.fr-view .u-fwb {
    font-weight: bold;
}
.fr-view .u-fs--xxxl--contents
{
    font-size: 32px;
    font-size: 3.2rem;
}
.fr-view .u-fs--xxxl--recruit
{
    font-size: 30px;
    font-size: 3rem;
}
.fr-view .u-fs--xxl--contents
{
    font-size: 26px;
    font-size: 2.6rem;
}
.fr-view .u-fs--xxxlh--contents
{
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px;
    line-height: 3.6rem;
}
.fr-view .u-fs--xxl
{
    font-size: 20px;
    font-size: 2rem;
}
.fr-view .u-fs--xxlh
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--xxlh--contents
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
}
.fr-view .u-fs--xl
{
    font-size: 18px;
    font-size: 1.8rem;
}
.fr-view .u-fs--xlh
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--l
{
    font-size: 16px;
    font-size: 1.6rem;
}
.fr-view .u-fs--lh
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--lh--contents
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}
.fr-view .u-fs--m
{
    font-size: 15px;
    font-size: 1.5rem;
}
.fr-view .u-fs--s
{
    font-size: 14px;
    font-size: 1.4rem;
}
.fr-view .u-fs--sh
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
}
.fr-view .u-fs--sh--secret
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xs
{
    font-size: 13px;
    font-size: 1.3rem;
}
.fr-view .u-fs--xs--lh
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.u-fs--xs--lh--form
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.fr-view .u-fs--xs--recruit
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xxs
{
    font-size: 12px;
    font-size: 1.2rem;
}
.fr-view .u-fs--xxs-lh
{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xxxs
{
    font-size: 11px;
    font-size: 1.1rem;
}
.fr-view .u-fwb
{
    font-weight: bold;
}
.fr-view .u-arrow__text
{
    margin-right: 5px;
}

.column-box__contents .column-box_contents__text,
.column-box__secret .column-box_contents__text{
    color: #7e7d7d;
}
._contents__detail__block p {
    color: #7e7d7d;
    margin-top: 15px;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}


.column-box__contents ._contents__img_text a,
.column-box__contents ._contents__img_text {
    color: #c9c9c9;
}


.column-box__contents .column-box_contents__subTtl:before{
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 10px;
    height: 21px;
    content: '';
    background-color: #7e7d7d;
}

/*TODO: view: image wrapper*/
.column-box__contents ._contents__img__block {
    width: 100%;
    margin-bottom: 25px;
}

.column-box__contents ._contents__img__block > img {
    width: 100%;
}


.column-box__contents ._contents__img__block > img.fr-pc,
.column-box__contents ._contents__img__block > img.fr-sp,
.column-box__secret ._contents__img__block > img.fr-pc,
.column-box__secret ._contents__img__block > img.fr-sp
{
    width: 50%;
    display: inline;
    border: 1px solid white;
}


._contents__img__block{
	border: 1px solid #e0e0e0;
	padding: 5px;
}

._contents__img__block ._contents__img_text{
	border: 1px solid #e0e0e0;
	position: relative;
}
._contents__img__block ._contents__img_text:hover:before
{
	content: "画像下の出典元";
	font-size: 11.5px;
	top: -14px;
	left: 0;
	position: absolute;
	color: red;
}

._contents__img__block ._contents__img_text ~ p{
	color: red;
}
._contents__img__block ._contents__img_text ~ p:before{
	content: "ないデザイン: ";
}


.fr-view p{
	border-left: 1px solid #ffa4a4;
}

.fr-view .column-box_contents__subTtl.column-box_contents__text:before
{
	content: "ないデザイン: ";
    color: red;
    width: auto;
    position: static;
    display: inline;
    font-weight: normal;
    font-size: 12px;
    background: none;
}

.fr-view .u-fs--xxxl
{
    font-size: 30px;
    font-size: 3rem;
}
.fr-view .u-fs--xxxl--contents
{
    font-size: 32px;
    font-size: 3.2rem;
}
.fr-view .u-fs--xxxl--recruit
{
    font-size: 30px;
    font-size: 3rem;
}
.fr-view .u-fs--xxxlh--interview
{
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 40px;
    line-height: 4rem;
}
.fr-view .u-fs--xxl--contents
{
    font-size: 26px;
    font-size: 2.6rem;
}
.fr-view .u-fs--xxxlh--contents
{
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px;
    line-height: 3.6rem;
}
.fr-view .u-fs--xxl
{
    font-size: 20px;
    font-size: 2rem;
}
.fr-view .u-fs--xxlh
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--xxlh--contents
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
}
.fr-view .u-fs--xl
{
    font-size: 18px;
    font-size: 1.8rem;
}
.fr-view .u-fs--xlh
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--l
{
    font-size: 16px;
    font-size: 1.6rem;
}
.fr-view .u-fs--lh
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--lh--contents
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--lh--contents--other
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.fr-view .u-fs--m
{
    font-size: 15px;
    font-size: 1.5rem;
}
.fr-view .u-fs--s
{
    font-size: 14px;
    font-size: 1.4rem;
}
.fr-view .u-fs--sh
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
}
.fr-view .u-fs--sh--secret
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xs
{
    font-size: 13px;
    font-size: 1.3rem;
}
.fr-view .u-fs--xs--lh
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.fr-view .u-fs--xs--lh--form
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.fr-view .u-fs--xs--recruit
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xxs
{
    font-size: 12px;
    font-size: 1.2rem;
}
.fr-view .u-fs--xxs-lh
{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.fr-view .u-fs--xxxs
{
    font-size: 11px;
    font-size: 1.1rem;
}
.fr-view .u-fwb
{
    font-weight: bold;
}
.fr-view .u-arrow__text
{
    margin-right: 5px;
}
.fr-view .u-txtc
{
    text-align: center;
}
.fr-view .u-txtl
{
    text-align: left;
}
.fr-view .u-mt5
{
    margin-top: 5px;
}
.fr-view .u-mt10
{
    margin-top: 10px;
}
.fr-view .u-mt15
{
    margin-top: 15px;
}
.fr-view .u-mt20
{
    margin-top: 20px;
}
.fr-view .u-mt25
{
    margin-top: 25px;
}
.fr-view .u-mt30
{
    margin-top: 30px;
}
.fr-view .u-mt35
{
    margin-top: 35px;
}
.fr-view .u-mt40
{
    margin-top: 40px;
}
.fr-view .u-mt45
{
    margin-top: 45px;
}
.fr-view .u-mt50
{
    margin-top: 50px;
}
.fr-view .u-mt55
{
    margin-top: 55px;
}
.fr-view .u-mt60
{
    margin-top: 60px;
}
.fr-view .u-mt2--per
{
    margin-top: 2%;
}
.fr-view .u-mr10
{
    margin-right: 10px;
}

.fr-view ._contents__bottom__block--info{
	border: 2px solid #c4c4c4;
    padding: 2px;
}

.c-tag--qa--s--contents, 
.c-tag--secret--flow, 
.c-tag--new--flow, 
.c-tag--celebration, 
.c-tag--secret--notice {
    line-height: 20px;
    display: inline-block;
    height: 20px;
    padding: 0 10px;
    text-align: center;
}

/*INTERVIEW*/
.column-box__contents.interview h1, 
.column-box__contents.interview h2{
    color: #7e7d7d;
}

.column-box__contents .column-box_contents__subTtl--interview {
    color: #7e7d7d;
}

.column-box__contents .column-box_contents__ttl--border,
.column-box__secret .column-box_contents__ttl--border{
	padding-bottom: 5px;
  border-bottom: 2px solid #7e7d7d;
}



/*QA*/
._detail__block__qa{
	border: 1px solid #c4c4c4;
	padding: 3px;
}

._detail__block__qa:hover{
	border-color: #32acd1;
}

.column-box__contents.qa h1, 
.column-box__contents.qa h2 {
    color: #32acd1;
}
.column-box__contents.qa .column-box_contents__subTtl:before {
    background-color: #32acd1;
}
.c-tag--qa--s--contents {
    color: rgb(0, 0, 0);
}
.column-box__contents ._contents__overview ._contents__overview__otherTtl {
    color: #4b4948;
}

.column-box__secret .c-tag--qa--s--contents
{
    line-height: 30px;

    width: auto;
    height: 30px;

    color: #fff;
    background-color: #32acd1;
    display: inline-block;
    padding: 0 10px;

    text-align: center;
}

.column-box__secret ._contents__overview ._contents__overview__otherTtl{
      color: #32acd1;
}