.modal.prefmodal(data-remodal-id='prefmodal' data-search-id="pref")
	h1.modal__ttl.u-fs--l 市区町村
	.modal__inner.u-fs--xs
		.modal__checkbox(id="city_checkboxes")
			input.search-checkbox(type="checkbox" name="a" id="pref01" data-num="1")
			label.search-checkbox__label--modal.u-mt10(for="pref01")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref02" data-num="2")
			label.search-checkbox__label--modal.u-mt10(for="pref02")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref03" data-num="3")
			label.search-checkbox__label--modal.u-mt10(for="pref03")
				| テキスト
			input.search-checkbox(type="checkbox" name="a" id="pref04" data-num="4")
			label.search-checkbox__label--modal.u-mt10(for="pref04")
				| テキスト
		.modal__btn
			.c-button-square--mm(data-remodal-action='close')
				|閉じる

