ul.nav-box-mobile.u-fs--m#nav-box-mobile(data-target-hamburgermenu='hamburger')
    li#naxBoxTop.nav-box__list--top
        ._btn_close_nav_box(data-target-close='target')
            span.u-fs--xxxs MENU
    li
        a(href='')
            span 管理画面トップ
            i >
    li
        a(href='')
            span パスワード変更
            i >
    li
        a(href='')
            span お問い合わせ
            i >
    li.logout
        a(href='')
            span ログアウト
