title #{title}
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(charset='UTF-8')
meta(content = '#{description}', name='description')
meta(content='#{keywords}', name='keywords')
meta(name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0")
link(rel='stylesheet', href='#{domain}css/app.css')
//link(rel="shortcut icon", href="/ico/favicon.ico")
//link(rel="icon" type="image/png" href="/ico/favicon.png" sizes="32x32")