header.header--primary
	div.header--primary__inner.u-cf
		h1.header--primary__logo
			a(href="index.html")
				img(src="img/svg/top-logo.svg" alt="食べるんだ")
				span 求人管理画面
		.header--primary__right
			.nav--hamburger(data-trigger-hamburgermenu='hamburger')
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__text.u-fs--xxxs
			ul.navbar--right
				li.dropdown
					a(href="#" id="dropdown" class="dropdown-toggle" data-toggle="dropdown")
						span.icon-user
							|株式会社Wiz 様
							i.arrow-down
					ul.dropdown-menu
						li
							a(href="#")
								i.fa-arrow
								|パスワード再設定
						li
							a(href="#")
								i.fa-arrow
								|お問い合わせ
						li.logout
							a(href="#" class="btn-logout")
								|ログアウト






