li.nav-box__list.is-selected
	p.nav-box__list--selected
		span.nav-box__list__icon
			i.c-icon--home
		span パスワード再設定
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--home
		span お問い合わせ
li.nav-box__list
	p.nav-box__list--selected
		span.nav-box__list__icon
			i.c-icon--secret
		span ログアウト
