- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span コンテンツまとめ
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span #{config.category_1}
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span 海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left.column-left--bg(data-target-leftcolumn="target")
					article.column-box__contents.interview
						.column-box__contents__topImg
							img(src="#{domain}img/media/trend-01.jpg" alt="テスト")
							span.c-tag--beauty--l--contents.u-fs--xs.u-fwb #{config.category_2}
						._contents__top__block
							h1.column-box__contents__ttl.u-fs--xxxlh--interview.u-fwb.u-mt25 海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
							._contents__social__block
								a(href="#").c-button-square--social.c-facebook
									i.c-font-icon--facebook._social__block__icon.u-fs--xxl
									span.u-fs--l シェア
								a(href="https://twitter.com/share").c-button-square--social.c-twitter
									i.c-font-icon--twitter._social__block__icon.u-fs--xxl
									span.u-fs--l ツイート
								a(href="http://b.hatena.ne.jp/entry/https://syncer.jp").c-button-square--social.c-hatena
									i.c-font-icon--hatebu._social__block__icon.u-fs--xxl
									span.u-fs--l ブックマーク
								._social__block__right
									span.c-icon--eye--l
									span.u-fs--l 2368
							._contents__overview.u-mt30.u-fs--lh--contents--other
								h3.u-fwb
									|ジャパンフードサービス株式会社
									br
									|代表取締役 社長　小嶋 雄治
								ul.u-mt10
									li 「八丁堀バル 873」「入谷海岸 湘南食堂」、9月1日に開店する新店舗「kamakura house」と都内に3店舗のお店を構える、オーナーの小嶋雄治さんに、お話しを伺いました。
						._contents__detail__block
							h2.column-box__contents__ttl.column-box__contents__ttl--border.u-fs--xxxlh--interview.u-fwb.u-mt60
								|美容業界で働こうと思った、きっかけを教えてください。
							h3.column-box_contents__subTtl--interview.u-fs--xxlh--contents.u-fwb.u-mt60
								|――18歳で大学進学のために上京された当時、将来美容店を経営するとイメージしていましたか？
							p.column-box_contents__text.u-fs--lh--contents.u-mt15
								|“毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								|”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！一階にテラスがあり、
								|ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								|都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
							h3.column-box_contents__subTtl--interview.u-fs--xxlh--contents.u-fwb.u-mt60
								| ――なぜ料理を本格的にやっていこうと思ったのですか。
							p.column-box_contents__text.u-fs--lh--contents.u-mt15
								| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！一階にテラスがあり、
								| ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
							h3.column-box_contents__subTtl--interview.u-fs--xxlh--contents.u-fwb.u-mt60
								| ――アルバイトで、そこまで求められるんですか？
							p.column-box_contents__text.u-fs--lh--contents.u-mt15
								| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！一階にテラスがあり、
								| ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
							._contents__img__block.u-mt25
								img(data-normal="#{domain}img/media/trend-02.jpg" alt="テスト")
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|“毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								|”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
								|一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								|都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
							._contents__img__block.u-mt25
								img(data-normal="#{domain}img/media/trend-03.jpg" alt="テスト")
								._contents__img_text.u-mt10
									|出典：https://www.facebook.com/Brooklyn-Roasting-Company-Kitahama-516176041763611/
							h3.column-box_contents__subTtl--interview.u-fs--xxlh--contents.u-fwb
								|海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
							p.column-box_contents__text.u-fs--lh--contents.u-mt15
								| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
								| 一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？

							._contents__img__block.u-mt25
								img(data-normal="#{domain}img/media/trend-03.jpg" alt="テスト")
							h3.column-box_contents__subTtl--interview.u-fs--xxlh--contents.u-fwb
								|海や川が目の前されますが、今後の展望や未来像があれば教えてください。
							p.column-box_contents__text.u-fs--lh--contents.u-mt15
								| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
								| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
								| 一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
								| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？

							._contents__img__block.u-mt25
								img(data-normal="#{domain}img/media/trend-03.jpg" alt="テスト")

							h2.column-box__contents__ttl.column-box__contents__ttl--border.u-fs--xxxlh--interview.u-fwb.u-mt60
								| 美容店を経営するうえで、大切にしていることや、やりがいは何ですか？
							._contents__overview.u-mt30.u-fs--lh--contents--other
								h3.u-fwb [店舗情報]
								ul
									li 店舗:クロスカーサ
									li 住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1
									li アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分
									li TEL:03-6380-3661
									li URL:http://r.gnavi.co.jp/jep0000/
									li 生ハム食べ放題会員も募集中
									li http://hogehoge.com/
							._contents__overview.u-mt30.u-fs--lh--contents--other
								h3.u-fwb [会社概要]
								ul
									li 称号:株式会社スペースワン
									li 代表者:代表取締役　松林大吾
									li 所在地:〒150-0043　東京都道玄坂1-22-8-5F
									li 設立: 2006(平成18)12月
							._contents__detail__map.u-mt30
								<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							._contents__social__block--border
								a(href="#").c-button-square--social.c-facebook
									i.c-font-icon--facebook._social__block__icon.u-fs--xxl
									span.u-fs--l シェア
								a(href="https://twitter.com/share").c-button-square--social.c-twitter
									i.c-font-icon--twitter._social__block__icon.u-fs--xxl
									span.u-fs--l ツイート
								a(href="http://b.hatena.ne.jp/entry/https://syncer.jp").c-button-square--social.c-hatena
									i.c-font-icon--hatebu._social__block__icon.u-fs--xxl
									span.u-fs--l ブックマーク
								._social__block__right
									span.c-icon--eye--l
									span.u-fs--l 2368
					h3.column-box--normal__ttl.u-fs--xl.u-fwb.u-mt40
						|関連コンテンツ
					.column-box--normal.u-mt10
						ul.column-box--normal__list
							include ../../partial/column_left/_column_normal_list
						h3.nav-box--category__ttl.u-fs--xl.u-fwb
							i.c-icon--circle--text__ttl
							| コンテンツカテゴリー
						ul.nav-box--category.u-fs--xs
							include ../../partial/_nav_bottom
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_new
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')

