.modal
	max-width 280px
	input
		width 235px
		height 40px
		line-height: 40px
		border 1px solid line
	.c-button-square--social
		margin-right auto
		margin-left auto
	.c-icon--cross
		position: absolute
		right 10px
		top 10px
	.c-button-square--l
		margin-right auto
		margin-left auto
	.form--login__repletion
		color text
	&.prefmodal,
	&.waysidemodal
		.modal__inner
			padding 0 20px 20px
		.modal__checkbox
			padding 0
		.modal__btn
			margin-top 20px
	.search-checkbox + label
		width 100%
.modal__ttl
	background base
	color primary__
	padding 10px 0 10px 20px
	text-align left
.modal__inner__ttl
	color text
.modal__sub__ttl
	padding 10px
	background-color menu
	color text
	border-radius 2px
	text-align left
.modal__inner
	padding 55px 20px 20px
.modal__checkbox
	text-align left
	padding 0 10px
	color text
.modal__btn
	margin-top: 120px
	.c-button-square--mm
		margin auto
.search-checkbox__label--modal
	width 150px
	display inline-block
.modal__inner__text--notes
	color text
	
.waysite-checkbox__station
	display none
	padding 0 20px 10px
	border-bottom 1px solid line
	
.waysite_checkbox
	.waysite-checkbox__ttl
		width 100%
		min-height: 50px
		line-height: 1.5
		border-bottom 1px solid line
		display flex
		align-items center
		position relative
		padding-left: 20px
	.waysite-checkbox__subTtl
		width 185px !important
		padding 0 0 0 27px
		&:before
			position: absolute
			top 0
			bottom 0
			margin auto
			left 20px
		
	.waysite-checkbox__sub
		display flex !important
		align-items center
		//text-indent: -1.5em
		&:before
			top 0 !important
.modal
	&.waysidemodal
		height: 90vh
		.modal__inner
			padding 0
			padding-bottom 120px
			overflow-y: auto
			height calc(100% - 36px)
			margin-top: 36px
.modal__ttl--fix
	position absolute
	width 100%
.modal__btn--fixed
	margin-top 0 !important
	bottom 0
	padding 20px 0
	position fixed
	width 100%
	background-color back
	
.waysite-checkbox__btn
	width 55px
	border-radius 3px
	background-color disable
	display block
	color primary__
	position absolute
	height 30px
	line-height: 30px
	right 20px
	top 0
	bottom 0
	margin auto
	padding-left: 10px