.insert__screen
	width 100%
	height 100vh
	position fixed
	top 0
	background-color primary__
	z-index 100000
	overflow hidden
	&.is-fade
		animation-duration: 2s
		animation-name: fadein
		//animation-name: slide
		animation-fill-mode: forwards

.insert__screen__img
	margin-top: 38vh

@keyframes fadein {
	0% {
		opacity 1
	}
	50% {
		opacity 1
	}
	100% {
		opacity 0
	}
}


@keyframes slide {
	0% {
		transform:translateY(0)
		opacity 1
	}
	80% {
		transform:translateY(0)
		opacity 1
	}
	100% {
		transform:translateY(100vh)
		opacity 0
	}
}

