.breadcrumb
	padding 10px 15px
	font-size 12px
	margin auto
	text-align left
	color primary
	background #f5f5f5
	color #000
	border-bottom 1px solid #dddddd
	a
		color #7e7d7d
		padding-right 3px
		&:hover
			opacity 1
			text-decoration underline

