.box_info_detail
     clear both
     overflow hidden
     padding-top 20px
.detail_entry
     .li_first
          background #626262
          color #fff
          font-size 16px
          padding 10px 15px
          font-weight bold
          border none
          -moz-border-radius-topleft 3px
          -webkit-border-top-left-radius 3px
          border-top-left-radius 3px
          -moz-border-radius-topright 3px
          -webkit-border-top-right-radius 3px
          border-top-right-radius 3px
     > li
          border 1px solid #dddddd
          border-top none
          width 100%
          clear both
          overflow hidden
          background #f5f5f5
          &:last-child
               border-bottom-left-radius 3px
               border-bottom-right-radius 3px
     ul
          li
               float left
               padding 10px
               width 80%
               min-height 40px
               &:first-child
                    width 20%
                    font-weight bold
               &:last-child
                    border-left 1px solid #dddddd
                    background #ffffff

.btn-sendmail
     background #25bc7a
     color #FFFFFF
     display inline-block
     padding 15px 14px
     height 50px
     font-weight bold
     font-size 16px
     span
          padding-left 30px
          position relative
          &:before
               background url("../img/icon_mail.svg") left no-repeat
               background-size 20px
               position absolute
               content ''
               left 0
               top 0
               width 20px
               height 20px

     &:hover
          color #fff

.font--size--gray
     color #7e7d7d

.box_reviews_entry
     border 1px solid #dddddd
     border-radius 3px
     .box_review__notice
          margin-left 20px
          padding-left 25px
          color #7e7d7d
          position relative
          &:before
               background url("../img/icon_attention2.svg") left no-repeat
               position absolute
               left 0
               top 0
               content ''
               width 20px
               height 20px


.box_revew__title
     background #eeeeee
     font-size 16px
     padding 10px 15px
     font-weight bold
     border-bottom 1px solid #dddddd
     position: relative
     &:after, &:before
          top 100%
          left 8%
          border solid transparent
          content " "
          height 0
          width 0
          position absolute
          pointer-events none
     &:after
          border-color rgba(238, 238, 238, 0)
          border-top-color #eeeeee
          border-width 8px
          margin-left -8px
     &:before
          border-color rgba(221, 221, 221, 0)
          border-top-color #dddddd
          border-width 9px
          margin-left -9px
     &.border--top
          border-top 1px solid #dddddd


.box_review__content
     padding 20px
.btn_update_rate
     text-align center
     width 23%
     margin-right 20px
     font-size 18px
     background #f5f5f5
     border none
     box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.3)
     &.btn--rate_1
          span
               color #006bb3
          &:hover, &.active
               opacity 1
               background #006bb3
               span
                    color #fff

     &.btn--rate_2
          span
               color #07ab46
          &:hover, &.active
               opacity 1
               background #07ab46
               span
                    color #fff
     &.btn--rate_3
          span
               color #d04950
          &:hover, &.active
               opacity 1
               background #d04950
               span
                    color #fff
     &.btn--rate_4
          span
               color #7e7d7d
          &:hover, &.active
               background #7e7d7d
               opacity 1
               span
                    color #fff
     &:last-child
          margin-right 0
select.select-status
     width 23%
     border none
     box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.3)
     height 40px
     background: url("../img/select_arrow.svg") no-repeat right #f5f5f5;
     background-size 5px
     color #000
     background-position calc(100% - 8px) calc(1em),
     calc(100% - 4px) calc(1em),
     100% 0
     option
          &:checked, &:hover, &:focus
               color white
               background #488f8f
.div_btn_save
     border-top 1px dotted #dddddd
     padding-top 20px
     padding-bottom 20px
     .btn_save
          background #25bc7a
          padding 1% 5.9%
          display inline-block
          height 40px
          color #fff
          font-weight bold

.popup-trigger
     display block
     margin 0 auto
     color #fff
     text-align center
     text-transform uppercase
     cursor pointer

.popup
     display none
     position fixed
     width 1020px
     padding 50px 30px
     background #fff
     color #333
     font-size 19px
     line-height 30px
     z-index 9999
     left 50%
     top 50%
     border-radius 3px
     -ms-transform translate(-50%,-50%)
     -moz-transform translate(-50%,-50%)
     -webkit-transform translate(-50%,-50%)
     transform translate(-50%,-50%)

.popup-mobile
     top 0
     width 100%
     padding 15px
     padding-top 70px
     background none
     -ms-transform translate(-50%,0%)
     -moz-transform translate(-50%,0%)
     -webkit-transform translate(-50%,0%)
     transform translate(-50%,0%)
     .popup__content
          background #fff
          padding 20px
          border-radius 5px
     .btn--close--x
          background none
          width 20px
          height 20px
          position absolute
          top 25px
          right 15px
          background url("../img/icon_close_mobile.png") no-repeat
          background-size 20px
          text-indent -9999px

.popup-btn-close
     color #fff
     font-size 14px
     font-weight bold
     text-transform uppercase
     cursor pointer
     display inline-block
     background #626262
     height 30px
     width 130px
     text-align center
     border-radius 3px
.overlay
     background-color rgba(0,0,0, 0.6)
     width 100%
     height 100%
     overflow-x hidden
     position fixed
     z-index 99
     left 0
     top 0
.open-popup
     overflow hidden

.popup__content
     text-align center
     .row_rate
          color #7e7d7d
          span
               font-weight bold
               color #000000
     .row_rate__rate_1
          color #006bb3 !important
     .row_rate__rate_2
          color #07ab46 !important
     .row_rate__rate_3
          color #d04950 !important
     .row_rate__rate_4
          color #7e7d7d !important
     .font--size--gray
          font-size 14px

@media (min-width: 768px) and (max-width: 991px)
     .btn_update_rate
          margin-right 0
          width 24%

@media (min-width: 769px)
     .popup
          .btn--close--x
               display none

@media (max-width: 767px)
     .detail_entry
          .li_first
               margin-bottom 20px
               border-radius 4px
          >li
               &:nth-child(2)
                    border-top 1px solid #d2d2d2
                    border-top-left-radius 3px
                    border-top-right-radius 3px
          li
               li
                    float none
                    &:first-child
                         width 100%
                         background #eeeeee
                         border-bottom 1px solid #d2d2d2
                         min-height 30px
                         padding 5px 10px
                    &:last-child
                         width 100%
                         border-left none
                         padding 15px 10px
                    a
                         pointer-events none
     .box_reviews_entry
          border none
          margin-left -15px
          margin-right -15px
          padding-left 15px
          padding-right 15px
          padding-top 30px
          border-top 1px solid #d2d2d2
          &.u-mt45
               margin-top 30px
     .box_revew__title
          text-align center
          border-bottom none
          border-radius 5px
          &.border--top
               border-top none
          &:after, &:before
               top 100%
               left 50%
               border solid transparent
               content " "
               height 0
               width 0
               position absolute
               pointer-events none
          &:after
               border-color rgba(238, 238, 238, 0)
               border-top-color #eeeeee
               border-width 8px
               margin-left -8px
          &:before
               border-color rgba(255, 255, 255, 0)
               border-top-color #FFFFFF
               border-width 9px
               margin-left -9px
     .box_review__content
          padding 20px 0
     .btn-sendmail
          display block
     .box_reviews_entry
          .box_review__notice
               margin-left 0
               background-size 20px
               background-position top left
               padding-left 25px
               padding-bottom 5px
     .btn_update_rate
          margin-right 0
          font-size 14px
          border none
          border-radius 0
          border-right 1px solid #d2d2d2
          display block
          float left
          width 25%
          padding 6px 4px
          box-shadow none
          &.btn--rate_1
               border-top-left-radius 5px
               border-bottom-left-radius 5px
          &.btn--rate_4
               border-top-right-radius 5px
               border-bottom-right-radius 5px
               border-right none
     select.select-status
          width 100%
     .div_btn_save
          padding-top 0
          border-top none
          .btn_save
               display block
               padding 10px 15px
               font-size 16px
     .overlay
          background-color rgba(0,0,0, 0.9)

     .row_paging_detail
          margin-top 0 !important
          border-top 0
          padding-top 0
