.title_page
  font-size 18px
  font-weight bold


.box_notificate__ul
  background #f9eeee
  border 1px solid #eecbd1
  padding 10px 20px
  border-radius 3px
  position: relative
  &:after, &:before
    top 100%
    left 10%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none
  &:after
    border-color rgba(249, 238, 238, 0)
    border-top-color #f9eeee
    border-width 5px
    margin-left -5px
  &:before
    border-color rgba(238, 203, 209, 0)
    border-top-color #eecbd1
    border-width 6px
    margin-left -6px
  li
    color #d04950
    border-bottom 1px dotted #eecbd1
    padding-bottom 10px
    margin-bottom 10px
    line-height 1.3
    &:last-child
      padding-bottom 0
      margin-bottom 0
      border-bottom none
    a
      color #d04950
      display block
    .warning
      padding-left 20px
      position relative
      &:before
        background  url("../img/icon_attention1.svg") left top no-repeat;
        background-size 17px
        height 17px
        width 17px
        content ''
        position absolute
        left 0
        top 0
.link_detail
  color #25bc7a
  position relative
  &:before
    background url("../img/icon_blank.svg") no-repeat
    width 12px
    height 12px
    content ''
    position absolute
    right -15px
    top 5px
.total_new
  background #d04950
  display inline-block
  padding 0px 4px
  border-radius 8px
  line-height 16px
  color #fff
  margin-left 2px
  font-size 12px

.btn--arrow
  display inline-block
  vertical-align middle
  .arrow
    background url("../img/arrow2.svg") no-repeat
    width 3px
    height 5px
    display inline-block
    margin-left 10px
    vertical-align middle
@media (min-width: 768px)
  .box_notificate__ul
    li
        &:nth-of-type(3)
          padding-bottom 0
          margin-bottom 0
          border-bottom none
@media (max-width: 767px)
  .title_page
      line-height 1.5
  .div_title
      margin 0 -15px
      background #eeeeee
      padding 15px 15px
      border-bottom 1px solid #d2d2d2
      &.u-mt40
        margin-top 0
      &.u-mt30
        margin-top 0
      &.u-mt20
        margin-top 0
  .box_notificate__ul
      &:before
          content none
      &:after
          content none
      &.more
          li
            &:nth-of-type(3)
              padding-bottom 0
              margin-bottom 0
              border-bottom none
  .btn_show_more
      position relative
      padding-right 20px
      color #7e7d7d
      cursor pointer
      &.less-times
          &:before
              background url("../img/arrow_show_more.gif") top no-repeat
      &:before
        position absolute
        right 0
        top 7px
        content ''
        background url("../img/arrow_show_more.gif") bottom no-repeat
        width 10px
        height 6px




@media (max-width: 480px)
  .box_notificate
      .box_notificate__ul
         padding 10px