.list_entry
     .close
          color #7c7c7c
          td
               background #c4c4c4
     .color--red
          color #d04950
     .color--blue
          color #006bb3
.id_job
     font-size 16px
     color #7e7d7d
.icon--new
     font-size 10px
     background #d04950
     display inline-block
     padding 0 5px
     line-height 16px
     color #fff
     border-radius 15px

.status
     font-size 0
     vertical-align middle
.status__status--circle
     background url("../img/icon_circle.png") no-repeat
     background-size 100%
     width 14px
     height 14px
     display inline-block
.status__status--close
     background url("../img/icon_close.png") no-repeat
     background-size 100%
     width 9px
     height 10px
     display inline-block
.status__status--triangle
     background url("../img/icon_triangle.png") no-repeat
     background-size 100%
     width 14px
     height 12px
     display inline-block
.status__status--nothing
     font-size 14px

.box_filter
     .pull-left
          padding-top 20px
     .col
          float left
          margin-right 10px
          &.col--have--btn
               margin-left 10px
     .label
          padding-top 5px
.btn-search
     background #d04950
     color #fff
     padding 4px 12px
     span
          padding-left 25px
          position relative
          &:before
               background url("../img/icon_search.svg") left no-repeat
               background-size 20px
               width 20px
               height 20px
               position absolute
               left 0
               top 0
               content ''

.btn-donwload-csv
     background #fa951c
     text-align center
     color #fff
     display block
     padding 5px 11px
     border-radius 3px

.select_with_icon
     option
          color #7e7d7d
          text-align center
          &.blue
              color #006bb3
          &.green
               color #07ab46
          &.red
               color #d04950
               font-size 16px
               font-weight bold
          &.line
               font-size 14px
@media only screen and (max-width: 1024px)
     .list_entry
          .close
               td
                    &:first-child
                         border-top-left-radius 5px
                         border-top-right-radius 5px
                    &.radius--bottom
                         border-bottom-right-radius 5px
                         border-bottom-left-radius 5px

@media (max-width: 767px)
     .btn_search_mobile
          position fixed
          bottom 0
          width 100%
          padding 10px 15px
          margin 0 -15px
          z-index 15
          background #fff
          -webkit-box-shadow 0px 0px 2px 0px rgba(50, 50, 50, 0.51)
          -moz-box-shadow    0px 0px 2px 0px rgba(50, 50, 50, 0.51)
          box-shadow         0px 0px 2px 0px rgba(50, 50, 50, 0.51)
          .btn-open-popup-search
               background #d04950
               color #FFFFFF
               display block
               padding 10px 0px
               span
                    background url("../img/icon_search.svg") left no-repeat
                    background-size 18px
                    padding-left 30px
     .popup-mobile
          &.popup_search_mobile
               .popup__content
                    padding 0
                    background none
                    overflow-y auto
               .col
                    margin-bottom 20px
               .btn-search
                    display block
                    width 100%
                    padding 9px 0
                    text-align center
                    border-radius 5px
                    span
                         background-size 18px
               .form-control
                    border-radius 5px

@media (min-width: 768px) and (max-width: 992px)
     .box_filter
          .pull-left
               float none
               overflow hidden
               clear both
          .pull-right
               margin-top 20px
               float none
               .btn-donwload-csv
                    display inline-block