.primary-login
  width 440px
  left 50%
  top 50%
  transform translate(-50%, -50%)
  position absolute
.form_resetpass_center
  max-width 400px
  margin 0 auto
.primary-login__logo
  text-align center
  padding-bottom 40px
  img
    width 200px

.title-login
  font-size 18px;
  padding-top 15px
  font-weight bold

.primary-login__short
  font-size 14px
  padding-bottom 30px
  line-height 20px

.box--forget--pass
  .text-center
    padding-top 25px
    > a
        color #7e7d7d
        text-decoration underline

.box--reset--pass
  .primary-login__logo
      padding-bottom 15px
      img
          width 200px
  .__lable_note
      font-size 12px

.label_error
  font-size 12px
  color #d04950

.primary-login__short_resetpass
  padding-bottom 25px

.form--login__middle
  .forget_pass
    font-size 12px
    color #7e7d7d
    text-decoration underline
  .error
    background #f9eeee
    border-color #eecbd1
    color #000
  .btn-success
    font-size 18px
    height 50px
@media (max-width: 767px)
  .primary-login
      width 100%
      padding 0 15px
  .form--login__middle
    .forget_pass
      font-size 14px

  .box--forget--pass
    .text-center
      > a
        font-size 14px
  .primary-login__short_resetpass
      br
        display none
  .primary-login__short_resetpass
      &.text-center
          text-align left