.modal__ttl
	background base
	color primary__
	padding 10px 0 10px 20px
	text-align left
.modal__sub__ttl
	padding 10px
	background-color menu
	color text
	border-radius 2px
	text-align left
.modal__inner
	padding 30px 20px
.modal__checkbox
	text-align left
	padding 0 10px
	color text
.modal__btn
	margin-top: 120px
	.c-button-square--mm
		margin auto
.search-checkbox__label--modal
	width auto
	display inline-block
	margin-right: 20px