.text-center
	text-align center
.text-right
	text-align right
.clear-both
	clear both
	overflow hidden
.padding--top--10
	padding-top 10px
.pc
	display: block;
.sp
	display: none;
.pull-left
	float left
.pull-right
	float right

.container
	margin-right auto
	margin-left auto

@media (max-width: 767px)
	.pc
		display none
	.sp
		display block
	.container
		padding 0 15px

@media (min-width: 768px)
	.container
		width 750px

@media (min-width: 992px)
	.container
		width 970px

@media (min-width: 1200px)
	.container
		width pc-width