.row_paging
	clear both
	overflow hidden
	padding-bottom 30px
	padding-top 30px
	.pull-left
		padding-top 10px
		a
			color #7e7d7d
			span
				text-decoration underline
				padding-left 3px

.paging
	padding-bottom 15px
	.numbers
		&.current
			background #7e7d7d
			border 1px solid #7e7d7d
			a
				color #fff
		display inline-block
		text-align center
		width 25px
		height 25px
		line-height 25px
		border 1px solid #dddddd
		border-radius 3px
		margin 0 5px
		background #f5f5f5
		a
			display block
			color #333


	.prev
		width 16px
		height 12px
		text-indent -9999px
		display inline-block
		&.disabled
			a
				opacity 0.364
				pointer-events: none;
				cursor: default;
		a
			background url("../img/pager_back.svg") top no-repeat
			width 10px
			height 16px
			display block
			margin-right 5px
	.next
		width 16px
		height 12px
		text-indent -9999px
		display inline-block
		text-indent -9999px
		&.disabled
			a
				opacity 0.364
				pointer-events: none;
				cursor: default;
		a
			background url("../img/pager_next.svg") top no-repeat
			width 10px
			height 16px
			display block
			margin-left 5px
.row_paging_detail
	margin-top 0 !important
	.pull-left
		padding-top 0

@media (max-width: 767px)
	.row_paging
		border-top 1px solid #d2d2d2
		margin-left -15px
		margin-right -15px
		padding-left 15px
		padding-right 15px
		padding-top 30px
	.paging
		position relative
		padding-bottom 65px
		&.paging_no_box_search
			padding-bottom 0px
		.numbers
			border none
			font-size 14px
			background none
			margin 0 15px
			a
				color #7e7d7d
			&.current
				background none
				color #000000
				border none
				a
					color #000
		&.pull-right
			float none
			text-align center
		.prev
			position absolute
			left 0
			top 0
			width auto
			a
				width 16px
				height 40px
		.next
			position absolute
			right 0
			top 0
			width auto
			a
				width 16px
				height 40px
@media (max-width: 480px)
	.paging
		.numbers
			margin 0 10px