*
	box-sizing border-box

html
	font-size 62.5%

figure
	img
		display block
		width 100%
img
	max-width 100%
body
	color #000
	font-family -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', ' 游ゴシック Medium', meiryo, sans-serif
	font-size 14px
	line-height 20px
	padding:0;
	word-wrap break-word
a
	cursor pointer
	opacity 1
	color #000
	&:link
		text-decoration none
	&:visited
		text-decoration: none
	&:hover
		opacity 0.7
		text-decoration none
	&:active
		text-decoration: none
		color inherit


