input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select,
button
	font-family inherit
button
	padding 0
	background inherit
select::-ms-expand
	display none

input[type="submit"]
	appearance: none
	border-top none
	border-left none
	border-right none
	border-bottom none

input:-webkit-autofill
	-webkit-box-shadow 0 0 0px 1000px white inset
	
textarea
	resize: none

