$hover
	&:hover
		opacity .7
		text-decoration none

$ellipsis
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

lineClamp(height = 100%, line = 2)
	height height
	overflow hidden
	display -webkit-box
	-webkit-line-clamp line
	line-clamp line
	-webkit-box-orient: vertical
	box-orient: vertical
	word-wrap break-word
	@media all and (-ms-high-contrast:none)
		display flex



