base        = #25bc7a;
text        = #7e7d7d;
text_       = #727171;
menu        = #e5e5e5;
line        = #d2d2d2;
back        = #eee;
primary     = #aaa;
primary_    = #ccac49;
primary__   = #fff;
secondary   = #32acd1;
secondary_  = #de8f54;
shadow      = #129272;
shadow_     = #a0a0a0

tag         = #3e6395;
tag_        = #df5780;
tag__       = #9388bc;

social      = #3a5a98;
social_     = #55acee;
social__    = #1a99ce;

disable     = #c9c9c9;
contents    = #58c2ad;

form        = #e60012;
form_       = #ddf2e9;

placeholder = #bfbfbf;

pc-width    = 1020px;







