- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			//.primary-box--fixHeight
			.primary-box--noPadding
				.primary-box--full__inner
					h1.primary-box__ttl--back.u-fwb.u-fs--m
						| お問い合わせ
					.form--primary
						p.form--primary__thanks.u-fs--mh.u-fwb.u-mt30
							|お問い合せが完了しました。
							br
							|誠にありがとうございます。
						p.-contact__thanks__text.u-fs--xsh.u-mt30
							|3~5営業日以内に担当よりご連絡いたしますので、
							br
							|今しばらくお待ちください。
							br
							|万が一返信がない場合、恐れ入りますが、
							br
							|info@taberunda.jpまで
							br
							|直接ご連絡いただくようお願いいたします。
					.form__button__block--noborder.form__button__block--thanks.u-mt20
						p.u-fs--s.u-mt30.u-txtc
							a.c-button-square--l.u-fs--xs.u-fwb(href="#")
								span.button-inner
									| HOMEへ
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')