input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
	line-height: 1
	cursor pointer
	-webkit-appearance none
	-moz-appearance none
	appearance none
select
	&.form-control
		appearance none
		-webkit-appearance none
		-moz-appearance none
		background: url("../img/select_arrow.svg") no-repeat right #f5f5f5;
		background-size 5px
		height 30px
		color #7e7d7d
		padding 3px 12px
		padding-right 25px
		background-position calc(100% - 8px) calc(1em - 5px),
		calc(100% - 4px) calc(1em - 5px),
		100% 0
	&:focus
		background: url("../img/select_arrow.svg") no-repeat right #ffffff;
		background-size 5px
		color #000
		background-position calc(100% - 8px) calc(1em - 5px),
		calc(100% - 4px) calc(1em - 5px),
		100% 0


.form__error
	color form
	.c-icon--triangle--attention
		color #fff
		position relative
		> span
			position: absolute
			left -1px
			top -1px
.form-group
	margin-bottom 20px

.form-control
	display block
	width 100%
	height 34px
	padding 3px 12px
	font-size 14px
	line-height 1.42857143
	color #000
	background-color #fff
	background-image none
	border 1px solid #ccc
	border-radius 3px
	&:invalid
		background #f5f5f5
		color #7e7d7d
.form-control::-moz-placeholder
	color #999
	opacity 1

.form-control:-ms-input-placeholder
	color: #999

.form-control::-webkit-input-placeholder
	color #999

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control
	cursor not-allowed
	background-color #eee
	opacity 1

textarea.form-control
	height auto

input[type="search"]
	-webkit-appearance none

.btn
	display inline-block
	padding 6px 12px
	margin-bottom 0
	font-size 14px
	font-weight normal
	line-height 1.42857143
	text-align center
	white-space nowrap
	vertical-align middle
	-ms-touch-action manipulation
	touch-action manipulation
	cursor pointer
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	background-image none
	border 1px solid transparent
	border-radius 3px

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus
	outline thin dotted
	outline 5px auto -webkit-focus-ring-color
	outline-offset -2px

.btn:hover,
.btn:focus,
.btn.focus
	opacity .7
	text-decoration none

.btn:active,
.btn.active
	background-image none
	outline 0

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
	pointer-events none
	cursor not-allowed
	-webkit-box-shadow none
	box-shadow none
	opacity .65

.btn-default
	color #333
	background-color #fff
	border-color #ccc

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
	color #333
	background-color #e6e6e6
	border-color #adadad

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
	background-image none

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active
	background-color #fff
	border-color #ccc

.btn-default .badge
	color #fff
	background-color #333

.btn-primary
	color #fff
	background-color #337ab7
	border-color #2e6da4

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
	color #fff
	background-color #286090
	border-color #204d74

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
	background-image none

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active
	background-color #337ab7
	border-color #2e6da4

.btn-primary .badge
	color #337ab7
	background-color #fff

.btn-success
	color #fff
	background-color #25bc7a
	border-color #25bc7a

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
	color #fff
	background-color #0ab369
	border-color #0ab369

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
	background-image none

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active
	background-color #5cb85c
	border-color: #4cae4c

.btn-success .badge
	color #5cb85c
	background-color #fff

.btn-info
	color #fff
	background-color #5bc0de
	border-color #46b8da
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
	color #fff
	background-color #31b0d5
	border-color #269abc

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
	background-image none

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active
	background-color #5bc0de
	border-color #46b8da

.btn-info .badge
	color #5bc0de
	background-color #fff

.btn-warning
	color #fff
	background-color #f0ad4e
	border-color #eea236

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
	color #fff
	background-color #ec971f
	border-color #d58512

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
	background-image none

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active
	background-color #f0ad4e
	border-color #eea236

.btn-warning .badge
	color #f0ad4e
	background-color #fff

.btn-danger
	color #fff
	background-color #d9534f
	border-color #d43f3a

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
	color #fff
	background-color #c9302c
	border-color #ac2925

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
	background-image none

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active
	background-color #d9534f
	border-color #d43f3a

.btn-danger .badge
	color #d9534f
	background-color #fff

.btn-link
	font-weight normal
	color #337ab7
	border-radius 0

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link
	background-color transparent
	-webkit-box-shadow none
	box-shadow none

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active
	border-color transparent

.btn-link:hover,
.btn-link:focus
	color #23527c
	text-decoration underline
	background-color transparent

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus
	color #777
	text-decoration none

.btn-lg,
.btn-group-lg > .btn
	padding 10px 16px
	font-size 18px
	line-height 1.3333333
	border-radius 6px

.btn-sm,
.btn-group-sm > .btn
	padding 5px 10px
	font-size 12px
	line-height 1.5
	border-radius 3px

.btn-xs,
.btn-group-xs > .btn
	padding 1px 5px
	font-size 12px
	line-height 1.5
	border-radius 3px

.btn-block
	display block
	width 100%

.btn-block
	margin-top 5px

.btn--full
	width 100%
	text-align center

@media (max-width: 767px)
	select
		&.form-control
			appearance none
			-webkit-appearance none
			-moz-appearance none
			background: url("../img/arrow_select.gif") no-repeat right #fff;
			height 40px
			padding 6px 12px
			padding-right 25px
			background-position calc(100% - 10px) calc(1em),
			calc(100% - 5px) calc(1em),
			100% 0
	.form-control
		height 40px
		box-shadow none
