header.header--primary
  width 100%
  background-color base
  .header--primary__inner
    height 70px
    padding 20px 15px
    padding-right 0
    margin auto
  .header--primary__logo
    @extend $hover
    width 70%
    float left
    img
      width 120px
      display inline-block
    span
      color #fff
      font-size 22px
      display inline-block
      position relative
      line-height 30px
      padding-left 10px
      margin-left 10px
      border-left 1px solid #92debd
      top -7px


  .header--primary__right
    display flex
    float right
    height 100%
    align-items center

  .nav--hamburger
    display none


.dropdown-menu
  position absolute
  top 100%
  right 0
  z-index 1000
  display none
  min-width 180px
  padding 10px 12px
  font-size 14px
  text-align left
  list-style none
  background-color #fff
  border 1px solid #d2d2d2
  border-top none
  -moz-border-radius-bottomright 3px
  -webkit-border-bottom-right-radius 3px
  border-bottom-right-radius 3px
  -moz-border-radius-bottomleft 3px
  -webkit-border-bottom-left-radius 3px
  border-bottom-left-radius 3px
  li
    padding-bottom 5px
    margin-bottom 5px
    > a
      color #7e7d7d
    .fa-arrow
      background url(../img/arrow_menu.gif) no-repeat
      width 3px
      height 5px
      display inline-block
      vertical-align middle
      padding-right 10px
  .logout
     text-align center
     .btn-logout
        display block
        padding 5px 0
        background #626262
        color #fff
        border-radius 3px


.icon-user
  background url(../img/icon_user.png) left  no-repeat
  padding-left 45px
  display block
  height 70px
  line-height 70px
  vertical-align middle
  .arrow-down
    background url(../img/arrow_down.png)  no-repeat
    width 5px
    height 3px
    display inline-block
    margin-left 10px
    vertical-align middle
.open-menu
  .arrow-down
    background url(../img/arrow_up.png)  no-repeat

 .navbar--right
     position relative
     .dropdown
        > a
          color #fff
          display block
          padding-right 10px
          padding-left 10px
          &:hover
            background #45c68e
          &.open-menu
            background #45c68e


@media (max-width: 767px)
   .navbar--right
     display none

   header.header--primary .nav--hamburger
      display block

@media (max-width: 480px)
  header.header--primary
    .header--primary__logo
        padding-top 3px
        img
          width 100px
        span
          font-size 14px
          line-height 22px
          top -6px