li.nav-horizontal__lists
    a(href='#') #{config.category_1}
li.nav-horizontal__lists
    a(href='#') #{config.category_2}
li.nav-horizontal__lists
    a(href='#') #{config.category_3}
li.nav-horizontal__lists
    a(href='#') #{config.category_4}


