if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected.u-fwb
			span #{config.category_1}
			i.c-icon--triangle
else
	li.nav-box__list
		a.nav-box__list__link.u-fwb(href="#")
			span #{config.category_1}
			i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span #{config.category_3}
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span #{config.category_2}
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link.u-fwb(href="#")
		span #{config.category_4}
		i.c-icon--triangle