li.nav-box__list--top
	._list--top__r(data-target-close="target")
		i.c-icon--cross
		span.u-fs--xxxs SEARCH

li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__text 職種
		span.nav-box__search__history(data-target-history="target")
			| パティシエ
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__text 勤務地
		span.nav-box__search__history.is-empty(data-target-history="target")
			| 東京都
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__text 雇用形態
		span.nav-box__search__history.is-empty(data-target-history="target")
			| ---
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__text こだわり
		span.nav-box__search__history.is-empty(data-target-history="target")
			| ---
