li.nav-box__list--top
	.c-button-square--s(data-modal-trigger="login")
		span ログイン
	._list--top__r(data-target-close="target")
		i.c-icon--cross
		span.u-fs--xxxs MENU
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--home
		span HOME
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--secret
		span シークレット求人
li.nav-box__list.u-fs--s.u-fwb
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--content
		span コンテンツ一覧
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--book
		span #{config.category_1}
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--beauty
		span #{config.category_2}
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--hat
		span #{config.category_3}
		i.c-icon--triangle
li.nav-box__list.u-fs--xs.u-fwb
	a.nav-box__list__link.nav-box__list__back(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--star
		span #{config.category_4}
		i.c-icon--triangle
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span #{config.sitename}とは
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span お問い合わせ
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span 運営会社
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--triangle.u-mr5
		span プライバシーポリシー


