ul.tab__block.u-mt25
	li.tab__block__button.u-fs--xs.is-active(data-trigger-tab="trigger") 職種で検索
	li.tab__block__button.u-fs--xs(data-trigger-tab="trigger")  こだわりで検索
.tab__block__inner(data-target-tabinner="target")
	ul.tab__block--top
		li.tab__block__category.u-fs--xs #{config.searchCategory_1}
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#")
						|#{config.searchList_1_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_4}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_5}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_6}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_7}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_8}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_1_9}
					span.c-icon--triangle
				li &nbsp;
	ul.tab__block--middle.u-mt15
		li.tab__block__category.u-fs--xs #{config.searchCategory_2}
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") #{config.searchList_2_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_4}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_5}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_6}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_7}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_2_8}
					span.c-icon--triangle
	ul.tab__block--bottom.u-mt15
		li.tab__block__category.u-fs--xs #{config.searchCategory_3}
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") #{config.searchList_3_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_3_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_3_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchList_3_4}
					span.c-icon--triangle
.tab__block__inner.is-disable(data-target-tabinner="target")
	ul.tab__block--top
		li.tab__block__category.u-fs--xs 応募条件
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") #{config.searchListCommit_1_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_4}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_5}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_6}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_1_7}
					span.c-icon--triangle
				li &nbsp;
	ul.tab__block--middle.u-mt15
		li.tab__block__category.u-fs--xs 待遇
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") #{config.searchListCommit_2_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_4}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_5}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_6}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_7}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_8}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_9}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_10}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_2_11}
					span.c-icon--triangle
				li &nbsp;
	ul.tab__block--bottom.u-mt15
		li.tab__block__category.u-fs--xs 特徴
		li
			ul.tab__block__lists.u-fwb.u-fs--s
				li
					a(href="#") #{config.searchListCommit_3_1}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_2}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_3}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_4}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_5}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_6}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_7}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_8}
					span.c-icon--triangle
				li
					a(href="#") #{config.searchListCommit_3_9}
					span.c-icon--triangle
				li &nbsp;