- var page = 'mybox'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|お気に入りBOX
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.column-left__heading--normal
						h1.column-left__ttl--normal.u-fs--xxxl--contents
							span.column-left__ttl__inner
								| お気に入り&nbsp;BOX
						p.column-left__ttl__right--normal.u-fs--sh
							span._ttl__right__num.u-fs--l
								span.u-fwd.u-fs--xxl--contents 00
								|件キープしています
							span._ttl__right__name.u-fs--l
								i.c-icon--people
								span.u-fwb example@runda.com
								| さん
					.column-box--wide
						include ../partial/column_left/_column_wide
						include ../partial/column_left/_column_wide
						include ../partial/column_left/_column_wide
					.pager.u-mt30
						include ../partial/_pager
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
						include ../partial/column_right/_column_rightContent_popular
		include ../partial/_footer
		script(src='#{domain}js/app.js')




