<dl class="detail_list" id="salon_detail_list">
 <dt>
  応募概要
 </dt>
 <dd>
  面貸面貸面貸 
  面貸 
  面貸 
  面貸 
   
  面貸フリースタイリスト （面貸し） 
  独立を目指して資金を貯めたい方、自分の時間を大切にしたい方、お子様がいてフルタイムで働けないパパ、ママ美容師さん！ 
  料金も自由設定でOK面貸 
  　出勤―自由（自分のお客様の予約がある時だけで大丈夫です！） 
  　報酬―売り上げの60％（材料費、光熱費は当社が負担します！） 
   
  面貸スタイリスト（社員） 
  夢や希望があるスタイリストさん！顧客をお持ちでなくてもOK面貸 
  恵比寿面貸代官山で勝負したい方、経営ノウハウを学びたい、スキルアップしたい、撮影したい！などなど… 
  　基本給20万～ 
  売り上げによって歩合給相談！ ｛例 指名売り上げ50万の場合→基本給20万＋歩合給5万で25万！｝ 
  交通費全額支給 
   
  面貸アシスタント （社員） 
  1からスタートのサロンです！みんなで一緒に良いサロンを創っていきましょう！ 
  基本給16万～ 
  技術手当有（技術テストに受かると随時給料UP！） 
  交通費全額支給 
  
 </dd>
 <dt>
  応募条件
 </dt>
 <dd>
  美容師免許取得済み
 </dd>
 <dt>
  主な業務
 </dt>
 <dd>
  美容業務
 </dd>
 <dt>
  採用予定人数
 </dt>
 <dd>
  １〜２人
 </dd>
 <dt>
  雇用形態
 </dt>
 <dd class="itemize first-item sm_multiple">
  <span>正社員(中途)</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>パート</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>契約社員</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>業務委託</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>面貸し</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>時間貸し</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>その他雇用</span>
 </dd>
 <dd class="itemize last-item last-other-item sm_multiple">
  <span>フリー業務提携</span>
 </dd>
 <dt>
  職種
 </dt>
 <dd class="itemize first-item sm_multiple">
  <span>スタイリスト</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>アシスタント</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>ジュニアスタイリスト</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>その他職種</span>
 </dd>
 <dd class="itemize last-item last-other-item sm_multiple">
  <span>アイリスト</span>
 </dd>
 <dt>
  美容師免許
 </dt>
 <dd>
  必須
 </dd>
 <dt>
  給与
 </dt>
 <dd>
  面貸面貸面貸 
  面貸 
  面貸 
  面貸 
   
  面貸フリースタイリスト （面貸し） 
  独立を目指して資金を貯めたい方、自分の時間を大切にしたい方、お子様がいてフルタイムで働けないパパ、ママ美容師さん！ 
  料金も自由設定でOK面貸 
  　出勤―自由（自分のお客様の予約がある時だけで大丈夫です！） 
  　報酬―売り上げの60％（材料費、光熱費は当社が負担します！） 
   
  面貸スタイリスト（社員） 
  夢や希望があるスタイリストさん！顧客をお持ちでなくてもOK面貸 
  恵比寿面貸代官山で勝負したい方、経営ノウハウを学びたい、スキルアップしたい、撮影したい！などなど… 
  　基本給20万～ 
  売り上げによって歩合給相談！ ｛例 指名売り上げ50万の場合→基本給20万＋歩合給5万で25万！｝ 
  交通費全額支給 
   
  面貸アシスタント （社員） 
  1からスタートのサロンです！みんなで一緒に良いサロンを創っていきましょう！ 
  基本給16万～ 
  技術手当有（技術テストに受かると随時給料UP！） 
  交通費全額支給 
  
 </dd>
 <dt>
  昇給
 </dt>
 <dd>
  技術昇給有り
 </dd>
 <dt>
  交通費
 </dt>
 <dd>
  全額支給
 </dd>
 <dt>
  各種手当
 </dt>
 <dd class="itemize first-item sm_multiple">
  <span>役職手当</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>交通費支給</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>指名手当て</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>販売手当て</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>その他手当て</span>
 </dd>
 <dd class="itemize last-item last-other-item sm_multiple">
  <span>技術手当有り</span>
 </dd>
 <dt>
  福利厚生
 </dt>
 <dd class="itemize first-item sm_multiple">
  <span>雇用・労災保険</span>
 </dd>
 <dd class="itemize sm_multiple">
  <span>その他福利</span>
 </dd>
 <dd class="itemize last-item last-other-item sm_multiple">
  <span>美容国保</span>
 </dd>
 <dt>
  勤務時間
 </dt>
 <dd>
  要相談
 </dd>
 <dt>
  休日
 </dt>
 <dd>
  毎週火曜定休日 
  週休２日
 </dd>
 <dt>
  TEL
 </dt>
 <dd>
  <a href="tel:03-6427-8428">03-6427-8428</a>;
 </dd>
 <dt>
  ホームページ
 </dt>
 <dd>
  <a target="_coconnect" href="http://www.calenda-hair.com">http://www.calenda-hair.com</a>
 </dd>
 <dt>
  勤務地
 </dt>
 <dd>
  渋谷〜代官山 
  東京都渋谷区猿楽町2-11氷川ビル303号
 </dd>
 <dt>
  勤務先住所
 </dt>
 <dd>
  東京都渋谷区猿楽町2-11
 </dd>
 <dt>
  アクセス
 </dt>
 <dd>
  渋谷駅徒歩８分 
  代官山駅徒歩９分
 </dd>
 <dt>
  求人タグ
 </dt>
 <dd class="salon_tag">
  <p class="speciality_tag_08 result_tag">交通費支給</p>
  <p class="speciality_tag_16 result_tag">新規・フリー多数</p>
  <p class="speciality_tag_24 result_tag">独立支援制度</p>
  <p class="speciality_tag_27 result_tag">子育て支援パートタイマー</p>
  <p class="speciality_tag_29 result_tag">40歳以上歓迎</p>
  <p class="speciality_tag_31 result_tag">マンツーマン接客</p>
  <p class="speciality_tag_32 result_tag">店長がオーナー</p>
 </dd>
</dl>
