@media only screen and (min-width: 1025px)
	table.rwd-tables
		border-collapse separate
		border-spacing 0
		border-left 1px solid #ccc
		.tr_header
			th
				border none
				padding 10px 0
				span
					display block
					border-right 1px solid #a0a0a0
			.radius-left-top
				border-top-left-radius 3px
			.radius-right-top
				border-top-right-radius 3px
		td
			border-top none
			border-left none
		tr
			&:last-child
				td
					&:first-child
						border-bottom-left-radius 3px
					&:last-child
						border-bottom-right-radius 3px
@media only screen and (max-width: 1024px)
	table.rwd-tables
		border-collapse separate
		border-spacing 0
		tr
			border none
			&.close
				.td_btn
					background #fff
			&:nth-of-type(odd)
				background #fff
		.td_btn
			text-align center
			padding-bottom 20px
			margin-bottom 20px
			padding-top 20px
			display block
			width 100%
			border-right none
			border-bottom 1px solid #d2d2d2
			.btn-success
				display block
				font-weight bold
				padding 10px 12px
				line-height 1
		td
			padding 0
			border none
			&:first-child
				.display_table
					border-top-right-radius 5px
					border-top-left-radius 5px
					.thead
						border-top-left-radius 4px
			&.radius--bottom
				.display_table
					border-bottom 1px solid #d2d2d2
					border-bottom-left-radius 5px
					border-bottom-right-radius 5px
					.thead
						border-bottom-left-radius 4px
		.display_table
			display table
			width 100%
			border 1px solid #d2d2d2
			border-bottom none
	span.rwd-tables
		padding 10px 6px
		line-height 1

	td span.rwd-tables.thead
		width 30%
		background #626262
		color #FFFFFF
		font-weight bold
		border-right 1px solid #d2d2d2
		display table-cell
		text-align center
		vertical-align middle
	td span.rwd-tables.tbody
		width 70%
		text-align left
		display table-cell

	.tr_header
		border none
@media only screen and (max-width: 767px)
	table.rwd-tables
		tr
			&:last-child
				.td_btn
					border-bottom none
					margin-bottom 0