//.nav-box
//	.nav-box__list

.nav-box
	background-color primary__
	.nav-box__list
		margin 0 20px
		position: relative
		&:after
			content ''
			display block
			position absolute
			bottom 0
			height 1px
			background-color line
			width 100%
			left 0
		&:nth-last-of-type(1)
			&:after
				display none
	.nav-box__list--selected
		display flex
		margin 0 -20px
		padding 15px 20px
		align-items center
		background menu
		color base
	.nav-box__list__link
		display flex
		margin 0 -20px
		padding 15px 20px
		align-items center
		background primary__
		color text
		&:hover
			text-decoration none
			background menu
			color base
	.nav-box__list__icon
		width 25px
		display block
		text-align center
		margin-right: 5px
	.c-icon--l
		margin-right: 10px
	&.nav-box--inHeader
		position absolute
		top 60px
		right 0
		width 300px
	&.is-disable
		display none

//bottom vcategory nav
.nav-box--category__ttl
	border-top 1px solid line
	color text
	background primary__
	padding 30px 0 10px 20px
	.c-icon--circle--text__ttl
		margin-right: 5px
.nav-box--category
	padding-bottom: 30px
	width 100%
	display flex
	flex-wrap wrap
	.nav-box__list
		height 52px
		width 33.33%
		position: relative
		border-top 1px solid line
		border-right 1px solid line
		&:nth-of-type(4),
		&:nth-of-type(5),
		&:nth-of-type(6)
			border-bottom 1px solid line
		&:nth-of-type(3),
		&:nth-of-type(6)
			border-right none
	.nav-box__list__link
		display flex
		height: 100%
		align-items center
		background primary__
		color text
		&:hover
			text-decoration none
			background menu
			color base
	.nav-box__list__icon
		width 25px
		height 21px
		display flex
		align-items center
		text-align center
		margin-right: 5px
		margin-left: 20px
	.nav-box__list--selected
		display flex
		align-items center
		background menu
		color base
		height 100%
		position relative
	.nav-box__list__arrow
		display block
		position absolute
		right 20px
		top 18px
		margin auto



	//overflow: hidden
	//.nav-box--category__lists
	//	float: left








