.dd
	border solid 1px #ccc
	background #f5f5f5
	&.borderRadiusBtm
		background #fff
	.ddChild
		li
			border-bottom none
	.ddTitle
		height 28px
		padding 3px 5px
		padding-left 12px
		color #7e7d7d
		.ddTitleText
			padding 0px
			.ddlabel
				line-height 21px
	.divider
		border-right none
		border-left none
	.ddArrow
		background url("../img/select_arrow.svg") no-repeat
		background-size 5px
		margin-top -5px
		right 0
		width 13px
		&:hover
			background-position 0% 0%
.borderRadiusBtm
	ul
		li
			&:first-child
				border-radius 0
.borderRadiusTp
	border-radius 3px
.borderRadius
	border-radius 3px