- var page = 'notfound'
- var title = 'キレイにスルンダ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header
		.primary-box--full
			span(data-target-rightcolumn="target")
			span(data-target-leftcolumn="target")
			span(data-target-maincolumn="target")
			.primary-box--full__inner(data-return="target")
				.primary-box--full__content
					h2
						|404
						br
						|Not Found
					p.u-fs--xxl.u-mt40
						|そんなページは、存在しないんだ。
					.c-button-square--l.u-fs--xxl.u-fwb.u-mt60
						a(href="#") HOMEへ戻るんだ
		include partial/_footer
		script(src='./js/app.js')
