- var page = 'home'
- var title = 'キレイにスルンダ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header
		include partial/_topimg_box
		.topSearch-box
			.topSearch-box__inner
				p.topSearch-box__inner__text.u-fs--xlh.u-fwb
					|美容業界の求人を
					br
					|まとめカンタン検索！
				form.quick-search
					include partial/form/_quick_search
		.primary-box
			.primary-box__inner(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					include partial/column_left/_column_search
					.column-box--media.u-mt30
						include partial/column_left/_column_media_secret
					.column-box--media.u-mt30
						include partial/column_left/_column_media
				.column-right.u-mt30
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include partial/column_right/_column_rightTop
						//TODO jadeの引数でis-selectedを変更する
						ul.nav-box.u-fs--xs.u-mt30
							include partial/_nav
						include partial/column_right/_column_rightContent_new
						include partial/column_right/_column_rightContent_popular
		include partial/_footer
		script(src='./js/app.js')
































