- var page = 'search_result'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span 調理の求人
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span パティシエの求人
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| 東京都のパティシエの求人
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					input(type="hidden" id="requestWaysite" value="")
					form
						table.search-table.u-fs--xs
							tr.search-table__row
								td.search-table__type
									|職種
								td.search-table__right(colspan=2)
									.c-button-square--ms--gray.u-fs--xs.u-mr10(data-modal-trigger="jobmodal")
										|選択する
										span &gt;
									.check__tag__addblock(data-target-addtag="job")
							tr.search-table__row
								td.search-table__type
									|勤務地
								td.search-table__right--side(colspan=2)
									.quick-search__select__wrap.c-icon__wrapper--triangle
										select#pro_select.quick-search__select.u-fs--m(name='pro', data-trigger-location='trigger')
											option(value='') 都道府県
											option(value='1') 北海道
											option(value='2') 青森県
											option(value='3') 岩手県
											option(value='4') 宮城県
											option(value='5') 秋田県
											option(value='6') 山形県
											option(value='7') 福島県
											option(value='13') 東京都
											option(value='14') 神奈川県
											option(value='11') 埼玉県
											option(value='12') 千葉県
											option(value='9') 栃木県
											option(value='10') 群馬県
											option(value='8') 茨城県
											option(value='19') 山梨県
											option(value='15') 新潟県
											option(value='20') 長野県
											option(value='16') 富山県
											option(value='17') 石川県
											option(value='18') 福井県
											option(value='23') 愛知県
											option(value='21') 岐阜県
											option(value='22') 静岡県
											option(value='24') 三重県
											option(value='27') 大阪府
											option(value='28') 兵庫県
											option(value='26') 京都府
											option(value='25') 滋賀県
											option(value='29') 奈良県
											option(value='30') 和歌山県
											option(value='31') 鳥取県
											option(value='32') 島根県
											option(value='33') 岡山県
											option(value='34') 広島県
											option(value='35') 山口県
											option(value='36') 徳島県
											option(value='37') 香川県
											option(value='38') 愛媛県
											option(value='39') 高知県
											option(value='40') 福岡県
											option(value='41') 佐賀県
											option(value='42') 長崎県
											option(value='43') 熊本県
											option(value='44') 大分県
											option(value='45') 宮崎県
											option(value='46') 鹿児島県
											option(value='47') 沖縄県
									.c-button-square--ms--gray.is-disable.u-fs--xs(data-modal-trigger="prefmodal")
										| 市区町村の選択
										span &gt;
									.c-button-square--ms--gray.is-disable.u-fs--xs(data-modal-trigger="waysidemodal")
										| 沿線・駅の選択
										span &gt;
									.check__tag__addblock(data-target-addtag="pref")
									.check__tag__addblock(data-target-addtag="wayside")
							tr.search-table__row
								td.search-table__type
									|雇用形態
								td.search-table__right(colspan=2)
									input.search-checkbox(type="checkbox" name="a" id="check01" checked)
									label.search-checkbox__label(for="check01")
										|正社員
									input.search-checkbox(type="checkbox" name="a" id="check02")
									label.search-checkbox__label(for="check02")
										|アルバイト
									input.search-checkbox(type="checkbox" name="a" id="check03")
									label.search-checkbox__label(for="check03")
										|パート
									input.search-checkbox(type="checkbox" name="a" id="check04")
									label.search-checkbox__label(for="check04")
										|契約
									input.search-checkbox(type="checkbox" name="a" id="check05")
									label.search-checkbox__label(for="check05")
										|派遣
									input.search-checkbox(type="checkbox" name="a" id="check06")
									label.search-checkbox__label(for="check06")
										|その他
							tr.search-table__row
								td.search-table__type
									|こだわり
								td.search-table__right(colspan=2)
									.c-button-square--ms--gray.u-fs--xs.u-mr10(data-modal-trigger="hangupmodal")
										| 選択する
										span &gt;
									.check__tag__addblock(data-target-addtag="hangup")
							tr.search-table__row
								td.search-table__type
									|キーワード
								td.search-table__right--multiple
									input.search-table__text(type="text")
								td._right--multiple--btn
									input.c-button-square--mm.u-fs--l(type="submit" value="125件を検索")
						include ../../partial/modal/job
						include ../../partial/modal/pref
						include ../../partial/modal/wayside
						include ../../partial/modal/hangup
					p.column-left__search__breadcrumb.u-fs--xl.u-fwb.u-mt20
						a(href="#") パティシエ
						|/
						a(href="#") 東京都
						|/
						a(href="#") 正社員
						|/
						a(href="#") 未経験歓迎
						|/
						|の求人転職情報
					.column-left__info.u-mt20
						.column-left__info__text.u-fs--l
							span.u-fs--xxxl--recruit 25
							| 件の求人
						.pager
							include ../../partial/_pager_min
					.column-box--wide
						include ../../partial/column_left/_column_search_result
						include ../../partial/column_left/_column_search_result
						include ../../partial/column_left/_column_search_result
						include ../../partial/column_left/_column_search_result
						include ../../partial/column_left/_column_search_result
					.column-left__info.u-mt30
						.column-left__info__text.u-fs--l
							span.u-fs--xxxl--recruit 25
							| 件の求人
						.pager
							include ../../partial/_pager_min
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')



