.quick-search
	display flex
	align-items center
	justify-content space-between
	width 800px
	&.quick-search--inHeader
		position absolute
		top 60px
		left 0
		background-color primary__
		width 100%
	&.is-disable
		display none
	.-search--inHeader__inner
		width pc-width
		display flex
		align-items center
		justify-content space-between
		width 800px
		height 70px
		margin auto
.quick-search__select
	width 160px
	height 40px
.quick-search__select--l
	width 221px
	height 40px
.quick-search__select--s
	width 107px
	height 40px
.quick-search__input
	width 230px
	height 40px
	color primary
	&:placeholder-shown
		color primary
		line-height: 1.5
	&::-webkit-input-placeholder
		color primary
		line-height: 1.5
.button-inner
	margin auto
	display block
	width 100%

