.column-left__search__breadcrumb
	color text
.search-table
	background-color primary__
	border 1px solid line
	width 100%
	border-collapse:collapse
	.c-icon__wrapper--triangle
		display inline-block

	.search-table__text
		display: block
		border-radius: 3px
		border none
		height: 34px
		line-height: 34px
		width: 100%
		color: #7e7d7d
		background-color back

.search-table__row
	border-bottom 1px solid line

.search-table__type
	background-color form_
	color text
	width 80px
	padding-left 10px

.search-table__right
	padding: 10px 10px 10px 15px
	.c-button-square--ms--gray
		display inline-block
		text-align: center
		line-height: 36px
		position: relative
		text-align left
		padding-left: 10px
		> span
			position: absolute
			right 5px
	.check__tag__addblock
		display inline-block
		margin-left: -10px
	.c-tag--detail--table
		margin-left: 10px
		margin-top: 10px
		color text
		cursor pointer
.search-table__right--side
	@extend .search-table__right
	.c-button-square--ms--gray
		margin-left: 10px
		&:nth-last-of-type(1)
			margin-right: 15px
	.check__tag__addblock
		display block
.search-checkbox
	display none
	& + label
		&:before
			content ''
			display inline-block
			position: relative
			margin-right: 5px
			@extend .c-icon--check
			top 1px
	&:checked
		& + label
			&:before
				@extend .c-icon--check--on
.search-checkbox__label
	width auto
	display inline-block
	color text
	margin-right: 30px
	&:nth-last-of-type(1)
		margin-right: 0

.search-table__right--multiple
	@extend .search-table__right
	width 335px
	padding-right: 10px
._right--multiple--btn
	@extend .search-table__right
	width 270px
	padding-right: 10px
	padding-left: 10px
	border-left 1px solid line
	.c-button-square--mm
		width 100%
		background-color: primary_
		box-shadow: 0 -4px 0 -1px shadow__ inset