- var page = 'contact'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|お問い合わせ
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1.column-left__ttl--normal.u-fs--xxl--contents
						|お問い合わせ
					.form--primary.u-mt10
						p.form--primary__repletion.u-fs--xs--lh--form
							|お問い合わせ内容に関しては、編集部にて確認し対応を行っておりますが、
							|ご返信にお時間をいただく場合がございます。また、お問い合せの内容によっては対応できない場合もございますので、
							|ご了承ください。
						form(novalidate).u-mt15
							table.form--primary__table
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='company')
											|種
											| &nbsp;
											|別
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div.-contact__radio__block
											input.form--primary__radio(type='radio', name='a' id='radio1', value='個人' checked='checked' data-trigger-radioname="name")
											label.u-fs--l(for='radio1') 個人
											input.form--primary__radio(type='radio', name='a' id='radio2', value='法人' data-trigger-radioname="company")
											label.u-fs--l(for='radio2') 法人
										div(data-target-inputcompany="target")
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|会社名を入力してください。
										input.form--primary__text.u-fs--l(id='company' type='text' placeholder='会社名を入力してください' data-validate="target" data-target-inputcompany="target" required)
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='name')
											|お名前
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|お名前を入力してください。
										input.form--primary__text.u-fs--l(id='name' type='text' placeholder='お名前を入力してください' data-validate="target" required value="テスト")
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='mail')
											|メールアドレス
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="mail")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|メールアドレスの入力に誤りがあります。
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|メールアドレスを入力してください。
										input.form--primary__text.u-fs--l(id='mail' type='text' placeholder='例） example@runda.com' data-mail="target" data-validate="target" autocomplete="off" required)
										p.form--primary__repletion.u-fs--xxs-lh.u-mt5
											| ※こちらのメールアドレスにご返信させていただきます。
											br
											| 手数ですがメールが受信可能かご確認ください。
								tr.-contact__table__row
									td.form--primary__ttl.u-fs--l.u-fwb
										label(for='view')
											|お問い合わせ内容
										span.c-tag--form--required.u-fs--xxs 必須
									td.form--primary__detail
										div
											p.form__error.u-fs--xs--lh--form(data-error="required")
												span.c-icon--triangle--attention.u-fs--xxxs
													span !
												|お問い合わせ内容を入力してください。
										textarea.form--primary__textarea.u-fs--lh--contents(id='view' placeholder='ご意見・ご感想をご記入ください' data-validate="target" required)
							.-contact__button__block
								.c-button-square--l--gray.u-fs--xxl.u-fwb(data-reset='reset')
									| リセット
								button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
									span.button-inner 確認する
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
		include ../partial/_footer
		script(src='#{domain}js/app.js')
