- var page = 'secret'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|シークレット求人
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.column-left__heading--normal
						h1.column-left__ttl--normal.u-fs--xxxl--contents
							span.column-left__ttl__inner
								| シークレット求人
						p.column-left__ttl__right--border.u-fs--sh
							| レストラン、和食店、洋食店、イタリアンなどの中から、特におすすめしたい求人情報をまとめてご紹介！
					.column-left__info.u-mt20
						.column-left__info__text.u-fs--l
							span.u-fs--xxxl--recruit 25
							|件の求人
						.pager
							include ../partial/_pager_min
					.column-box--wide
						include ../partial/column_left/_column_secret
					.column-left__info.u-mt30
						.column-left__info__text.u-fs--l
							span.u-fs--xxxl--recruit 25
							| 件の求人
						.pager
							include ../partial/_pager_min
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
						include ../partial/column_right/_column_rightContent_popular
		include ../partial/_footer
		script(src='#{domain}js/app.js')




