- var page = 'login'
- var title = '食べるんだ管理画面 - 採用担当者様用ログイン'
- var domain = '../'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body


		.primary-login.box--reset--pass
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
				h1.title-login パスワード再設定画面
			.primary-login__short_resetpass.text-center
					|このページはパスワードをリセットするフォームです。
					br
					|覚えがない方は閉じてください。
			.form--login__middle
				form(action='', name='', method='post')
					.form-group.email
						input#password.form-control.error(name='password', placeholder='新しいパスワード', maxlength='100', type='password',value='########',required='required')
						p.label_error.u-mt10 ※8桁以上の英数字をご入力ください
					.password
						input#password_confirm.form-control.error(name='password_confirm', placeholder='もう一度新しいパスワードをご入力ください', maxlength='100', value='########',type='password',required='required')
						p.label_error.u-mt10 ※入力したパスワードに誤りがあります
					.row.u-mt30
						button.btn.btn-success.btn--full(type='submit') リセット


		script(src='#{domain}js/app.js')
