- var page = 'login'
- var title = '食べるんだ管理画面 - パスワードを再設定する'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.primary-login.box--forget--pass
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
			.primary-login__short
				p
					|パスワードの再設定、又はパスワードを忘れた方は、
					br
					|登録されたメールアドレスを入力して送信ボタンを押してください。
					br
					|入力したメールアドレスにパスワード再設定用URLが送信されます。
			.form--login__middle
				form(action='', name='forget_pass', method='post')
					.form-group.email
						input#email.form-control.error(name='email', placeholder='メールアドレス', maxlength='100', type='text',value='xuong.banh@jellyfishhr.com',required='required')
						p.label_error.u-mt10 ※このメールアドレスは登録されていません
					.row.padding--top--10
						button.btn.btn-success.btn--full(type='submit') 送信
				.text-center
					a(href="/login/index.html") > ログイン画面に戻る
		script(src='#{domain}js/app.js')
