- var page = 'login'
- var title = '食べるんだ管理画面 - 採用担当者様用ログイン'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body


		.primary-login
			.primary-login__logo
				img(src='../img/svg/logo.svg', alt='logo')
				h1.title-login 管理画面ログイン
			.form--login__middle
				form(action='', name='', method='post')
					.form-group.email
						input#email.form-control(name='email', placeholder='メールアドレス', maxlength='100', type='text',required='required')
					.password
						input#password.form-control(name='password', placeholder='パスワード', maxlength='100', type='password',required='required')
					.row.u-mt30
						button.btn.btn-success.btn--full(type='submit') ログイン
					.text-center.u-mt25
						a(href="/login/forget_password.html" class='forget_pass sp') > パスワードを忘れた方こちら

		script(src='#{domain}js/app.js')
