.u-fwb
  font-weight: bold
.u-arrow__text
  margin-right: 5px
.u-txtc
  text-align center
.u-txtr
  text-align right
.u-txtl
  text-align left
.u-fs--xxxxl
  font-size: 2.3rem
.u-fs--xxxl
  font-size: 2.1rem
.u-fs--xxl
  font-size: 2.5rem
.u-fs--xlh--contents
  font-size: 2.3rem
  line-height: 3.2rem
.u-fs--xlh
  font-size: 1.8rem
  line-height: 2.5rem
.u-fs--xl--contents
  font-size: 1.8rem
.u-fs--xl
  font-size: 2.3rem
.u-fs--l
  font-size: 1.6rem
.u-fs--lh
  font-size: 1.6rem
  line-height: 2.2rem !important
.u-fs--mh--contents
  font-size: 1.5rem
  line-height: 2rem
.u-fs--mh
  font-size: 1.5rem
  line-height: 2.2rem
.u-fs--m
  font-size: 1.5rem
.u-fs--sh
  font-size: 1.4rem
  line-height: 2.2rem
.u-fs--sh--contents
  font-size: 1.4rem
  line-height: 2rem
.u-fs--sh--recruit
  font-size: 1.4rem
  line-height: 1.9rem
.u-fs--s
  font-size: 1.4rem
.u-fs--xsh
  font-size: 1.3rem
  line-height: 2rem
.u-fs--xs
  font-size: 1.3rem
.u-fs--xs--contents
  font-size: 1.2rem
.u-fs--xs--qa
  font-size: 1.2rem
  line-height: 1.7rem
.u-fs--xxs
  font-size: 1.1rem
.u-fs--xxsh
  font-size: 1.1rem
  line-height: 1.6rem
.u-fs--xxxs
  font-size: 1rem

