//.c-btn
$btn-primary
	display block
	border-radius 3px
	display flex
	justify-content center
	align-items center
	cursor pointer


$btn-full
	width 100%
	height 40px

$btn-l
	width 230px
	height 50px

$btn-mm
	width 170px
	height 40px

$btn-m
	width 160px
	height 40px

$btn-ms
	width 140px
	height 36px

$btn-s
	width 130px
	height 36px

$btn-ss
	width 100px
	height 35px
	
$btn-social
	width 160px
	height 35px

$btn-color-primary
	background-color primary__
	color base

$btn-color-secondary
	background-color base
	color primary__

$btn-color-tertiary
	background-color disable
	color primary__

$btn-color-facebook
	background-color social

$btn-color-twitter
	background-color social_

$btn-color-hatena
	background-color social__
	
$btn-color-qa
	background-color primary__
	color text

//$btn-color-primary
//.c-button-square
$btn-hover-area
	display block
	width 100%
	height 100%

.c-button-square--s
	@extend $btn-s
	@extend $btn-color-primary
	@extend $btn-primary
a
	&.c-button-square--s
		@extend $hover
		@extend $btn-color-primary

.c-button-square--m
	@extend $btn-primary
	@extend $btn-m
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset

.c-button-square--mm
	@extend $btn-primary
	@extend $btn-mm
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset
	> a
		@extend $btn-hover-area

.c-button-square--mm--gray
	@extend $btn-primary
	@extend $btn-color-tertiary
	@extend $btn-mm
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset
	> a
		@extend $btn-hover-area
	&:hover
		text-decoration underline
		
.c-button-square--qa
	@extend $btn-primary
	@extend $btn-color-qa
	@extend $hover
	height 26px
	width 170px
	
.c-button-square--ms--gray
	@extend $btn-primary
	@extend $btn-color-tertiary
	@extend $btn-ms
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset
	> a
		@extend $btn-hover-area

.c-button-square--l
	@extend $btn-primary
	@extend $btn-l
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset
	> a
		@extend $btn-hover-area
		display flex
		align-items center
		justify-content center

.c-button-square--l--gray
	@extend $btn-primary
	@extend $btn-l
	@extend $btn-color-tertiary
	@extend $hover
	//border-bottom shadow_ 4px solid
	box-shadow:0px -4px 0px -1px shadow_ inset
	&:hover
		text-decoration underline

.c-button-square--full
	@extend $btn-primary
	@extend $btn-full
	@extend $btn-color-secondary
	@extend $hover
	//border-bottom shadow 4px solid
	box-shadow:0px -4px 0px -1px shadow inset

.c-button-square--social
	@extend $btn-primary
	@extend $btn-social
	@extend $hover
	&.c-facebook
		@extend $btn-color-facebook
	&.c-twitter
		@extend $btn-color-twitter
	&.c-hatena
		@extend $btn-color-hatena
	._social__block__icon
		margin-right: 10px

.c-button-square--toTop
	@extend $btn-primary
	@extend $hover
	@extend $btn-ss
	@extend $btn-color-secondary
	border-radius 5px 5px 0 0





