.nav--hamburger
	cursor pointer
	@extend $hover
	color primary__
	padding 10px 7px
	border-radius 4px
	margin-right 10px
	background #FFFFFF
	.nav--hamburger__list
		display block
		background-color #25bc7a
		width 25px
		height 1px
		margin-bottom: 4px
	> span
		&:nth-of-type(3)
			margin-bottom 0px
	.nav--hamburger__text
		color primary__
		display block
		text-align center

.nav-box-mobile
	position fixed
	z-index 500
	top 0
	right -270px
	display block
	overflow-x hidden
	width 270px
	height 100%
	transition all .4s
	background #eeeeee
	li
		border-bottom 1px solid #d2d2d2
		background #FFFFFF
		a
			color #000000
			padding 15px 15px
			display block
		i
			float right
		&.nav-box__list--top
			padding 0
		&.logout
			padding 25px 15px
			text-align center
			border-bottom none
			a
				background #7e7d7d
				padding 10px 0
				color #FFFFFF
				border-radius 3px
	._btn_close_nav_box
		text-align right
		background #eeeeee
		padding 10px 15px
		span
			background url("../img/icon_close_nav.png") no-repeat
			width 20px
			height 2t0px
			display inline-block
			background-size 100%
			text-indent -9999px
			font-size 0


