- var page = 'entry'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| 応募フォーム
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.form--primary__topBlock
						h1.column-left__ttl--normal.u-fs--xxl--contents
							| 応募フォーム
						.flow__arrow.u-fs--s
							span.c-icon--flow--l
								| 1.登録
							span.c-icon--flow--c--is
								| 2.確認
							span.c-icon--flow--r
								| 3.応募完了
					.form--primary.u-mt10
						p.form--primary__repletion.u-fs--xs--lh--form.u-fwb
							| Liquor Importers株式会社
						p.form--primary__repletion.u-fs--xs--lh--form
							span 月給170,000円〜400,000円...
							span 新宿三丁目、秋葉原、日本...
						form.u-mt15
							h2.form--primary__heading.u-fs--sh 基本情報
							table.form--primary__table--noBorder
								tbody
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| お名前
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 田中一郎
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| フリガナ
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l タナカイチロウ
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 性別
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 男
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 生年月日
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 0000年00月00日
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| メールアドレス
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l aaaaa@aaaaa.co.jp
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 生年月日
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 0000年00月00日
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 電話番号
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 09000000000
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 現在の就業状況
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 在職中（飲食関係）
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 入社可能時期
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											span.u-fs--l 1ヶ月以内
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 希望連絡時間・連絡方法
										td.form--primary__detail
											span.u-fs--l 平日午前中/メール連絡希望
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 取得資格
										td.form--primary__detail
											span.u-fs--l 調理師/栄養士/ソムリエ
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											| 職務経歴・自己PR
										td.form--primary__detail
											span.u-fs--lh
												|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
												|テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							h2.form--primary__heading.u-fs--sh 希望職種
							p.u-fs--s.u-fwb.u-mt30 Liquor Importers株式会社
							.-primary__table__check.u-fs--xs
								span.search-checkbox__label.u-mt20 パティシエ、販売スタッフ
							h2.form--primary__heading.u-fs--sh.u-mt20 希望雇用形態
							.-primary__table__check.u-fs--xs
								span.search-checkbox__label.u-mt20 正社員、アルバイト
							.form__button__block--multi.u-mt30
								a.c-button-square--l--gray.u-fs--xxl.u-fwb
									| 修正する
								button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
									span.button-inner 送信する
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
		include ../../partial/_footer
		script(src='#{domain}js/app.js')
