audio:not([controls]),
[hidden]
{
    display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}
body
{
    line-height: 1;

    color: #000;
    background: #fff;
}
ol,
ul
{
    list-style: none;
}
table
{
    border-spacing: 0;
    border-collapse: separate;

    vertical-align: middle;
}
caption,
th,
td
{
    font-weight: normal;

    text-align: left;
    vertical-align: middle;
}
a img
{
    border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
main
{
    display: block;

    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;
}
audio,
canvas,
video
{
    display: inline-block;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select,
button
{
    font-family: inherit;

    border: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
button
{
    padding: 0;

    background: inherit;
}
select::-ms-expand
{
    display: none;
}
input[type='submit']
{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
textarea
{
    resize: none;
}
header.header--primary .header--primary__logo:hover,
header.header--primary .header--primary__search:hover,
a.c-button-square--s:hover,
.c-button-square--m:hover,
.c-button-square--mm:hover,
.c-button-square--mm--gray:hover,
.c-button-square--qa:hover,
.c-button-square--ms--gray:hover,
.c-button-square--l:hover,
.c-button-square--l--gray:hover,
.c-button-square--full:hover,
.c-button-square--social:hover,
.c-button-square--toTop:hover,
.nav--hamburger:hover,
.topImg-box .topImg-box__list:hover
{
    text-decoration: none;

    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.column-box--media .column-box--media__detail,
.column-box--wide .-wide__list__subTtl,
.column-box--wide .-wide__list__detail
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
figure img
{
    display: block;

    width: 100%;
}
body
{
    font-family: '游ゴシック', 'Yu Gothic', YuGothic, Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ';

    padding-top: 60px;

    word-wrap: break-word;

    color: #000;
}
@media all and (-ms-high-contrast: none)
{
    body
    {
        font-family: Meiryo, 'メイリオ';
    }
}
a
{
    cursor: pointer;
}
a:link
{
    text-decoration: none;

    color: inherit;
}
a:visited
{
    text-decoration: none;

    color: inherit;
}
a:hover
{
    text-decoration: underline;

    color: inherit;
}
a:active
{
    text-decoration: none;

    color: inherit;
}
header.header--primary
{
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;

    background-color: #fff;
}
header.header--primary .header--primary__inner
{
    width: 1020px;
    height: 60px;
    margin: auto;
}
header.header--primary .header--primary__logo
{
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;

    width: 140px;
    margin: auto;
    margin: auto;
}
header.header--primary .header--primary__logo img
{
    width: 100%;
}
header.header--primary .header--primary__search
{
    position: relative;

    display: block;
    float: left;

    width: 60px;
    margin: -10px;
    margin: -1rem;
    margin-top: 0;
    padding: 10px;
    padding: 1rem;

    cursor: pointer;
    vertical-align: middle;

    color: #aaa;
}
header.header--primary .c-icon--search
{
    display: block;

    margin: 0 auto 4px;
}
header.header--primary .-primary__search__text
{
    display: block;

    text-align: center;
    word-wrap: normal;
}
header.header--primary .header--primary__right
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    float: right;

    height: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select
{
    line-height: 1;

    padding-left: 10px;

    cursor: pointer;

    color: #7e7d7d;
    border-radius: 3px;
}
select
{
    border: 1px solid #aaa;
    border-right: solid 18px #aaa;
    background-color: #fff;
}
input[type='text']
{
    border: 1px solid #aaa;
    background-color: #fff;
}
.form__error
{
    color: #e60012;
}
.form__error .c-icon--triangle--attention
{
    position: relative;

    color: #fff;
}
.form__error .c-icon--triangle--attention > span
{
    position: absolute;
    top: -1px;
    left: -1px;
}
.column-left
{
    width: 690px;
    height: 100%;
}
.column-right
{
    width: 300px;
    height: 100%;
}
.column-right__inner
{
    bottom: 0;

    height: auto;
}
.column-left--bg
{
    background-color: #fff;
}
footer
{
    padding: 30px 0 40px;

    color: #7e7d7d;
    background-color: #fff;
}
.c-button-square--s,
.c-button-square--m,
.c-button-square--mm,
.c-button-square--mm--gray,
.c-button-square--qa,
.c-button-square--ms--gray,
.c-button-square--l,
.c-button-square--l--gray,
.c-button-square--full,
.c-button-square--social,
.c-button-square--toTop
{
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    cursor: pointer;

    border-radius: 3px;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.c-button-square--full
{
    width: 100%;
    height: 40px;
}
.c-button-square--l,
.c-button-square--l--gray
{
    width: 230px;
    height: 50px;
}
.c-button-square--mm,
.c-button-square--mm--gray
{
    width: 170px;
    height: 40px;
}
.c-button-square--m
{
    width: 160px;
    height: 40px;
}
.c-button-square--ms--gray
{
    width: 140px;
    height: 36px;
}
.c-button-square--s
{
    width: 130px;
    height: 36px;
}
.c-button-square--toTop
{
    width: 100px;
    height: 35px;
}
.c-button-square--social
{
    width: 160px;
    height: 35px;
}
.c-button-square--s,
a.c-button-square--s
{
    color: #fff;
    background-color: #70b8ea;
}
.c-button-square--m,
.c-button-square--mm,
.c-button-square--l,
.c-button-square--full
{
    color: #fff;
    background-color: #feda5a;
}
.c-button-square--mm--gray,
.c-button-square--ms--gray,
.c-button-square--l--gray
{
    color: #fff;
    background-color: #c9c9c9;
}
.c-button-square--toTop
{
    color: #7e7d7d;
    background-color: #fff;
}
.c-button-square--social.c-facebook
{
    background-color: #3a5a98;
}
.c-button-square--social.c-twitter
{
    background-color: #55acee;
}
.c-button-square--social.c-hatena
{
    background-color: #1a99ce;
}
.c-button-square--qa
{
    color: #7e7d7d;
    background-color: #fff;
}
.c-button-square--mm > a,
.c-button-square--mm--gray > a,
.c-button-square--ms--gray > a,
.c-button-square--l > a
{
    display: block;

    width: 100%;
    height: 100%;
}
.c-button-square--m
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--mm
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--mm--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--mm--gray:hover
{
    text-decoration: underline;
}
.c-button-square--qa
{
    width: 170px;
    height: 26px;
}
.c-button-square--ms--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--l
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--l > a
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.c-button-square--l--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--l--gray:hover
{
    text-decoration: underline;
}
.c-button-square--full
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--social ._social__block__icon
{
    margin-right: 10px;
}
.c-button-square--toTop
{
    border-radius: 5px 5px 0 0;
}
.c-icon--home,
.c-icon--secret,
.c-icon--gentei,
.c-icon--content,
.c-icon--book,
.c-icon--beauty,
.c-icon--hat,
.c-icon--star-other,
.c-icon--cross,
.c-icon--eye,
.c-icon--eye--l,
.c-icon--attach-file,
.c-icon--star,
.c-icon--heart,
.c-icon--people,
.c-icon--facebook,
.c-icon--twitter,
.c-icon--clip,
.c-icon--flow--l,
.c-icon--flow--l--is,
.c-icon--flow--c,
.c-icon--flow--c--is,
.c-icon--flow--r,
.c-icon--flow--r--is,
.c-icon--triangle,
.c-icon--triangle--rotate,
.c-icon--triangle--top,
.c-icon--triangle--attention,
.c-icon--circle--text__ttl,
._secret--bottom__list:before
{
    display: inline-block;
}
.c-icon--home
{
    width: 22px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -105px -87px;
}
.c-icon--secret
{
    width: 16px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -172px;
}
.c-icon--gentei
{
    width: 16px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -21px -172px;
}
.c-icon--content
{
    width: 22px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -147px -113px;
}
.c-icon--book
{
    width: 14px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -42px -172px;
}
.c-icon--beauty
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -95px -113px;
}
.c-icon--hat
{
    width: 22px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -163px -87px;
}
.c-icon--star-other
{
    width: 21px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -69px -113px;
}
.c-icon--search
{
    width: 29px;
    height: 29px;

    background: url('../img/sprite/sprite.png') no-repeat -35px -113px;
}
.c-icon--cross
{
    width: 17px;
    height: 17px;

    background: url('../img/sprite/sprite.png') no-repeat -46px -147px;
}
.c-icon--eye
{
    width: 22px;
    height: 13px;

    background: url('../img/sprite/sprite.png') no-repeat -190px -87px;
}
.c-icon--eye--l
{
    width: 26px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -132px -87px;
}
.c-icon--attach-file
{
    width: 30px;
    height: 29px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -113px;
}
.c-icon--star
{
    width: 16px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -68px -147px;
}
.c-icon--heart
{
    width: 16px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -197px -113px;
}
.c-icon--tag
{
    width: 44px;
    height: 21px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -87px;
}
.c-icon--people
{
    width: 14px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -61px -172px;
}
.c-icon--facebook
{
    width: 21px;
    height: 21px;

    background: url('../img/sprite/sprite.png') no-repeat -79px -87px;
}
.c-icon--twitter
{
    width: 25px;
    height: 21px;

    background: url('../img/sprite/sprite.png') no-repeat -49px -87px;
}
.c-icon--clip
{
    width: 18px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -147px;
}
.c-icon--flow--l
{
    width: 104px;
    height: 24px;

    background: url('../img/sprite/sprite.png') no-repeat 0 0;
}
.c-icon--flow--l--is
{
    width: 104px;
    height: 24px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat 0 -29px;
}
.c-icon--flow--c
{
    width: 104px;
    height: 24px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -58px;
}
.c-icon--flow--c--is
{
    width: 104px;
    height: 24px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat -109px 0;
}
.c-icon--flow--r
{
    width: 102px;
    height: 24px;

    background: url('../img/sprite/sprite.png') no-repeat -109px -58px;
}
.c-icon--flow--r--is
{
    width: 102px;
    height: 24px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat -109px -29px;
}
.c-icon--triangle,
._secret--bottom__list:before
{
    width: 10px;
    height: 10px;

    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #aaa;
    background: transparent;
}
.c-icon--triangle--rotate
{
    position: absolute;

    width: 16px;
    height: 16px;

    -webkit-transform: rotate(-33deg);
        -ms-transform: rotate(-33deg);
            transform: rotate(-33deg);

    border-top: 9px solid transparent;
    border-right: 12px solid #aaa;
    border-bottom: 9px solid transparent;
    border-left: 9px solid transparent;
    background: transparent;
}
.c-icon--triangle--top
{
    width: 12px;
    height: 12px;

    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #7e7d7d;
    border-left: 6px solid transparent;
    background: transparent;
}
.c-icon--triangle--bottom,
.c-icon__wrapper--triangle:after
{
    border-top: 5px solid #fff;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    background: transparent;
}
.c-icon--triangle--attention
{
    width: 16px;
    height: 16px;

    border-top: 0 solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #e60012;
    border-left: 10px solid transparent;
    background: transparent;
}
.c-icon--circle--baloon
{
    width: 75px;
    height: 75px;

    border-radius: 100%;
    background-color: #aaa;
}
.c-icon--circle--s
{
    width: 28px;
    height: 28px;

    border-radius: 100%;
    background-color: #feda5a;
}
.c-icon--circle--m
{
    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-color: #feda5a;
}
.c-icon--circle--text__ttl
{
    width: 15px;
    height: 15px;

    border-radius: 100%;
    background-color: #7e7d7d;
}
.c-icon--l
{
    width: 9px;
    height: 11px;

    border-bottom: 2px solid #aaa;
    border-left: 2px solid #aaa;
    background: transparent;
}
.c-icon--radio,
.form--primary__detail .form--primary__radio + label:before
{
    width: 18px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -174px -113px;
}
.c-icon--radio--on,
.form--primary__detail .form--primary__radio:checked + label:before
{
    width: 18px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -23px -147px;
}
.c-icon--check,
.search-checkbox + label:before
{
    width: 11px;
    height: 11px;

    background: url('../img/sprite/sprite.png') no-repeat -89px -147px;
    background-color: #fff;
}
.c-icon--check--on,
.search-checkbox:checked + label:before
{
    width: 11px;
    height: 11px;

    background: url('../img/sprite/sprite.png') no-repeat -105px -147px;
}
.c-icon__wrapper--triangle
{
    position: relative;
}
.c-icon__wrapper--triangle:after
{
    position: absolute;
    top: 18px;
    right: 5px;

    display: block;

    content: '';
}
.nav--hamburger
{
    margin-left: 20px;

    cursor: pointer;

    color: #aaa;
}
.nav--hamburger .nav--hamburger__list
{
    display: block;

    width: 35px;
    height: 5px;
    margin-bottom: 4px;

    border-radius: 5px;
    background-color: #aaa;
}
.nav--hamburger > span:nth-of-type(3)
{
    margin-bottom: 2px;
}
.nav--hamburger .nav--hamburger__text
{
    display: block;

    text-align: center;

    color: #aaa;
}
.c-tag--work,
.c-tag--beauty,
.c-tag--star,
.c-tag--sns
{
    line-height: 18px;

    display: inline-block;

    width: 87px;
    height: 20px;

    text-align: center;
}
.c-tag--work--l,
.c-tag--work--l--contents,
.c-tag--beauty--l,
.c-tag--beauty--l--contents,
.c-tag--star--l,
.c-tag--star--l--contents,
.c-tag--sns--l,
.c-tag--sns--l--contents
{
    line-height: 22px;

    display: inline-block;

    width: 105px;
    height: 24px;

    text-align: center;
}
.c-tag--secret,
.c-tag--new
{
    line-height: 20px;

    display: inline-block;

    width: 78px;
    height: 20px;

    text-align: center;
}
.c-tag--secret--flow,
.c-tag--new--flow,
.c-tag--celebration,
.c-tag--secret--notice
{
    line-height: 20px;

    display: inline-block;

    height: 20px;
    padding: 0 10px;

    text-align: center;
}
.c-tag--form--required
{
    line-height: 18px;

    display: inline-block;

    height: 18px;
    padding: 0 5px;

    text-align: center;
}
.c-tag--secret--detail,
.c-tag--detail--table
{
    line-height: 31px;

    display: inline-block;

    height: 33px;
    padding: 0 10px;

    text-align: center;
}
.c-tag--work--l--contents,
.c-tag--beauty--l--contents,
.c-tag--star--l--contents,
.c-tag--sns--l--contents
{
    position: absolute;
    top: 0;
    left: 0;
}
.c-tag--work
{
    color: #32acd1;
    border: 1px solid #32acd1;
}
.c-tag--work--l
{
    color: #32acd1;
    border: 1px solid #32acd1;
}
.c-tag--work--l--contents
{
    line-height: 24px;

    color: #fff;
    background-color: #32acd1;
}
.c-tag--beauty
{
    color: #df5780;
    border: 1px solid #df5780;
}
.c-tag--beauty--l
{
    color: #df5780;
    border: 1px solid #df5780;
}
.c-tag--beauty--l--contents
{
    line-height: 24px;

    color: #fff;
    background-color: #df5780;
}
.c-tag--star
{
    color: #ccac49;
    border: 1px solid #ccac49;
}
.c-tag--star--l
{
    color: #ccac49;
    border: 1px solid #ccac49;
}
.c-tag--star--l--contents
{
    line-height: 24px;

    color: #fff;
    background-color: #ccac49;
}
.c-tag--sns
{
    color: #9388bc;
    border: 1px solid #9388bc;
}
.c-tag--sns--l
{
    color: #9388bc;
    border: 1px solid #9388bc;
}
.c-tag--sns--l--contents
{
    line-height: 24px;

    color: #fff;
    background-color: #9388bc;
}
.c-tag--secret
{
    color: #fff;
    background-color: #aaa;
}
.c-tag--secret--flow
{
    color: #fff;
    background-color: #c9c9c9;
}
.c-tag--new
{
    color: #fff;
    background-color: #feda5a;
}
.c-tag--new--flow
{
    color: #fff;
    background-color: #feda5a;
}
.c-tag--celebration
{
    color: #fff;
    background-color: #70b8ea;
}
.c-tag--secret--detail
{
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
}
.c-tag--detail--table
{
    line-height: 33px;

    color: #70b8ea;
    border-radius: 3px;
    background-color: #eee;
}
.c-tag--secret--notice
{
    color: #fff;
    background-color: #70b8ea;
}
.c-tag--form--required
{
    color: #fff;
    border-radius: 2px;
    background-color: #aaa;
}
@font-face
{
    font-family: 'icomoon';

    src: url('fonts/icomoon.eot?uov3in');
    src: url('fonts/icomoon.eot?uov3in#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?uov3in') format('truetype');
}
font-weight normal,
font-style normal,
[class^='c-font-icon-'],
[class*='c-font-icon-']
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-font-icon--hatebu:before
{
    content: '\e900';
}
.c-font-icon--attachment:before
{
    content: '\e903';
}
.c-font-icon--facebook:before
{
    content: '\e901';
}
.c-font-icon--twitter:before
{
    content: '\e902';
}
.slick-slider
{
    position: relative;

    display: block;

    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:after
{
    clear: both;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;

    width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden
{
    display: none;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #fff;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
    left: -25px;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
.slick-next
{
    right: -25px;
}
.slick-next:before
{
    content: '→';
}
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #000;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #000;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.column-box__secret__slider
{
    position: relative;

    overflow: hidden;

    width: 100%;
}
.column-box__secret__slider ._secret__slider__main
{
    float: left;

    width: 488px;
    height: 365px;
}
.column-box__secret__slider ._secret__slider__main ._slider__main__img
{
    width: 100%;
}
.column-box__secret__slider ._secret__slider-nav
{
    float: right;

    width: 153px;
    height: 365px;
}
.column-box__secret__slider ._secret__slider-nav .thumbnail__img
{
    overflow: hidden;

    width: 100%;
    height: 115px;
}
.column-box__secret__slider ._secret__slider-nav .thumbnail__img img
{
    width: 100%;
}
.column-box__secret__slider ._secret__slider-nav .thumbnail__img:hover
{
    cursor: pointer;

    opacity: .4;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=40)';
}
.column-box__secret__slider ._secret__slider-nav .slick-list
{
    padding: 0 !important;
}
.topImg-box
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 300px;

    background-position: center;
}
.topImg-box .topImg-box__list
{
    width: 33.33%;
    min-width: 340px;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.topImg-box .topImg-box__list.topImg-box__list--center
{
    width: 46%;
    min-width: 700px;
    max-width: 640px;

    background-postion: center;
}
.topImg-box .topImg-box__list.topImg-box__list--side
{
    min-width: 100px;
}
@media only screen and (min-width: 2100px)
{
    .topImg-box .topImg-box__list.topImg-box__list--side
    {
        width: 40%;
    }
}
.topImg-box .topImg-box__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 100%;

    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}
.topImg-box .topImg-box__link:hover
{
    text-decoration: none;
}
.topImg-box .topImg-box__list__inner
{
    width: 100%;
    height: 72px;
    padding: 10px 50px;

    background-color: rgba(0,0,0,.6);
}
.topImg-box .topImg-box__list__text
{
    display: -webkit-box;
    overflow: hidden;

    height: 100%;

    word-wrap: break-word;

    color: #fff;

            line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .topImg-box .topImg-box__list__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.topImg-box.topImg-box--center .topImg-box__list:hover
{
    opacity: inherit;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)';
}
.topSearch-box__inner
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1020px;
    height: 70px;
    margin: auto;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.topSearch-box__inner__text
{
    width: 220px;

    color: #4b4948;
}
.primary-box
{
    padding-bottom: 75px;

    background-color: #eee;
}
.primary-box__inner
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    overflow: hidden;

    width: 1020px;
    margin: auto;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.primary-box__ttl
{
    width: 1020px;
    margin: auto;

    text-align: left;

    color: #7e7d7d;
}
.primary-box__ttl .c-icon--star
{
    position: relative;
    top: 1px;
}
.primary-box--full
{
    background-color: #eee;
}
.primary-box--full__inner
{
    position: relative;

    height: calc(100vh - 258px);
    min-height: 400px;

    text-align: center;

    background: #fff;
    background-color: #eee;
}
.primary-box--full__content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: 340px;
    margin: auto;

    background-color: #eee;
}
.primary-box--full__content h2
{
    font-size: 80px;
    font-size: 8rem;

    color: #7e7d7d;
}
.primary-box--full__content p
{
    color: #7e7d7d;
}
.primary-box--full__content .c-button-square--l
{
    margin-right: auto;
    margin-left: auto;
}
.primary-box--full__content.-full__content--high
{
    height: 400px;
}
.list--primary
{
    padding: 20px 20px 0;

    color: #7e7d7d;
    background: #fff;
}
.list--primary__row
{
    display: block;

    border-bottom: 1px solid #d2d2d2;
}
.list--primary__row:nth-last-child(1)
{
    border-bottom: none;
}
.list--primary__row > h3
{
    color: #7e7d7d;
}
.list--primary__text
{
    padding-bottom: 20px;
}
.list__ttl--normal
{
    color: #7e7d7d;
}
.nav-box
{
    background-color: #fff;
}
.nav-box .nav-box__list
{
    position: relative;

    margin: 0 20px;
}
.nav-box .nav-box__list:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #d2d2d2;
}
.nav-box .nav-box__list:nth-last-of-type(1):after
{
    display: none;
}
.nav-box .nav-box__list--selected
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 -20px;
    padding: 15px 20px;

    color: #7e7d7d;
    background: #e5e5e5;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box .nav-box__list__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 -20px;
    padding: 15px 20px;

    color: #7e7d7d;
    background: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box .nav-box__list__link:hover
{
    text-decoration: none;

    background: #e5e5e5;
}
.nav-box .nav-box__list__icon
{
    display: block;

    width: 25px;
    margin-right: 5px;

    text-align: center;
}
.nav-box .c-icon--l
{
    margin-right: 10px;
}
.nav-box.nav-box--inHeader
{
    position: absolute;
    top: 60px;
    right: 0;

    width: 300px;
}
.nav-box.is-disable
{
    display: none;
}
.nav-box--category__ttl
{
    padding: 30px 0 10px 20px;

    color: #7e7d7d;
    border-top: 1px solid #d2d2d2;
    background: #fff;
}
.nav-box--category__ttl .c-icon--circle--text__ttl
{
    margin-right: 5px;
}
.nav-box--category
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    padding-bottom: 30px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.nav-box--category .nav-box__list
{
    position: relative;

    width: 50%;
    height: 52px;
    margin-top: -1px;

    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.nav-box--category .nav-box__list:nth-of-type(even)
{
    border-right: none;
}
.nav-box--category .nav-box__list__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;

    color: #7e7d7d;
    background: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box--category .nav-box__list__link:hover
{
    text-decoration: none;

    background: #e5e5e5;
}
.nav-box--category .nav-box__list__icon
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 25px;
    height: 21px;
    margin-right: 5px;
    margin-left: 20px;

    text-align: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box--category .nav-box__list--selected
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;

    background: #e5e5e5;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box--category .nav-box__list__arrow
{
    position: absolute;
    top: 18px;
    right: 20px;

    display: block;

    margin: auto;
}
.column-box,
.column-box--search,
.column-box--media,
.column-box--rightTop,
.column-box--rightContents,
.column-box--right__search
{
    overflow: hidden;

    width: 100%;
    padding: 15px 20px 0;

    border-radius: 2px;
    background: #fff;
}
.column-box .column-box__ttl,
.column-box--search .column-box__ttl,
.column-box--media .column-box__ttl,
.column-box--rightTop .column-box__ttl,
.column-box--rightContents .column-box__ttl,
.column-box--right__search .column-box__ttl
{
    color: #7e7d7d;
}
.column-box .column-box__ttl__tag,
.column-box--search .column-box__ttl__tag,
.column-box--media .column-box__ttl__tag,
.column-box--rightTop .column-box__ttl__tag,
.column-box--rightContents .column-box__ttl__tag,
.column-box--right__search .column-box__ttl__tag
{
    margin-left: 10px;
}
.column-box--search .column-box__ttl
{
    padding-bottom: 10px;

    border-bottom: 1px solid #d2d2d2;
}
.column-box--search .column-box__list
{
    display: table;

    margin: 15px 0 30px;
}
.column-box--search .column-box__list__ttl
{
    width: 100px;

    border-right: 1px solid #d2d2d2;
}
.column-box--search .column-box__list__ttl,
.column-box--search .column-box__list__right
{
    display: table-cell;
}
.column-box--search .column-box__list__right
{
    padding-left: 20px;
}
.column-box--search .column-box__list__right ul
{
    margin-bottom: -15px;
}
.column-box--search .column-box__list__right li
{
    position: relative;

    display: inline-block;

    padding: 0 10px 15px 12px;
}
.column-box--search .c-icon--triangle
{
    position: absolute;
    top: 3px;
    left: 2px;
}
.column-box--search .column-box__list--first
{
    color: #7e7d7d;
}
.column-box--search .column-box__list--second
{
    color: #7e7d7d;
}
.column-box--search .column-box__list--third
{
    color: #7e7d7d;
}
.column-box--media .column-box--media__lists
{
    float: left;

    width: 206px;
    margin-right: 16px;
    margin-bottom: 20px;
}
.column-box--media .column-box--media__lists:nth-of-type(3n)
{
    margin-right: 0;
}
.column-box--media .column-box--media__lists > a
{
    display: block;

    width: 100%;
    height: 100%;
}
.column-box--media .column-box--media__lists > a:hover
{
    text-decoration: none;

    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.column-box--media .column-box--media__img
{
    width: 206px;
    height: 157px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-box--media .-media__img__text
{
    display: block;

    margin-top: 5px;

    color: #7e7d7d;
}
.column-box--media .column-box--media__detail
{
    width: 200px;

    color: #626262;
}
.column-box--media .column-box--media__detail dt,
.column-box--media .column-box--media__detail dd
{
    display: inline;

    color: #626262;
}
.column-box--media .column-box--media__detail dt
{
    color: #70b8ea;
}
.column-box--media .column-box__ttl
{
    padding-bottom: 10px;
}
.column-box--new__ttl
{
    color: #7e7d7d;
}
.column-box--new,
.column-box--normal
{
    width: 100%;

    background-color: #fff;
}
.column-box--new .column-box__ttl,
.column-box--normal .column-box__ttl
{
    margin-bottom: 10px;

    color: #7e7d7d;
}
.column-box--new .column-box--new__lists,
.column-box--normal .column-box--new__lists,
.column-box--normal .column-box--normal__lists
{
    overflow: hidden;

    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
}
.column-box--new .column-box--new__lists > a,
.column-box--normal .column-box--new__lists > a,
.column-box--normal .column-box--normal__lists > a
{
    display: block;

    width: 100%;
    height: 100%;
}
.column-box--new .column-box--new__lists > a:hover,
.column-box--normal .column-box--new__lists > a:hover,
.column-box--normal .column-box--normal__lists > a:hover
{
    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.column-box--new .-new__list__img,
.column-box--normal .-new__list__img,
.column-box--normal .-normal__list__img
{
    position: relative;

    float: left;

    width: 276px;
    height: 166px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-box--new .-new__list__right,
.column-box--normal .-new__list__right,
.column-box--normal .-normal__list__right
{
    float: left;

    width: 60%;
    padding: 20px;
}
.column-box--new .c-icon--circle--m,
.column-box--normal .c-icon--circle--m
{
    position: absolute;
    top: 10px;
    left: 10px;

    display: block;

    padding-top: 14px;

    text-align: center;

    color: #fff;
}
.column-box--new .c-icon--eye--l,
.column-box--normal .c-icon--eye--l
{
    position: relative;
    top: 2px;
    left: -2px;
}
.column-box--new .-new__list__text,
.column-box--normal .-new__list__text,
.column-box--normal .-normal__list__text
{
    display: -webkit-box;
    overflow: hidden;

    height: 92px;
    margin-bottom: 10px;

    word-wrap: break-word;

    color: #7e7d7d;

            line-clamp: 3;
    box-orient: vertical;
    -webkit-line-clamp: 3;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--new .-new__list__text,
    .column-box--normal .-new__list__text,
    .column-box--normal .-normal__list__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.column-box--new ._list__right__bottom,
.column-box--normal ._list__right__bottom
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.column-box--new ._right__bottom__num,
.column-box--normal ._right__bottom__num
{
    margin-left: auto;

    color: #7e7d7d;
}
.column-box--new .column-box--new__lists:last-of-type,
.column-box--normal .column-box--new__lists:last-of-type,
.column-box--normal .column-box--normal__lists:last-of-type
{
    border: none;
}
.column-box__contents
{
    background-color: #fff;
}
.column-box__contents .column-box__contents__topImg
{
    position: relative;

    width: 100%;
}
.column-box__contents .column-box__contents__topImg img
{
    width: 100%;
}
.column-box__contents ._contents__top__block,
.column-box__contents ._contents__detail__block
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.column-box__contents .c-button-square--social
{
    margin-right: 10px;
}
.column-box__contents .c-button-square--social:nth-of-type(3)
{
    margin-right: 0;
}
.column-box__contents .column-box_contents__subTtl--interview
{
    color: #7e7d7d;
}
.column-box__contents .column-box_contents__text
{
    color: #7e7d7d;
}
.column-box__contents .column-box_contents__text strong
{
    font-weight: bold;
}
.column-box__contents ._contents__social__block,
.column-box__contents ._contents__social__block--border
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-top: 25px;

    color: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.column-box__contents ._contents__social__block--border
{
    padding-bottom: 30px;

    border-bottom: 1px solid #d2d2d2;
}
.column-box__contents ._social__block__right
{
    margin-left: auto;

    color: #7e7d7d;
}
.column-box__contents ._social__block__right .c-icon--eye--l
{
    position: relative;
    top: 2px;
    right: 5px;
}
.column-box__contents ._contents__img_text
{
    color: #c9c9c9;
}
.column-box__contents ._contents__bottom__block--info
{
    color: #7e7d7d;
}
.column-box__contents ._contents__detail__map
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 65%;
}
.column-box__contents ._contents__detail__map iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;
}
.column-box__contents ._contents__img__block
{
    width: 100%;
    margin-bottom: 25px;
}
.column-box__contents ._contents__img__block > img
{
    width: 100%;
}
.column-box__contents ._contents__overview
{
    padding: 20px;

    color: #7e7d7d;
    background-color: #eee;
}
.column-box__contents ._contents__overview ._contents__overview__otherTtl
{
    color: #4b4948;
}
.column-box__contents ._contents__overview__btnBlock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.column-box__contents ._contents__overview__btnBlock .c-button-square--qa
{
    margin-right: 10px;
}
.column-box__contents ._contents__qa__adviser__block
{
    padding: 20px;

    border-top: 1px solid #4b4948;
    border-bottom: 1px solid #4b4948;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__ttl,
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__subTtl
{
    color: #4b4948;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__l
{
    margin-right: 15px;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__l figure
{
    width: 112px;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__l img
{
    border-radius: 80px;
}
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser__text,
.column-box__contents ._contents__qa__adviser__block ._contents__qa__adviser
{
    color: #7e7d7d;
}
.column-box__contents .column-box__contents__ttl--border
{
    padding-bottom: 5px;

    border-bottom: 2px solid #7e7d7d;
}
.column-box__contents__ttl
{
    position: relative;

    color: #7e7d7d;
}
.column-box_contents__subTtl
{
    position: relative;

    padding-left: 20px;

    color: #7e7d7d;
}
.column-box_contents__subTtl:before
{
    position: absolute;
    top: 5px;
    left: 0;

    display: block;

    width: 10px;
    height: 21px;

    content: '';

    background-color: #7e7d7d;
}
.column-box__secret
{
    padding: 20px 20px 40px;

    background-color: #fff;
}
.column-box__secret ._secret__heading__left
{
    float: left;

    width: 325px;

    color: #7e7d7d;
}
.column-box__secret ._secret__heading__right
{
    float: left;

    width: 325px;

    text-align: right;
}
.column-box__secret ._secret__heading__right > span
{
    margin-right: 5px;
}
.column-box__secret ._secret__heading__right > span:last-of-type(1)
{
    margin-right: 0;
}
.column-box__secret ._secret__heading__ttl
{
    clear: both;

    padding-top: 10px;

    color: #7e7d7d;
}
.column-box__secret ._secret__text__ttl
{
    color: #7e7d7d;
}
.column-box__secret ._secret__text
{
    color: #7e7d7d;
}
.column-box__secret ._alliance__heading__left
{
    display: table;
    float: left;
    clear: left;

    width: 325px;
    height: 36px;

    color: #7e7d7d;
}
.column-box__secret ._alliance__heading__left > span
{
    display: table-cell;

    vertical-align: middle;
}
.column-box__secret ._alliance__heading__right
{
    float: right;

    height: 28px;
}
.column-box__secret ._alliance__heading__right > span
{
    margin-right: 5px;
}
.column-box__secret ._alliance__heading__right > span:last-of-type(1)
{
    margin-right: 0;
}
.column-box__secret ._alliance__heading__right .c-icon--eye--l
{
    position: relative;
    top: -5px;
    right: 5px;

    margin-left: 20px;
}
.column-box__secret ._alliance__heading__right .c-icon--attach-file
{
    position: relative;
    right: 5px;
}
.column-box__secret ._allianc__center_icon
{
    position: relative;
    top: -7px;
}
._alliance__tab.is-disable
{
    display: none;
}
._secret__tag .c-tag--secret--detail
{
    margin-right: 5px;
    margin-bottom: 5px;
}
._secret__tag .c-tag--secret--detail:last-of-type(1)
{
    margin-right: 0;
}
._secret__notice
{
    overflow: hidden;

    padding: 15px;

    border: 1px solid #70b8ea;
}
._secret__notice ._secret__notice__img
{
    float: left;

    width: 232px;
    height: 174px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
._secret__notice ._secret__notice__right
{
    float: right;

    width: 367px;
}
._secret__notice ._secret__notice__ttl
{
    color: #70b8ea;
}
._secret__notice ._secret__notice__text
{
    display: -webkit-box;
    overflow: hidden;
    overflow: hidden;

    height: 108px;

    word-wrap: break-word;

    color: #7e7d7d;

            line-clamp: 6;
    box-orient: vertical;
    -webkit-line-clamp: 6;
}
@media all and (-ms-high-contrast: none)
{
    ._secret__notice ._secret__notice__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
._secret__notice ._alliance__notice__right
{
    float: right;
}
._secret__notice ._alliance__notice__text
{
    overflow: hidden;

    color: #7e7d7d;
}
._secret__social__block
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    color: #fff;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
._secret__social__block .c-button-square--social:nth-of-type(1)
{
    margin-right: 10px;
}
.column-box__secret--table
{
    background: #fff;
}
._secret__detail__tab
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    border-bottom: 1px solid #d2d2d2;

    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
}
._secret__detail__tab ._detail__tab__inner
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px;

    position: relative;
    z-index: 1;
    top: 1px;

    width: 150px;
    height: 40px;

    cursor: pointer;
    text-align: center;

    color: #aaa;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background-color: #e5e5e5;
}
._secret__detail__tab ._detail__tab__inner:nth-of-type(1)
{
    margin: 0 5px 0 20px;
}
._secret__detail__tab ._detail__tab__inner.is-active
{
    color: #7e7d7d;
    background: #fff;
}
._secret__detail--recruit
{
    padding: 30px 20px;
}
._secret__detail__table
{
    width: 100%;

    table-layout: fixed;
    border-collapse: collapse;

    border: 1px solid #d2d2d2;
    border-bottom: none;
}
._secret__detail__table tr
{
    border-bottom: 1px solid #d2d2d2;
}
._secret__detail__table .c-tag--detail--table
{
    margin-right: 5px;
    margin-bottom: 5px;
}
._secret__detail__table.is-disable
{
    display: none;
}
._detail__table__left
{
    width: 120px;
    min-height: 50px;

    text-align: center;

    color: #7e7d7d;
    background-color: #eee;
}
._detail__table__right
{
    width: 530px;
    padding: 20px;

    word-break: break-all;

    color: #7e7d7d;
}
._detail__table__map
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 65%;
}
._detail__table__map iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;
}
.column-box__secret__btnBLock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-bottom: 40px;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.column-box__secret__btnBLock .c-font-icon--attachment
{
    margin-right: 10px;
}
.column-box__secret__btnBLock > div
{
    margin-right: 10px;
}
.column-box__secret--bottom
{
    padding: 20px 20px 0;

    color: #7e7d7d;
    background: #fff;
}
._secret--bottom__heading
{
    padding-bottom: 15px;
}
._secret--bottom__list
{
    position: relative;

    padding: 20px 0 20px 20px;

    border-top: 1px solid #d2d2d2;
}
._secret--bottom__list:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;
    margin: auto;

    content: '';
}
.-bottom__list__header
{
    color: #feda5a;
}
.column-box--normal__ttl
{
    padding-right: 20px;
    padding-left: 20px;

    color: #626262;
    background-color: #fff;
}
.column-box--normal .column-box--normal__list
{
    border-top: 1px solid #d2d2d2;
}
.column-left__heading,
.column-left__heading--normal
{
    display: table;

    width: 100%;
}
.column-left__ttl,
.column-left__ttl--normal
{
    display: table-cell;

    padding-right: 20px;

    vertical-align: middle;
    white-space: nowrap;

    color: #7e7d7d;
    border-right: 1px solid #7e7d7d;
}
.column-left__ttl .column-left__ttl__inner,
.column-left__ttl--normal .column-left__ttl__inner
{
    display: block;
}
.column-left__ttl .column-left__text,
.column-left__ttl--normal .column-left__text
{
    display: block;
}
.column-left__ttl .fix-kana,
.column-left__ttl--normal .fix-kana
{
    margin-left: -.3em;
}
.column-left__ttl.trend,
.column-left__ttl--normal.trend
{
    color: contents;
    border-right-color: contents;
}
.column-left__ttl.career,
.column-left__ttl--normal.career
{
    color: #32acd1;
    border-right-color: #32acd1;
}
.column-left__ttl.skill,
.column-left__ttl--normal.skill
{
    color: secondary_;
    border-right-color: color secondary_;
}
.column-left__ttl.interview,
.column-left__ttl--normal.interview
{
    color: #df5780;
    border-right-color: #df5780;
}
.column-left__ttl.qa,
.column-left__ttl--normal.qa
{
    color: #4b4948;
    border-right-color: #4b4948;
}
.column-left__ttl.chopsticks,
.column-left__ttl--normal.chopsticks
{
    color: #9388bc;
    border-right-color: #9388bc;
}
.column-left__ttl__right,
.column-left__ttl__right--border
{
    display: table-cell;

    padding-left: 20px;

    vertical-align: middle;

    color: #7e7d7d;
}
.column-left__ttl__right--border
{
    border-left: 1px solid #d2d2d2;
}
.column-left__info
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.column-left__info .column-left__info__text
{
    margin-right: auto;

    white-space: nowrap;

    color: #7e7d7d;
}
.column-left__info .column-left__info__text > span
{
    display: inline-block;

    margin-right: 5px;

    color: #70b8ea;
}
.column-left__info .pager
{
    margin-left: auto;
}
.column-left__heading--normal
{
    padding: 3px 0;
}
.column-left__ttl--normal
{
    width: 50%;

    color: #7e7d7d;
    border-right: none;
}
.column-left__ttl__right--normal
{
    display: block;

    padding-left: 20px;

    border-left: 1px solid #d2d2d2;
}
.column-left__ttl__right--normal ._ttl__right__num,
.column-left__ttl__right--normal ._ttl__right__name
{
    display: block;
}
.column-left__ttl__right--normal ._ttl__right__num
{
    color: #626262;
}
.column-left__ttl__right--normal ._ttl__right__num > span
{
    display: inline-block;

    margin-right: 5px;

    color: #70b8ea;
}
.column-left__ttl__right--normal ._ttl__right__name
{
    color: #7e7d7d;
}
.column-left__ttl__right--normal .c-icon--people
{
    position: relative;
    top: 2px;

    margin-right: 5px;
}
.column-box--wide .column-box--wide__list
{
    padding: 20px;

    background-color: #fff;
}
.column-box--wide .-wide__list__ttl
{
    position: relative;

    display: -webkit-box;
    overflow: hidden;

    height: 100%;
    padding-right: 85px;

    word-wrap: break-word;

    color: #7e7d7d;

            line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__ttl
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.column-box--wide .-wide__list__ttl .c-tag--new--flow
{
    position: absolute;
    top: 4px;
    right: 0;
}
.column-box--wide .-wide__list__ttl--multiTag
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__text,
.column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__block
{
    display: block;
}
.column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__text
{
    display: -webkit-box;
    overflow: hidden;

    width: 100%;
    height: 100%;
    margin-right: auto;

    word-wrap: break-word;

    color: #7e7d7d;

            line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__text
    {
        max-height: 52px;
    }
}
.column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__block
{
    display: none;

    text-align: right;
}
.column-box--wide .-wide__list__ttl--multiTag ._list__multiTag__block span:nth-of-type(2)
{
    margin-left: 5px;
}
.column-box--wide .-wide__list__subTtl
{
    color: #7e7d7d;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__subTtl
    {
        line-height: 1.5;
    }
}
.column-box--wide .-wide__list__bottom
{
    position: relative;

    overflow: hidden;
}
.column-box--wide .-wide__list__bottom .-wide__list__img
{
    float: left;

    width: 280px;
    height: 214px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-box--wide .-wide__list__details
{
    display: block;
    float: right;

    width: 348px;
}
.column-box--wide .-wide__list__details span
{
    color: #727171;
}
.column-box--wide .-wide__list__details ._list__detail__title
{
    white-space: nowrap;

    color: #70b8ea;
}
.column-box--wide .-wide__list__details li:nth-of-type(1)
{
    margin-top: -3px;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__details li:nth-of-type(1)
    {
        margin-top: 0;
    }
}
.column-box--wide .-wide__list__detail--multiline
{
    display: -webkit-box;
    overflow: hidden;

    height: 100%;

    word-wrap: break-word;

            line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__detail--multiline
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
@media all and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__detail--multiline
    {
        display: -webkit-box;
        overflow: hidden;

        height: 100%;

        word-wrap: break-word;

                line-clamp: 2;
        box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}
@media all and (-ms-high-contrast: none) and (-ms-high-contrast: none)
{
    .column-box--wide .-wide__list__detail--multiline
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.column-box--wide ._list__button__block
{
    position: absolute;
    right: 0;
    bottom: 22px;
}
.column-box--wide ._list__button__block .c-button-square--mm,
.column-box--wide ._list__button__block .c-button-square--mm--gray
{
    line-height: 40px;

    display: block;
    float: left;

    text-align: center;
}
.column-box--wide ._list__button__block .c-button-square--mm--gray
{
    margin-right: 8px;
}
.column-box--wide .-wide__list__footer
{
    clear: both;

    padding-top: 10px;

    text-align: right;

    color: #7e7d7d;
}
._contents__ttl--concept
{
    padding-left: 5px;

    color: #7e7d7d;
    border-left: 10px solid #7e7d7d;
}
._contents__detail__block--flex
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-right: 20px;
    margin-left: 20px;
    padding: 40px 0;

    border-top: 1px solid #d2d2d2;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
._contents__detail__l
{
    margin-right: 20px;
}
.column-box--rightTop
{
    position: relative;

    padding: 15px 0 0 20px;
    padding-bottom: 16px;

    color: #626262;
}
.column-box--rightTop .column-box__ttl
{
    margin-bottom: 18px;

    color: #626262;
}
.column-box--rightTop .-rightTop__num__text
{
    margin: 0 5px;

    color: #f4c418;
}
.column-box--rightTop .c-icon--circle--baloon
{
    position: absolute;
    top: 10px;
    right: 20px;

    color: #fff;
}
.column-box--rightTop .c-icon--triangle--rotate
{
    top: 50px;
    left: -12px;
}
.column-box--rightTop .-rightTop__new__text
{
    margin-top: 5px;

    text-align: center;
}
.column-box--rightTop .-rightTop__new__subText
{
    display: block;

    margin-top: 15px;

    text-align: center;
}
.column-box--rightContents
{
    width: 300px;
    padding: 15px 0 0;
}
.column-box--rightContents .column-box__ttl
{
    padding: 0 15px 10px;
}
.column-box--rightContents .column-box__ttl__icon
{
    position: relative;
    top: 2px;

    margin-right: 2px;
}
.column-box--rightContents .column-box--rightContents__list
{
    overflow: hidden;

    padding: 15px;

    border-top: 1px solid #d2d2d2;
}
.column-box--rightContents .column-box--rightContents__list > a
{
    display: block;

    width: 100%;
    height: 100%;
}
.column-box--rightContents .column-box--rightContents__list > a:hover
{
    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.column-box--rightContents .-rightContents__list__img
{
    position: relative;

    float: left;

    width: 100px;
    height: 61px;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-box--rightContents .c-icon--circle--s
{
    position: absolute;
    top: 5px;
    left: 5px;

    display: block;

    padding-top: 9px;

    text-align: center;

    color: #fff;
}
.column-box--rightContents .-rightContents__list__right
{
    float: left;

    width: 160px;

    color: #7e7d7d;
}
.column-box--rightContents .-rightContents__list__text
{
    display: -webkit-box;
    overflow: hidden;

    height: 40px;
    margin: -3px 0 3px;

    word-wrap: break-word;

            line-clamp: 2;
    box-orient: vertical;
    -webkit-line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--rightContents .-rightContents__list__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.column-box--rightContents ._list__right__tag
{
    margin-right: 10px;
}
.column-box--rightContents .c-icon--eye
{
    position: relative;
    top: 2px;
    left: -2px;
}
.column-box--rightContents .c-icon--tag
{
    position: absolute;
    top: -5px;
    left: -15px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-right: 10px;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}
.column-box--rightContents .c-icon--tag > span
{
    color: #fff;
}
.column-box--right__search
{
    width: 300px;
    padding-bottom: 20px;
}
.column-box--right__search .quick-search__select,
.column-box--right__search .quick-search__input
{
    width: 100%;
}
.column-box--right__search .c-icon--cross
{
    display: block;

    margin: 5px auto;
}
.footer__inner
{
    position: relative;

    width: 1020px;
    margin: auto;
}
.footer__inner ._inner__button--toTop
{
    position: absolute;
    top: -64px;
    right: 0;
}
.footer__inner ._button--toTop__icon
{
    position: relative;
    top: -4px;
    left: -2px;
}
.footer__inner .footer__nav
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: align-items;
    -ms-flex-pack: align-items;
            justify-content: align-items;
}
.footer__inner .footer__social__block
{
    margin-left: auto;

    color: #fff;
}
.footer__inner ._inner__block--left
{
    width: 160px;

    text-align: left;
}
.footer__inner ._inner__block--middle
{
    position: relative;

    width: 300px;
    padding: 0 30px;
}
.footer__inner ._inner__block--middle:before
{
    position: absolute;
    top: 0;
    left: -10px;

    display: block;

    width: 1px;
    height: 110px;

    content: '';

    background-color: #d2d2d2;
}
.footer__inner ._inner__block--right
{
    position: relative;

    width: 330px;
    padding-left: 30px;
}
.footer__inner ._inner__block--right:before
{
    position: absolute;
    top: 0;
    left: -15px;

    display: block;

    width: 1px;
    height: 110px;

    content: '';

    background-color: #d2d2d2;
}
.footer__inner .footer__inner__rows
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.footer__inner .footer__inner__rows > li
{
    width: 50%;
}
.footer__inner .footer__inner__list > li
{
    margin-bottom: 20px;
}
.footer__inner ._inner__block__title
{
    margin-bottom: 20px;
}
.footer__inner ._social__block__icon
{
    margin-right: 10px;
}
.footer__inner ._social__block__text
{
    text-align: right;

    color: #7e7d7d;
}
.quick-search
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 800px;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.quick-search.quick-search--inHeader
{
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;

    background-color: #fff;
}
.quick-search.is-disable
{
    display: none;
}
.quick-search .-search--inHeader__inner
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 1020px;
    width: 800px;
    height: 70px;
    margin: auto;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.quick-search__select
{
    width: 160px;
    height: 40px;
}
.quick-search__select--l
{
    width: 221px;
    height: 40px;
}
.quick-search__select--s
{
    width: 107px;
    height: 40px;
}
.quick-search__input
{
    width: 230px;
    height: 40px;

    color: #aaa;
}
.quick-search__input:placeholder-shown
{
    line-height: 1.5;

    color: #aaa;
}
.quick-search__input::-webkit-input-placeholder
{
    line-height: 1.5;

    color: #aaa;
}
.button-inner
{
    display: block;

    width: 100%;
    margin: auto;
}
.form--primary
{
    padding: 20px 20px 30px;

    color: #7e7d7d;
    background: #fff;
}
.form--primary .form--primary__text
{
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;

    color: #7e7d7d;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.form--primary .form--primary__textarea
{
    line-height: 40px;

    display: block;

    width: 100%;
    height: 208px;
    padding-top: 5px;

    color: #7e7d7d;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.form--primary .form--primary__textarea.form--primary__textarea--resize
{
    resize: vertical;
}
.form--primary__table
{
    border-top: 1px solid #d2d2d2;
}
.form--primary__ttl
{
    width: 198px;
}
.form--primary__ttl .c-tag--form--required
{
    font-weight: normal;

    margin-left: 5px;
}
.form--primary__detail
{
    width: 452px;
    padding: 30px 0;
}
.form--primary__detail .-contact__radio__block
{
    margin-bottom: 10px;
}
.form--primary__detail .-contact__radio__block > label
{
    margin-right: 60px;
}
.form--primary__detail .-contact__radio__block--secondary
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form--primary__detail .-contact__radio__block--secondary > label
{
    width: 50%;
    margin-bottom: 10px;
}
.form--primary__detail .-contact__radio__block--tertiary
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form--primary__detail .-contact__radio__block--tertiary > label
{
    width: 33.3%;
    margin-bottom: 10px;
}
.form--primary__detail .form--primary__radio
{
    display: none;
}
.form--primary__detail .form--primary__radio + label:before
{
    position: relative;
    top: 3px;

    display: inline-block;

    margin-right: 5px;

    content: '';
}
.form--primary__detail .quick-search__select__wrap
{
    display: inline-block;

    margin-right: 5px;
}
.form--primary__detail .quick-search__select__wrap > select
{
    padding-right: 10px;

    color: #7e7d7d;
    border-color: #aaa;
}
.form--primary__detail .quick-search__select__wrap:nth-last-child(1)
{
    margin-right: 0;
}
.form--primary__txtr
{
    text-align: right;
}
.form--primary__txtr .form__error
{
    text-align: left;
}
.-contact__table__row
{
    display: block;

    border-bottom: 1px solid #d2d2d2;
}
.-contact__table__row:nth-last-child(1)
{
    border-bottom: none;
}
.-contact__button__block
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 30px 0 0;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.-contact__button__block .c-button-square--l--gray
{
    margin-right: 10px;
}
.form--primary__thanks
{
    text-align: center;

    color: #7e7d7d;
}
.-contact__thanks__text
{
    text-align: center;
}
.form__error
{
    margin-bottom: 5px;
}
.form--primary__repletion
{
    color: #7e7d7d;
}
.form--primary__repletion > span
{
    display: inline-block;

    margin-right: 30px;
}
.form--primary__heading
{
    padding: 10px;

    color: #7e7d7d;
    background-color: #eee;
}
.-primary__table__check .search-checkbox__label
{
    width: auto;
    margin-right: 30px;
}
.form__button__block
{
    text-align: center;

    border-top: 1px solid #d2d2d2;
}
.form__button__block .c-button-square--l
{
    margin: 10px auto 0;

    text-align: center;

    direction: inherit;
}
.form__button__block .form__text--link
{
    color: #feda5a;
}
.form__button__block--multi
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.form__button__block--multi .c-button-square--l--gray
{
    margin-right: 10px;
}
.form--primary__topBlock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.flow__arrow span
{
    line-height: 24px;

    text-align: center;
}
.form--login
{
    padding: 40px 0;

    background-color: #fff;
}
.form--login .form--primary__text
{
    color: #7e7d7d;
    border: 1px solid #aaa;
}
.form--login input
{
    line-height: 40px;

    width: 300px;
    height: 40px;
}
.form--login .c-button-square--l
{
    line-height: 50px;

    width: 300px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
.form--login__top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
}
.form--login__top .-login__top__l
{
    width: 50%;

    border-right: 1px solid #d2d2d2;
}
.form--login__top .-login__top__r
{
    width: 50%;

    text-align: center;
}
.form--login__top .c-button-square--social
{
    width: 300px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;

    color: #fff;
}
.form--login__top .-login__top__ttl
{
    text-align: center;

    color: #7e7d7d;
}
.form--login__top ._top__r__link
{
    display: block;

    width: 300px;
    margin-right: auto;
    margin-left: auto;

    text-align: right;

    color: #7e7d7d;
}
.form--login__middle
{
    text-align: center;
}
.form--login__middle input
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
.form--login__middle .-login__middle__ttl
{
    color: #7e7d7d;
}
.form--login__middle .form--login__repletion
{
    color: #7e7d7d;
}
.form--login__middle .-login__error
{
    width: 300px;
    margin: auto;
}
.column-left__search__breadcrumb
{
    color: #7e7d7d;
}
.search-table
{
    width: 100%;

    border-collapse: collapse;

    border: 1px solid #d2d2d2;
    background-color: #fff;
}
.search-table .c-icon__wrapper--triangle
{
    display: inline-block;
}
.search-table .search-table__text
{
    line-height: 34px;

    display: block;

    width: 100%;
    height: 34px;

    color: #7e7d7d;
    border: none;
    border-radius: 3px;
    background-color: #eee;
}
.search-table__row
{
    border-bottom: 1px solid #d2d2d2;
}
.search-table__type
{
    width: 80px;
    padding-left: 10px;

    color: #7e7d7d;
    background-color: #f4f4f4;
}
.search-table__right,
.search-table__right--side,
.search-table__right--multiple,
._right--multiple--btn
{
    padding: 10px 10px 10px 15px;
}
.search-table__right .c-button-square--ms--gray,
.search-table__right--side .c-button-square--ms--gray,
.search-table__right--multiple .c-button-square--ms--gray,
._right--multiple--btn .c-button-square--ms--gray
{
    line-height: 36px;

    position: relative;

    display: inline-block;

    padding-left: 10px;

    text-align: center;
    text-align: left;
}
.search-table__right .c-button-square--ms--gray > span,
.search-table__right--side .c-button-square--ms--gray > span,
.search-table__right--multiple .c-button-square--ms--gray > span,
._right--multiple--btn .c-button-square--ms--gray > span
{
    position: absolute;
    right: 5px;
}
.search-table__right .check__tag__addblock,
.search-table__right--side .check__tag__addblock,
.search-table__right--multiple .check__tag__addblock,
._right--multiple--btn .check__tag__addblock
{
    display: inline-block;

    margin-left: -10px;
}
.search-table__right .c-tag--detail--table,
.search-table__right--side .c-tag--detail--table,
.search-table__right--multiple .c-tag--detail--table,
._right--multiple--btn .c-tag--detail--table
{
    margin-top: 10px;
    margin-left: 10px;

    cursor: pointer;

    color: #7e7d7d;
}
.search-table__right--side .c-button-square--ms--gray
{
    margin-left: 10px;
}
.search-table__right--side .c-button-square--ms--gray:nth-last-of-type(1)
{
    margin-right: 15px;
}
.search-table__right--side .check__tag__addblock
{
    display: block;
}
.search-checkbox
{
    display: none;
}
.search-checkbox + label:before
{
    position: relative;
    top: 1px;

    display: inline-block;

    margin-right: 5px;

    content: '';
}
.search-checkbox__label
{
    display: inline-block;

    width: auto;
    margin-right: 30px;

    color: #7e7d7d;
}
.search-checkbox__label:nth-last-of-type(1)
{
    margin-right: 0;
}
.search-table__right--multiple
{
    width: 335px;
    padding-right: 10px;
}
._right--multiple--btn
{
    width: 270px;
    padding-right: 10px;
    padding-left: 10px;

    border-left: 1px solid #d2d2d2;
}
._right--multiple--btn .c-button-square--mm
{
    width: 100%;

    background-color: #70b8ea;
    box-shadow: 0 -4px 0 -1px #558ab1 inset;
}
.breadcrumb
{
    width: 1020px;
    margin: auto;
    padding-top: 10px;

    text-align: left;

    color: #aaa;
}
.breadcrumb .breadcrumb__arrow__text
{
    position: relative;
    top: -1px;

    margin-left: 5px;
}
.pager .pager__lists
{
    text-align: right;
}
.pager .pager__list
{
    display: inline-block;

    margin-bottom: 3px;

    color: #7e7d7d;
    background-color: #fff;
}
.pager .pager__list > a
{
    display: block;

    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
.pager .pager__list.is-disable
{
    padding: 5px 10px;

    color: #c9c9c9;
}
.pager .pager__list.is-selected
{
    padding: 5px 10px;

    background-color: #e5e5e5;
}
html.remodal-is-locked
{
    overflow: hidden;

    -ms-touch-action: none;
        touch-action: none;
}
.remodal,
[data-remodal-id]
{
    display: none;
}
.remodal-overlay
{
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;

    display: none;
}
.remodal-wrapper
{
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after
{
    display: inline-block;

    height: 100%;
    margin-left: -.05em;

    content: '';
}
.remodal-overlay,
.remodal-wrapper
{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.remodal
{
    position: relative;

    outline: none;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
.remodal-is-initialized
{
    /* Disable Anti-FOUC */
    display: inline-block;
}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened
{
    -webkit-filter: blur(3px);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: blur(3px);
}
.remodal-overlay
{
    background: rgba(43,46,56,.9);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing
{
    -webkit-animation-duration: .3s;
            animation-duration: .3s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening
{
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    -webkit-animation-name: remodal-overlay-opening-keyframes;
            animation-name: remodal-overlay-opening-keyframes;
            animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing
{
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    -webkit-animation-name: remodal-overlay-closing-keyframes;
            animation-name: remodal-overlay-closing-keyframes;
            animation-name: remodal-overlay-closing-keyframes;
}
.remodal-wrapper
{
    padding: 10px 10px 0;
}
.remodal
{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;

    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    color: #2b2e38;
    background: #fff;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing
{
    -webkit-animation-duration: .3s;
            animation-duration: .3s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.remodal.remodal-is-opening
{
    -webkit-animation-name: remodal-opening-keyframes;
    -webkit-animation-name: remodal-opening-keyframes;
            animation-name: remodal-opening-keyframes;
            animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing
{
    -webkit-animation-name: remodal-closing-keyframes;
    -webkit-animation-name: remodal-closing-keyframes;
            animation-name: remodal-closing-keyframes;
            animation-name: remodal-closing-keyframes;
}
.remodal,
.remodal-wrapper:after
{
    vertical-align: middle;
}
.remodal-close
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: visible;

    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: color .2s;
    text-decoration: none;

    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent;
}
.remodal-close:hover,
.remodal-close:focus
{
    color: #2b2e38;
}
.remodal-close:before
{
    font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
    font-size: 25px;
    line-height: 35px;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 35px;

    content: '\00d7';
    text-align: center;
}
.remodal-confirm,
.remodal-cancel
{
    font: inherit;

    display: inline-block;
    overflow: visible;

    min-width: 110px;
    margin: 0;
    padding: 12px 0;

    cursor: pointer;
    transition: background .2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    border: 0;
    outline: 0;
}
.remodal-confirm
{
    color: #fff;
    background: #81c784;
}
.remodal-confirm:hover,
.remodal-confirm:focus
{
    background: #66bb6a;
}
.remodal-cancel
{
    color: #fff;
    background: #e57373;
}
.remodal-cancel:hover,
.remodal-cancel:focus
{
    background: #ef5350;
}
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
@-webkit-keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@media only screen and (min-width: 641px)
{
    .remodal
    {
        max-width: 800px;
    }
}
.lt-ie9 .remodal-overlay
{
    background: #2b2e38;
}
.lt-ie9 .remodal
{
    width: 700px;
}
.remodal
{
    padding: 0;
}
@-webkit-keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
.modal__ttl
{
    padding: 10px 0 10px 20px;

    text-align: left;

    color: #fff;
    background: #feda5a;
}
.modal__sub__ttl
{
    padding: 10px;

    text-align: left;

    color: #7e7d7d;
    border-radius: 2px;
    background-color: #e5e5e5;
}
.modal__inner
{
    padding: 30px 20px;
}
.modal__checkbox
{
    padding: 0 10px;

    text-align: left;

    color: #7e7d7d;
}
.modal__btn
{
    margin-top: 120px;
}
.modal__btn .c-button-square--mm
{
    margin: auto;
}
.search-checkbox__label--modal
{
    display: inline-block;

    width: auto;
    margin-right: 20px;

    cursor: pointer;
}
.modal.waysidemodal
{
    height: 90vh;
}
.modal.waysidemodal .modal__inner
{
    overflow-y: auto;

    height: calc(100% - 36px);
    margin-top: 36px;
    padding: 0;
    padding-bottom: 100px;
}
.modal__ttl--fix
{
    position: absolute;

    width: 100%;
}
.modal__btn--fixed
{
    position: absolute;
    bottom: 0;

    width: 100%;
    margin-top: 0 !important;
    padding: 20px 0;

    background-color: #eee;
}
.waysite-checkbox__subTtl
{
    display: block;

    height: 30px;
    margin-right: 0;
    padding: 10px;

    background-color: #e5e5e5;
}
.waysite-checkbox__subTtl:before
{
    background-color: #fff;
}
.waysite-checkbox__station
{
    padding: 0 10px;
}
.waysite-checkbox__station .waysite-checkbox__sub
{
    width: 175px;
    margin-right: 5px;
}
.prefmodal .modal__inner
{
    padding: 20px 10px 30px;
}
.prefmodal .search-checkbox__label--modal
{
    width: 175px;
    margin-right: 5px;
}
.table--primary
{
    padding: 0 20px;

    color: #7e7d7d;
    background: #fff;
}
.table--primary__ttl
{
    width: 198px;

    color: #7e7d7d;
}
.table--primary__ttl .c-tag--form--required
{
    font-weight: normal;

    margin-left: 5px;
}
.table--primary__row
{
    display: block;

    border-bottom: 1px solid #d2d2d2;
}
.table--primary__row:nth-last-child(1)
{
    border-bottom: none;
}
.table--primary__detail
{
    width: 452px;
    padding: 30px 0;
}
.u-cf:before,
.u-cf:after
{
    display: table;

    content: ' ';
}
.u-cf:after
{
    clear: both;
}
.u-fs--xxxl
{
    font-size: 30px;
    font-size: 3rem;
}
.u-fs--xxxl--contents
{
    font-size: 32px;
    font-size: 3.2rem;
}
.u-fs--xxxl--recruit
{
    font-size: 30px;
    font-size: 3rem;
}
.u-fs--xxxlh--interview
{
    font-size: 28px;
    font-size: 2.8rem;
    line-height: 40px;
    line-height: 4rem;
}
.u-fs--xxl--contents
{
    font-size: 26px;
    font-size: 2.6rem;
}
.u-fs--xxxlh--contents
{
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 36px;
    line-height: 3.6rem;
}
.u-fs--xxl
{
    font-size: 20px;
    font-size: 2rem;
}
.u-fs--xxlh
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.u-fs--xxlh--contents
{
    font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
}
.u-fs--xl
{
    font-size: 18px;
    font-size: 1.8rem;
}
.u-fs--xlh
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.u-fs--l
{
    font-size: 16px;
    font-size: 1.6rem;
}
.u-fs--lh
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.u-fs--lh--contents
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px !important;
    line-height: 2.6rem !important;
}
.u-fs--lh--contents--other
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.u-fs--m
{
    font-size: 15px;
    font-size: 1.5rem;
}
.u-fs--s
{
    font-size: 14px;
    font-size: 1.4rem;
}
.u-fs--sh
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
}
.u-fs--sh--secret
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.u-fs--xs--secret
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 26px;
    line-height: 2.6rem;
}
.u-fs--xs
{
    font-size: 13px;
    font-size: 1.3rem;
}
.u-fs--xs--lh
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.u-fs--xs--lh--form
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.u-fs--xs--recruit
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.u-fs--xxs
{
    font-size: 12px;
    font-size: 1.2rem;
}
.u-fs--xxs-lh
{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 18px;
    line-height: 1.8rem;
}
.u-fs--xxxs
{
    font-size: 11px;
    font-size: 1.1rem;
}
.u-fs--xxxxs
{
    font-size: 10px;
    font-size: 1rem;
}
.u-fwb
{
    font-weight: bold;
}
.u-arrow__text
{
    margin-right: 5px;
}
.u-txtc
{
    text-align: center;
}
.u-txtl
{
    text-align: left;
}
.u-mt5
{
    margin-top: 5px;
}
.u-mt10
{
    margin-top: 10px;
}
.u-mt15
{
    margin-top: 15px;
}
.u-mt20
{
    margin-top: 20px;
}
.u-mt25
{
    margin-top: 25px;
}
.u-mt30
{
    margin-top: 30px;
}
.u-mt35
{
    margin-top: 35px;
}
.u-mt40
{
    margin-top: 40px;
}
.u-mt45
{
    margin-top: 45px;
}
.u-mt50
{
    margin-top: 50px;
}
.u-mt55
{
    margin-top: 55px;
}
.u-mt60
{
    margin-top: 60px;
}
.u-mt2--per
{
    margin-top: 2%;
}
.u-mr10
{
    margin-right: 10px;
}
.u-mb20
{
    margin-bottom: 20px;
}
.u-mb30
{
    margin-bottom: 30px;
}
.u-mb40
{
    margin-bottom: 40px;
}
[data-target-textcount] .is-disable
{
    display: none;
}
[data-target-rightcolumn].is-static
{
    position: static;
}
[data-target-rightcolumn].is-fixed
{
    position: fixed;
    bottom: 0;
}
[data-target-rightcolumn].is-absolute
{
    position: absolute;
    bottom: 0;
}
[data-error],
[data-error-multi]
{
    display: none;
}
[data-modal-trigger].is-disable
{
    opacity: .5;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}
[data-target-inputcompany].form--primary__text
{
    display: none;
}
