._contents__detail__block h1,
._contents__detail__block h2,
._contents__detail__block h3
{
	color: #58c2ad;
	font-weight: bold;
	font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
}

._contents__detail__block p{
	color: #7e7d7d;
	margin-top: 15px;
	font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}
._contents__detail__block img{
	max-width: 100%;
	height: auto !important;
}

._contents__detail__block small{
	color: #c9c9c9;
	margin-top: 10px;
}

._secret__detail__block h1,
._secret__detail__block h2
{
	color: #58c2ad;
	font-weight: bold;
	font-size: 20px;
    font-size: 2rem;
    line-height: 30px;
    line-height: 3rem;
	margin-top: 25px;
}

._secret__detail__block p{
	color: #7e7d7d;
	font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
}
._secret__detail__block img{
/*	margin-top: 30px;*/
	max-width: 100%;
	height: auto !important;
}

._secret__detail__block small{
	color: #c9c9c9;
	margin-top: 10px;
}

._secret__detail__block h3
{
	color: #25bc7a;
    margin-top: 25px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.4rem;
}