.c-icon--qa {
  width: 14px;
  height: 20px;
  display: inline-block;
  background: url('../img/sprite/sprite.png') no-repeat -218px 0;
}

.nav-box__list__link:hover .c-icon--work, .nav-box__list__link:hover .c-icon--qa {
  width: 14px;
  height: 20px;
  background: url('../img/sprite/sprite.png') no-repeat -191px -170px;
}

.faq_subheader{
	color: #7e7d7d;
    background-color: #eee;
    margin-top: 10px;
    padding: 5px;
}

.column-box__secret ._contents__img_text
{
    color: #c9c9c9;
}.column-box__secret ._contents__bottom__block--info
{
    color: #7e7d7d;
}.column-box__secret ._contents__detail__map
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 65%;
}.column-box__secret ._contents__detail__map iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%!important;
    height: 100%!important;
}.column-box__secret ._contents__img__block
{
    width: 100%;
    margin-bottom: 25px;
}.column-box__secret ._contents__img__block > img
{
    width: 100%;
}.column-box__secret ._contents__overview
{
    padding: 20px;

    color: #7e7d7d;
    background-color: #eee;
}.column-box__secret ._contents__overview ._contents__overview__otherTtl
{
    color: #4b4948;
}.column-box__secret ._contents__overview__btnBlock
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}.column-box__secret ._contents__overview__btnBlock .c-button-square--qa
{
    margin-right: 10px;
}.column-box__secret ._contents__qa__adviser__block
{
    padding: 20px;

    border-top: 1px solid #4b4948;
    border-bottom: 1px solid #4b4948;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__top
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__ttl,
.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__subTtl
{
    color: #4b4948;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__l
{
    margin-right: 15px;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__l figure
{
    width: 112px;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__l img
{
    border-radius: 80px;
}.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser__text,
.column-box__secret ._contents__qa__adviser__block ._contents__qa__adviser
{
    color: #7e7d7d;
}
.column-box__secret  .column-box_contents__ttl--border
{
    padding-bottom: 5px;

    border-bottom: 2px solid #7e7d7d;
}

.c-tag--qa--s--contents
{
    line-height: 30px;

    width: auto;
    height: 30px;

    color: #fff;
    background-color: #32acd1;
    display: inline-block;
    padding: 0 10px;

    text-align: center;
}


.column-box__secret h3.column-box_contents__subTtl,
.column-box__secret h2.column-box_contents__subTtl{
  padding-left:0;
}


.column-box__secret h3.column-box_contents__subTtl:before,
.column-box__secret h2.column-box_contents__subTtl:before{
  display: none;
}

.column-box__secret ._contents__overview ._contents__overview__otherTtl{
      color: #32acd1;
}