for i in range(5px, 60px, 5)
	.u-mt{i}
		margin-top: i

//下記特定%指定用
.u-mt2--per
	margin-top 2%

.u-mr10
	margin-right 10px
.u-mb20
	margin-bottom 20px
.u-mb30
	margin-bottom 30px
.u-mb40
	margin-bottom 40px