- var page = 'secret'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
head
	include ../partial/_head
body
	include ../partial/_header
	.primary-box
		.breadcrumb.u-fs--xxs
			a(href="#")
				span HOME
			span.breadcrumb__arrow__text.u-arrow__text &gt;
			a(href="#")
				span シークレット求人
			span.breadcrumb__arrow__text.u-arrow__text &gt;
			span
				| 株式会社●●●●の求人
		.primary-box__inner.u-mt20(data-target-maincolumn="target")
			.column-left(data-target-leftcolumn="target")
				article.column-box__secret
					.column-box__secret__heading
						._secret__heading__left.u-fs--xs--recruit.u-fwb
							|クラフトビールタップ マロニエゲート銀座店他/World Liquor Importers株式会社
						._secret__heading__right
							span.u-fs--xxs.c-tag--secret--flow シークレット
							span.u-fs--xxs.c-tag--new--flow NEW
							span.u-fs--xxs.c-tag--celebration 入社お祝い金1万円
						h1._secret__heading__ttl.u-fs--xxlh--contents.u-fwb まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
					.column-box__secret__slider.u-mt15
						._secret__slider__main(data-target-slider="target")
							._slider__main__img
								img(src='#{domain}img/slider/slider_01.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_02.jpg', alt='')
							._slider__main__img
								img(src='#{domain}img/slider/slider_03.jpg', alt='')
						._secret__slider-nav
							.slider-nav(data-trigger-slider="trigger")
								.thumbnail__img
									img(src='#{domain}img/slider/slider_01.jpg', alt='')
								.thumbnail__img.u-mt10
									img(src='#{domain}img/slider/slider_02.jpg', alt='')
								.thumbnail__img.u-mt10
									img(src='#{domain}img/slider/slider_03.jpg', alt='')
					._secret__tag.u-mt10
						span.c-tag--secret--detail.u-fs--xs 未経験OK
						span.c-tag--secret--detail.u-fs--xs 年齢不問
						span.c-tag--secret--detail.u-fs--xs 未経験OK
						span.c-tag--secret--detail.u-fs--xs 年齢不問
						span.c-tag--secret--detail.u-fs--xs 未経験OK
					._secret__text__block.u-fs--lh--contents
						h3._secret__text__ttl.u-fwb.u-mt25 海外ビールの輸入販売を手がける専門商社が手がける、新しいコンセプトのグローバルなレストラン。5/20　注目のNEW　OPEN！
						p._secret__text
							|独占輸入の樽生ビール、世界のクラフトビール生Tap15種～30種！日本地ビール、激レアビールも！季節のビールなども含む50種以上を提供するビアレストランが、この度、【マロニエゲート銀座】にNEW　OPEN！
							|店内は、ベルギーやロンドン、ヨークシャーなどの若者でごった返す「ビアハウス」を再現！世界のお酒の輸入を手がける弊社だからこそ運営できる専門店です。
					._secret__text__block.u-fs--lh--contents
						h3._secret__text__ttl.u-fwb.u-mt25 キッチン職希望の方へ！
						p._secret__text
							|20代の方でもシェフを目指せるチャンスあり！海外の新しい料理など幅広い調理技術を経験できることも可能です。学んだ#{config.category_3}をもとに料理長だけでなく、SVなど更に上のポジションを目指すこともできるので、将来的なキャリアの部分でも安心できる環境です。
							|責任感ある方には大きな仕事をどんどん任せていきます。ヨーロッパ料理を習得したい人、海外で働くのを目標にしたい人、洋食希望者、経験者大集合！
					._secret__notice.u-mt25
						._secret__notice__img(style="background-image:url(../img/secret/secret.jpg)")
						._secret__notice__right
							span.c-tag--secret--notice.u-fs--xs 注目ポイント！
							._secret__notice__ttl.u-fwb.u-fs--sh--secret.u-mt10
								|国内最大級のビールの祭典である「スーパーオクトーバーフェスト」の主催・企画・運営なども手掛ける当社。
							._secret__notice__text.u-fs--xs--recruit.u-mt5
								|やる気次第で、どんどん活躍の場が広がる環境です。今後も様々な事業を展開する当社で、あなたもチャンスを掴みませんか？とにかくお酒に興味のある方大集合！海外とのつながりもあるので、
								|国内ではまだ出回っていないホットな情報を知ることもできます。ビアテイスター、ビアジャッジの取得したいという方には、積極的にサポートしますよ！
					._secret__social__block.u-mt30
						a(href="#").c-button-square--social.c-facebook
							i.c-font-icon--facebook._social__block__icon.u-fs--xxl
							span.u-fs--l シェア
						a(href="https://twitter.com/share").c-button-square--social.c-twitter
							i.c-font-icon--twitter._social__block__icon.u-fs--xxl
							span.u-fs--l ツイート
				.column-box__secret--table
					ul._secret__detail__tab
						li._detail__tab__inner.is-active.u-fs--lh--contents(data-trigger-tab="0") 募集情報
						li._detail__tab__inner.u-fs--lh--contents(data-trigger-tab="1") 店舗情報
					._secret__detail--recruit
						table._secret__detail__table.u-fs--xs--recruit(data-target-table="target")
							tbody
								tr
									td._detail__table__left.u-fwb
										|職種
									td._detail__table__right
										span.c-tag--detail--table
											|バーテンダー
										span.c-tag--detail--table
											|店長・マネージャー
										span.c-tag--detail--table
											|販売スタッフ
								tr
									td._detail__table__left.u-fwb
										|雇用形態
									td._detail__table__right
										p._detail__table__text
											span.c-tag--detail--table
												| 正社員
											span.c-tag--detail--table
												| アルバイト
								tr
									td._detail__table__left.u-fwb
										|仕事内容
									td._detail__table__right
										p._detail__table__text
										| 独占輸入の樽生ビール、世界のクラフトビール生Tap15種～30種！日本地ビール、激レアビールも！季節のビールなども含む50種以上を提供するビアレストランが、この度、【マロニエゲート銀座】にNEW　OPEN！
										| 店内は、ベルギーやロンドン、ヨークシャーなどの若者でごった返す「ビアハウス」を再現！世界のお酒の輸入を手がける弊社だからこそ運営できる専門店です。
								tr
									td._detail__table__left.u-fwb
										|給与
									td._detail__table__right
										ul._detail__table__text--list
											li 【正社員】 月給 180,000円以上
											li ※※正社員平均月収:200,000円〜350,000円
										ul._detail__table__text--list
											li 【アルバイト・パート】 時給 920円〜2,000円

											li ※※パート・アルバイト平均日収:6,800円〜12,500円
								tr
									td._detail__table__left.u-fwb
										|応募資格
									td._detail__table__right
										p._detail__table__text
											span.c-tag--detail--table
												| 正社員
											span.c-tag--detail--table
												| アルバイト
										ul._detail__table__text--list.u-mt10
											li ●オープニングスタッフ希望者
											li ●美容店未経験者も歓迎
											li ●調理が好きな方 、世界の料理を学びたい方、外国語に触れたい方！
											li ●調理経験者（特に、イタリアン、ビストロ、カフェ等の洋食調理経験者大歓迎！）他ジャンルの経験をお持ちの方ももちろんOK！
											li ●美容店でのサービス経験者（ジャンル不問）
											li ●ビールやワイン好きな方、ビアテイスターやソムリエを目指したい方
											li などなど
								tr
									td._detail__table__left.u-fwb
										|勤務地
									td._detail__table__right
										ul._detail__table__text--list
											li 【東京エリア】
											li 新宿三丁目、秋葉原、日本橋、とうきょうスカイツリー駅 or 押上駅
											li ※姉妹店：神谷町、日本橋、東京（新丸ビル）、浜松町、銀座、新宿、赤坂、銀座、御茶ノ水、六本木、表参道他
								tr
									td._detail__table__left.u-fwb
										|アクセス
									td._detail__table__right
										ul._detail__table__text--list
											li 「WAKANUI GRILL DINING■BAR■TOKYO」
											li 東京都港区芝公園3-4-30 32芝公園ビル10階
											li 都営三田線　御成門駅「A1出口」から徒歩6分
											li 都営大江戸線　赤羽橋駅「赤羽橋口」から徒歩7分
											li 東京メトロ日比谷線　神谷町駅「1番出口」から徒歩8分
										ul._detail__table__text--list.u-mt20
											li 「WAKANUI LAMB CHOP■BAR■JUBAN」
											li 東京都港区東麻布2-23-14　トワ・イグレッグB1F
											li 東京メトロ南北線・都営大江戸線　麻布十番駅から徒歩4分
										._detail__table__map.u-mt10
											<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
										a(href="#") GoogleMapで確認する
								tr
									td._detail__table__left.u-fwb
										|待遇・福利厚生
									td._detail__table__right
										ul._detail__table__text--list
											li ★賞与年1回（2014年度実績　3万円～105万円）
											li ★昇給年1回　
											li ★社会保険完備　
											li ★研修・資格支援制度
											li ・ドイツ＆フランスワイナリー海外研修制度
											li ・月1回のワインテイスティング会　月1回のソムリエによる講習会
											li ・調理士・ソムリエ、ビアテイスター、ビアジャッジャー資格支援制度
											li ・独立支援（のれんわけ）グループ内独立制度（ＦＣ特別融資制度）完備
											li ★交通費支給（当社規定による）
											li ★制服貸与
											li ★食事（一部負担）
											li ★新入社員資金支援サポート制度
											li 引越し資金、敷金・礼金　当社負担
											li 2年間の家賃80％を弊社が負担します。（家賃上限有）
											li （東京、千葉、神奈川、埼玉県以外在住者限定）
											li ★研修・試用期間有
								tr
									td._detail__table__left.u-fwb
										|休日休暇
									td._detail__table__right
										ul._detail__table__text--list
											li 月７日（交代制）、その他連休あり、年次有給休暇

						table._secret__detail__table.u-fs--xs--recruit.is-disable(data-target-table="target")
							tbody
								tr
									td._detail__table__left.u-fwb
										|ジャンル
									td._detail__table__right
										|イタリアン
								tr
									td._detail__table__left.u-fwb
										|住所
									td._detail__table__right
										|東京都品川区東品川2-3-10 シーフォートスクエア1F
								tr
									td._detail__table__left.u-fwb
										|アクセス
									td._detail__table__right
										ul._detail__table__text--list
											li 東京モノレール 天王洲アイル駅天王洲シーフォートスクエア内りんかい線 天王洲アイル駅 徒歩5分
										._detail__table__map.u-mt10
											<iframe data-normal="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13122.11578146955!2d135.5071726!3d34.6918364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x549e50d7757f5c9f!2z44OO44O844K544K344On44Ki!5e0!3m2!1sja!2sjp!4v1466668259297" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
										a(href="#") GoogleMapで確認する
								tr
									td._detail__table__left.u-fwb
										| 客単価
									td._detail__table__right
										| 3500円～4500円位
								tr
									td._detail__table__left.u-fwb
										| 席数
									td._detail__table__right
										| 20席
								tr
									td._detail__table__left.u-fwb
										| 定休日
									td._detail__table__right
										| 不定休
								tr
									td._detail__table__left.u-fwb
										| HP
									td._detail__table__right
										ul
											li
												a(href="#") ワールドリカーインポーターズ株式会社　企業HP
											li
												a(href="#") クラフトビールタップ　HP
					.column-box__secret__btnBLock
						.c-button-square--l--gray.u-fs--xxl.u-fwb
							span.c-font-icon--attachment
							|キープする
						.c-button-square--l.u-fs--xxl.u-fwb
							|応募する
				.column-box__secret--bottom.u-mt40
					h3._secret--bottom__heading.u-fs--l.u-fwb この企業が募集しているほかの求人
					ul._secret--bottom__list.u-fwb
						a(href="")
							li._secret--bottom__lists.-bottom__list__header.u-fs--xs--secret マロニエゲート赤坂店/Liquor Importers株式会社
							li._secret--bottom__lists.u-fs--xs--secret シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
					ul._secret--bottom__list.u-fwb
						a(href="")
							li._secret--bottom__lists.-bottom__list__header.u-fs--xs--secret マロニエゲート赤坂店/Liquor Importers株式会社
							li._secret--bottom__lists.u-fs--xs--secret シェフ・キッチン/まさにグローバル！世界のクラフトビールと世界各国の料理を提供する新たなレストラン5/20 銀座新店舗　オープニング大募集
			.column-right
				.column-right__inner(data-target-rightcolumn="target")
					.column-box--rightTop
						include ../partial/column_right/_column_rightTop
					ul.nav-box.u-fs--xs.u-mt30
						include ../partial/_nav
					.column-box--right__search.u-mt30
						include ../partial/form/_quick_search_right
					include ../partial/column_right/_column_rightContent_popular
	include ../partial/_footer
	script(src='#{domain}js/app.js')









