- var page = 'concept'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			.primary-box--noPadding
				.primary-box__inner(data-target-maincolumn="target")
					article
						.contents-box__contents__topImg
							img(src="#{domain}img/concept/main.jpg" alt="もっと多くの人たちに“食”の業界で働く魅力を伝えたい！")
						.contents-box
							._contents__detail__block
								p.contents-box__text.u-fs--mh.u-mt20
									|飲食業界は、いつも人手が不足しています。
									|そんな飲食業界の人手不足問題を解消するため、もっともっと多くの人たちに飲食業界で働く楽しさを知ってほしいと思っています。
								p.contents-box__text.u-fs--mh.u-mt20
									|“#{config.category_4}”を通じて、飲食業界の魅力を、飲食に関わる人たちだけでなく、食べることが好きという一般の人たちにも、
									|情報発信して行きたいと考えています。
							._contents__detail__block--flex.u-mt20
								._contents__detail__l
									img(src="#{domain}img/concept/concept-01.jpg" alt="")
								._contents__detail__r
									h2._contents__ttl--concept.u-fs--xlh.u-fwb #{config.category_4}とは？
									p.contents-box__text.u-fs--sh--contents.u-mt15
										|#{config.category_4}は、食に関係する求人と情報コンテンツがひとつにまとまった“飲食”業界初のキュレーションサイトです。
							._contents__detail__block--flex
								._contents__detail__l
									img(src="#{domain}img/concept/concept-02.jpg" alt="")
								._contents__detail__r
									h2._contents__ttl--concept.u-fs--xlh.u-fwb
										| 求人掲載件数は、
										span.u-fs--xl.u-mt5 約00,000件
									p.contents-box__text.u-fs--sh--contents.u-mt15
										| サービス・販売スタッフはもちろん、バリスタ・ブランジェ・ピッツァイオーロなど、掲載割合の少ない専門職も一括で検索できます。
							._contents__detail__block--flex
								._contents__detail__l
									img(src="#{domain}img/concept/concept-03.jpg" alt="")
								._contents__detail__r
									h2._contents__ttl--concept.u-fs--xlh.u-fwb 食に関する、多彩な情報コンテンツ
									p.contents-box__text.u-fs--sh--contents.u-mt15
										| 就職・転職に役立つ情報をはじめ、最新#{config.category_1}や#{config.category_2}など多彩なお役立ちコンテンツを発信。食の最新情報をチェックできます。
							a.c-button-square--m.u-fs--l.u-fwb.u-mt20(href="#")
								span.button-inner 掲載に関するお問い合わせはコチラ

			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')




