- var page = 'entry'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					| 応募フォーム
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.form--primary__topBlock
						h1.column-left__ttl--normal.u-fs--xxl--contents
							| 応募フォーム
						.flow__arrow.u-fs--s
							span.c-icon--flow--l--is
								| 1.登録
							span.c-icon--flow--c
								| 2.確認
							span.c-icon--flow--r
								| 3.応募完了
					.form--primary.u-mt10
						p.form--primary__repletion.u-fs--xs--lh--form.u-fwb
							| Liquor Importers株式会社
						p.form--primary__repletion.u-fs--xs--lh--form
							span 月給170,000円〜400,000円...
							span 新宿三丁目、秋葉原、日本...
						form.u-mt15
							h2.form--primary__heading.u-fs--sh 基本情報
							table.form--primary__table--noBorder
								tbody
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='name')
												| お名前
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div
												p.form__error.u-fs--xs--lh--form(data-error="required")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| お名前を入力してください。
											input.form--primary__text.u-fs--l(id='name' type='text' placeholder='お名前を入力してください' data-validate="target" required)
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='kana')
												| フリガナ
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div
												p.form__error.u-fs--xs--lh--form(data-error="required")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| お名前を入力してください。
												p.form__error.u-fs--xs--lh--form(data-error="kana")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| カタカナで入力してください。
											input.form--primary__text.u-fs--l(id='kana' type='text' placeholder='カタカナで入力してください' data-kana="target" data-validate="target" required)
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='name')
												| 性別
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div.-contact__radio__block
												input.form--primary__radio(type='radio', name='a' id='radio2', value='女' checked='checked')
												label.u-fs--l(for='radio2') 女
												input.form--primary__radio(type='radio', name='a' id='radio1', value='男')
												label.u-fs--l(for='radio1') 男
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='name')
												| 生年月日
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail.form--primary__txtr(data-validate-multi="target")
											div
												p.form__error.u-fs--xs--lh--form(data-error-multi="selected")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													|生年月日を入力してください。
											include ../partial/form/_yyyymmdd
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='mail')
												| メールアドレス
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div
												p.form__error.u-fs--xs--lh--form(data-error="mail")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| メールアドレスの入力に誤りがあります。
												p.form__error.u-fs--xs--lh--form(data-error="required")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| メールアドレスを入力してください。
											input.form--primary__text.u-fs--l(id='mail' type='text' placeholder='例） example@runda.com' data-mail="target" data-validate="target" required)
											p.form--primary__repletion.u-fs--xxs-lh.u-mt5
												|※こちらのメールアドレスにご返信させていただきます。
												br
												|手数ですがメールが受信可能かご確認ください。
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='name')
												|住所
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail.form--primary__txtr(data-validate-multi="target")
											div
												p.form__error.u-fs--xs--lh--form(data-error-multi="selected")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													|住所を入力してください
											.quick-search__select__wrap.c-icon__wrapper--triangle
												select(name="pref").quick-search__select--l.u-fs--m
													option(value='') 都道府県
													option(value='te') test
											.quick-search__select__wrap.c-icon__wrapper--triangle
												select(name="city" id="city_checkboxes").quick-search__select--l.u-fs--m
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='tel')
												| 電話番号
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div
												p.form__error.u-fs--xs--lh--form(data-error="required")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													|電話を入力してください。
												p.form__error.u-fs--xs--lh--form(data-error="num")
													span.c-icon--triangle--attention.u-fs--xxxs
														span !
													| 半角数字を入力してください。
											input.form--primary__text.u-fs--l(id='tel' type='text' placeholder='09000000000' data-validate="target" data-num="target" required)
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label
												| 現在の就業状況
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div.-contact__radio__block--secondary
												input.form--primary__radio(type='radio', name='b' id='radio_status1', value='在職中(応募求人と同業種)' checked='checked')
												label.u-fs--l(for='radio_status1') 在職中（飲食関係）
												input.form--primary__radio(type='radio', name='b' id='radio_status2', value='在職中(異業種)')
												label.u-fs--l(for='radio_status2') 在職中（飲食以外）
												input.form--primary__radio(type='radio', name='b' id='radio_status3', value='求職中')
												label.u-fs--l(for='radio_status3') 離職中
												input.form--primary__radio(type='radio', name='b' id='radio_status4', value='学生')
												label.u-fs--l(for='radio_status4') 学生
												input.form--primary__radio(type='radio', name='b' id='radio_status5', value='主婦・主夫')
												label.u-fs--l(for='radio_status5') 主婦・主夫
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label
												| 入社可能時期
											span.c-tag--form--required.u-fs--xxs 必須
										td.form--primary__detail
											div.-contact__radio__block--tertiary
												input.form--primary__radio(type='radio', name='c' id='radio_entrytime1', value='即日' checked='checked')
												label.u-fs--l(for='radio_entrytime1') 即日
												input.form--primary__radio(type='radio', name='c' id='radio_entrytime2', value='1ヶ月以内')
												label.u-fs--l(for='radio_entrytime2') 1ヶ月以内
												input.form--primary__radio(type='radio', name='c' id='radio_entrytime3', value='1〜3ヶ月以内')
												label.u-fs--l(for='radio_entrytime3') 1〜3ヶ月以内
												input.form--primary__radio(type='radio', name='c' id='radio_entrytime4', value='3ヶ月以降')
												label.u-fs--l(for='radio_entrytime4') 3ヶ月以降
												input.form--primary__radio(type='radio', name='c' id='radio_entrytime5', value='相談したい')
												label.u-fs--l(for='radio_entrytime5') 相談したい
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='contact')
												| 希望連絡時間・連絡方法
										td.form--primary__detail
											input.form--primary__text.u-fs--l(id='contact' type='text' placeholder='例）平日午前中/メール連絡希望')
											p.form--primary__repletion.u-fs--xxs-lh.u-mt5
												| ※連絡のつく時間帯、ご希望の連絡方法があれば入力してください。
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='capabilities')
												| 取得資格
										td.form--primary__detail
											input.form--primary__text.u-fs--l(id='capabilities' type='text' placeholder='例) 美容師免許/柔道整復師/看護師 など')
									tr.-contact__table__row
										td.form--primary__ttl.u-fs--l.u-fwb
											label(for='pr')
												| 職務経歴・自己PR
										td.form--primary__detail
											textarea.form--primary__textarea.form--primary__textarea--resize.u-fs--lh--contents(id='pr' placeholder='志望動機/活かせる経験/長所・短所 など' maxlength="2000")
							h2.form--primary__heading.u-fs--sh 希望職種
							p.u-fs--s.u-fwb.u-mt30 Liquor Importers株式会社
							.-primary__table__check.u-fs--xs
								input.search-checkbox(type="checkbox" name="a" id="check01" checked)
								label.search-checkbox__label.u-mt20(for="check01")
									| パティシエ
								input.search-checkbox(type="checkbox" name="a" id="check02")
								label.search-checkbox__label.u-mt20(for="check02")
									| 販売スタッフ
								input.search-checkbox(type="checkbox" name="a" id="check03")
								label.search-checkbox__label.u-mt20(for="check03")
									| ソムリエ
								input.search-checkbox(type="checkbox" name="a" id="check04")
								label.search-checkbox__label.u-mt20(for="check04")
									| デリバリースタッフ
								input.search-checkbox(type="checkbox" name="a" id="check05")
								label.search-checkbox__label.u-mt20(for="check05")
									| バリスタ
								input.search-checkbox(type="checkbox" name="a" id="check06")
								label.search-checkbox__label.u-mt20(for="check06")
									| 本部スタッフ
							h2.form--primary__heading.u-fs--sh.u-mt20 希望雇用形態
							.-primary__table__check.u-fs--xs
								input.search-checkbox(type="checkbox" name="a" id="check07" checked)
								label.search-checkbox__label.u-mt20(for="check07")
									| 正社員
								input.search-checkbox(type="checkbox" name="a" id="check08")
								label.search-checkbox__label.u-mt20(for="check08")
									| アルバイト
								input.search-checkbox(type="checkbox" name="a" id="check09")
								label.search-checkbox__label.u-mt20(for="check09")
									| パート
								input.search-checkbox(type="checkbox" name="a" id="check10")
								label.search-checkbox__label.u-mt20(for="check10")
									| 契約
								input.search-checkbox(type="checkbox" name="a" id="check11")
								label.search-checkbox__label.u-mt20(for="check11")
									| 派遣
								input.search-checkbox(type="checkbox" name="a" id="check12")
								label.search-checkbox__label.u-mt20(for="check12")
									| その他
							.form__button__block.u-mt30
								p.u-fs--s.u-mt30.u-txtc
									a.form__text--link(href="#") 利用規約
									| に同意して
									button.c-button-square--l.u-fs--xxl.u-fwb(type="submit" action="" data-submit='trigger')
										span.button-inner 確認する
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
		include ../partial/_footer
		script(src='#{domain}js/app.js')
