- var page = 'contact'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|運営会社
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h1.column-left__ttl--normal.u-fs--xxl--contents
						|運営会社
					.table--primary.u-mt10
						table
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|商
									| &nbsp;
									|号
								td.table--primary__detail
									div
										span.u-fs--l #{config.company}
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|所在地
								td.table--primary__detail
									div
										span.u-fs--l 東京都豊島区南大塚2-25-15
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|設
									|&nbsp;
									|立
								td.table--primary__detail
									span.u-fs--l 平成28年9月1日
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									|事業内容
								td.table--primary__detail
									div
										span.u-fs--lh--contents
											| メディアサイト運営 / Web広告事業
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 代表取締役
								td.table--primary__detail
									div
										span.u-fs--l 鈴木 清未
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 資本金
								td.table--primary__detail
									div
										span.u-fs--l 300万円
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| 決算期
								td.table--primary__detail
									div
										span.u-fs--l 8月
							tr.table--primary__row
								td.table--primary__ttl.u-fs--l.u-fwb
									| HP
								td.table--primary__detail
									div
										a(href="http://kireinista.jp")
											span.u-fs--l http://kireinista.jp
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
		include ../../partial/_footer
		script(src='#{domain}js/app.js')



