footer
	.footer__inner
		span(data-trigger-totop="target").u-fs--s._inner__button--toTop.c-button-square--toTop
			i._button--toTop__icon.c-icon--triangle--top
			| 上に戻る
		ul.footer__nav
			li.u-fs--xxs._inner__block--left
				ul.footer__inner__list
					li
						span.u-arrow__text &gt;
						a(href="#")
							|HOME
					li
						span.u-arrow__text &gt;
						a(href="#")
							|シークレット求人
					li
						span.u-arrow__text &gt;
						a(href="#")
							|コンテンツまとめ
			li.u-fs--xxs._inner__block--middle
				p._inner__block__title.u-fwb コンテンツカテゴリー
				ul.footer__inner__rows.footer__inner__list
					//li
					//	span.u-arrow__text &gt;
					//	a(href="#")
					//		| #{config.category_1}
					li
						span.u-arrow__text &gt;
						a(href="#")
							| #{config.category_2}
					//li
					//	span.u-arrow__text &gt;
					//	a(href="#")
					//		| #{config.category_4}
					li
						span.u-arrow__text &gt;
						a(href="#")
							| #{config.category_1}
					li
						span.u-arrow__text &gt;
						a(href="#")
							| #{config.category_3}
					li
						span.u-arrow__text &gt;
						a(href="#")
							|#{config.category_4}
			li.u-fs--xxs._inner__block--right
				p._inner__block__title.u-fwb #{config.sitename}について
				ul.footer__inner__rows.footer__inner__list
					li
						span.u-arrow__text &gt;
						a(href="#")
							|#{config.sitename}とは
					li
						span.u-arrow__text &gt;
						a(href="#")
							|お問い合わせ
					li
						span.u-arrow__text &gt;
						a(href="#")
							|運営会社
					li
						span.u-arrow__text &gt;
						a(href="#")
							|プライバシーポリシー
					li
						span.u-arrow__text &gt;
						a(href="#")
							|求人掲載について
					li
						span.u-arrow__text &gt;
						a(href="#")
							|ログイン/新規登録
			li.footer__social__block
				a(href="#").c-button-square--social.c-facebook
					i.c-font-icon--facebook._social__block__icon.u-fs--xxl
					span.u-fs--l シェア
				a(href="#").c-button-square--social.c-twitter.u-mt10
					i.c-font-icon--twitter._social__block__icon.u-fs--xxl
					span.u-fs--l ツイート
				p._social__block__text.u-mt20 &copy;2016 kireinista Co.,Ltd.




