header.header--primary
	div.header--primary__inner.u-cf
		.header--primary__search(data-trigger-quicksearch='quicksearch')
			i.c-icon--search
			span.-primary__search__text.u-fs--xxxs SEARCH
		if heading === 'true'
			h2.header--primary__logo
				a(href="#")
					img(src="#{domain}img/svg/top-logo.svg" alt="#{config.sitename}")

		else
			h1.header--primary__logo
				a(href="#")
					img(src="#{domain}img/svg/top-logo.svg" alt="#{config.sitename}")
		.header--primary__right
			a.c-button-square--s(href="#")
				span.u-fs--l.u-fwb ログイン
			.nav--hamburger(data-trigger-hamburgermenu='hamburger')
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__list
				span.nav--hamburger__text.u-fs--xxxs MENU
		form.quick-search.quick-search--inHeader.is-disable(data-target-quicksearch='quicksearch')
			.-search--inHeader__inner
				include ./form/_quick_search
		ul.nav-box.u-fs--xs.nav-box--inHeader.is-disable(data-target-hamburgermenu='hamburger')
			include ./_nav




