if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--book
			span #{config.category_1}
			span.nav-box__list__arrow.u-fs--xs
				| &gt;
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--book
			span #{config.category_1}
			span.nav-box__list__arrow.u-fs--xs
				| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--beauty
		span #{config.category_2}
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--hat
		span #{config.category_3}
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
li.nav-box__list
	a.nav-box__list__link(href="#")
		span.nav-box__list__icon
			i.c-icon--star-other
		span #{config.category_4}
		span.nav-box__list__arrow.u-fs--xs
			| &gt;
