if page === 'home'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--home
			span HOME
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--home
			span HOME
if page === 'secret'
	li.nav-box__list
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--secret
			span シークレット求人
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--secret
			span シークレット求人
if page === 'contents'
	li.nav-box__list
		p.nav-box__list--selected
			span.nav-box__list__icon
				i.c-icon--content
			span コンテンツまとめ
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			span.nav-box__list__icon
				i.c-icon--content
			span コンテンツまとめ
if page === 'contents_trend'
	li.nav-box__list.is-selected
		p.nav-box__list--selected
			i.c-icon--l
			span.nav-box__list__icon
				i.c-icon--book
			span #{config.category_1}
else
	li.nav-box__list
		a.nav-box__list__link(href="#")
			i.c-icon--l
			span.nav-box__list__icon
				i.c-icon--book
			span #{config.category_1}
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--beauty
		span #{config.category_2}
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--hat
		span #{config.category_3}
li.nav-box__list
	a.nav-box__list__link(href="#")
		i.c-icon--l
		span.nav-box__list__icon
			i.c-icon--star-other
		span #{config.category_4}