ul.pager__lists.u-fs--l
	li.pager__list.is-disable
		| &lt; 前へ
	li.pager__list.is-selected
		| 1
	li.pager__list
		a(href="#") 2
	li.pager__list
		a(href="#") 3
	li.pager__list
		a(href="#") 4
	li.pager__list
		a(href="#") 5
	li.pager__list
		a(href="#") 6
	li.pager__list
		a(href="#") 7
	li.pager__list
		a(href="#") 8
	li.pager__list
		a(href="#") 9
	li.pager__list
		a(href="#") 10
	li.pager__list
		a(href="#") 次へ &gt;
