if page === 'home'
	.topImg-box.topImg-box--center(style="background-image:url(#{domain}img/topimg/main.jpg)")
else if page === 'contents'
	ul.topImg-box
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング
		li.topImg-box__list(style="background-image:url(#{domain}img/topimg/test_img.jpg)")
			a.topImg-box__link(href="")
				p.topImg-box__list__inner
					span.topImg-box__list__text.u-fs--xlh
						| まるでNYのリノベーションホテルのようなレストランにて、コース料理からウェディング
