[data-target-textcount]
	.is-disable
		display none
[data-target-rightcolumn]
	&.is-static
		position static
	&.is-fixed
		position fixed
		bottom 0
	&.is-absolute
		position absolute
		bottom 0
[data-error],
[data-error-multi]
	display none
[data-modal-trigger]
	&.is-disable
		opacity .5
[data-target-inputcompany]
	&.form--primary__text
		display none



