- var page = 'contact'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span
					|プライバシーポリシー
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					h2.list__ttl--normal.u-fs--xxl--contents
						|利用規約
					.list--primary.u-mt10
						ul
							li.list--primary__row
								.list--primary__text
									span.u-fs--xs--lh--form
										|求人情報一括検索サイト『#{config.sitename}』のご利用は、本利用規約及び、プライバシーポリシーをご承諾いただくことが条件となります。
										|予め内容をご確認の上、ご利用ください。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第1条（サービス）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|#{config.company}（以下「当社」という）が運営する『#{config.sitename}』は、 Webサイト上における求人企業および求人情報提供企業（以下「パートナー」という）の一括情報提供サービスを提供しています（以下、総称して「本サービス」という）。
										|本サービスのロゴ・画像・文章に関する著作権は、当社に帰属します。ただし、各パートナーから情報の提供を受けて本サービスに掲載される画像及び文章等の著作権は、各パートナーまたは各パートナーへ情報提供している第三者に帰属します。
										|本サービスに掲載されている文章・画像等の無断転載・二次利用は禁止します。当社は、各パートナーより提供されて掲載される情報の内容の正確性、合法性、有効性およびその他一切に関する事由について、監視、審査などの管理に関する一切の責任を負わないものとします。
										|各パートナーへの登録内容および各パートナーから情報の提供を受けて本サービスに掲載される情報に対するお問い合わせは、情報提供元の各パートナーに直接ご連絡ください。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第2条（利用者の責任）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|利用者は、自らの意思によってのみ本サービスを利用し、利用にかかわる全ての責任を負うものとします。本サービスの利用は、本サービスの利用規約・プライバシーポリシー（以下「本規約」という）の内容を全て承諾したうえで行われたものとみなします。
										|利用者が本サービスに登録した情報は、利用者自らがその内容について責任を負うものとします。
										|利用者は、本サービスの利用において、故意または過失による行為により、第三者に対して損害を生じさせた場合、自らの責任において解決し、当社は何らの責任を負わないこととします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第3条（登録会員）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|登録会員とは、本サービスに個人情報およびその他の情報を登録し、当社がこれを承認した利用者をいいます。登録会員は本サービスにおける登録会員向けサービス（以下「会員サービス」といいます）を利用できるものとします。
										|登録会員は、会員登録の際の情報に不足または誤りがある場合、本サービスをご利用できないことがあります。
										|当社は、本規約に基づき会員登録を希望する利用者および登録会員が、下記に該当する事項もしくはそれに類似する事項により不適当と判断した場合、その登録および本サービスの利用を拒否することがあります。
										br
										| ・悪戯と考えられる会員登録
										br
										| ・同一人物によるものと考えられる複数の会員登録
										br
										| ・虚偽、誤りの情報が入力されている、もしくは入力漏れがある会員登録
										br
										| ・サイトアタック、システムの破壊・停止が目的と考えられる会員登録
										br
										| ・景品またはプレゼントの取得のみが目的と考えられる会員登録
										br
										| ・反社会的勢力（「暴力団員による不当な行為の防止等に関する法律」に定義する暴力団及びその関係団体その他の反社会的団体または勢力をいいます）の会員登録
										br
										| ・上記各項に類似する会員登録
										br
										| ・その他、当社が不適切と判断した会員登録
										br
										|登録会員が登録した内容に誤りがあったことにより第三者からクレーム等があった場合、事前の通知なしに登録会員情報の全てまたは一部を削除することがあります。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第4条（各パートナーへの登録・応募）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										| 本サービスは、各パートナー への会員登録または各パートナーが提供する求人情報への応募等ができるサービスを提供しており、当該会員登録または応募は、利用者の意思に基づいて行われるものとします。各パートナーに登録される情報は、本サービスに登録した情報の全部または一部が登録先パートナーに提供されますが、提供される情報は登録先パートナーにより異なります。
										| また、各パートナーに登録される情報は、登録先パートナーサイトで登録できる全項目が登録されることを保証するものではありません。
										| 本条第1項による各パートナーへの会員登録または各パートナーが提供する情報への応募をする場合、以下の各パートナーの利用規約およびプライバシーポリシー等の内容を確認ならびに了承の上、完了したものとみなします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第5条（禁止事項）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										| 利用者は、本サービス上において、以下の行為をしてはならないものとします。
										br
										| ・虚偽の情報を登録する行為
										br
										| ・他の利用者、第三者を誹謗中傷する行為
										br
										| ・他の利用者、第三者の著作権、商標権、その他の権利を侵害する行為
										br
										| ・他の利用者、第三者の財産、名誉、プライバシー、肖像権等を侵害する行為
										br
										| ・営利目的の情報収集行為
										br
										| ・本サービスの利用に基づいて得た情報を第三者へ公開する等、本サービスの運営を妨げる行為
										br
										| ・本サービスの信用を毀損する行為またはそのおそれがある行為
										br
										| ・犯罪に結びつく行為
										br
										| ・公序良俗、法律、法令に反する行為
										br
										| ・上記各号に類似する行為
										br
										| ・その他、当社が不適切と判断する行為
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第6条（除名、抹消）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|利用者が本規約に違反した場合、事前に通知することなく本サービスの提供を一時中止または登録会員から除名もしくは抹消することができるものとします。この場合、本サービスを経由して各パートナーへ登録した情報等が除名または抹消されることがあります。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第7条（本規約および本サービス内容の変更）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|当社は、事前の通知なくして本サービスの変更、一時的もしくは長期的な停止、または終了をすることがあります。当社は、随時本規約の変更をすることができるものとします。本規約の変更は、本サービス上に表示されたときをもって、変更された本規約が有効になるものとします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第8条（損害賠償）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|利用者が本規約に違反して当社に損害を与えた場合、当該利用者は、当社に対して直接間接を問わず一切の損害の賠償義務を負担するものとします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第9条（免責）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										| 当社は、利用者の本サービスの利用から生じる一切の損害（精神的苦痛、事業の中断またはその他の金銭的損害を含む一切の不利益）に関して、一切免責されるものとします。
										br
										| 当社は、利用者の成り済まし、盗用またはその他当該利用者以外の者の利用につき、一切免責されるものとします。
										br
										| 当社は、各パートナーへの会員登録等に関する紛争については、一切免責されるものとします。
										br
										| 当社は、通常講ずるべきウィルス対策等では防止できないウィルス被害、天変地異による被害、その他当社の責によらない事由による損害が生じた場合、一切免責されるものとします。
										br
										| 当社は、前項の事由により本サービスにおけるデータが消去・変更されないことを保証しないものとします。
										br
										| 当社は、個人情報以外の登録内容により、期せずして本人が特定できてしまった場合、一切免責されるものとします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 第10条（管轄裁判所）
								.list--primary__text.u-mt20
									span.u-fs--xs--lh--form
										|本規約に関する紛争については、準拠法を日本法とし、東京地方裁判所または東京簡易裁判所を第一審の専属合意管轄裁判所とします。

					h2.list__ttl--normal.u-fs--xxl--contents.u-mt20
						| プライバシーポリシー
					.list--primary.u-mt10
						ul
							li.list--primary__row
								.list--primary__text
									span.u-fs--xs--lh--form
										| 求人情報一括検索サイト『#{config.sitename}』のご利用は、本利用規約及び、プライバシーポリシーをご承諾いただくことが条件となります。
										| 予め内容をご確認の上、ご利用ください。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 1.個人情報の取り扱いについて
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										|当社は、当社が遂行する各事業において、必要となる個人情報を取得しますが、これらの個人情報は下記の目的で利用します。また、
										|当社は、業務を円滑に進めるため、業務の一部を委託し、業務委託先に対して必要な範囲内で個人情報を提供することがありますが、
										|この場合、当社は当該委託先との間で個人情報の取扱いに関する契約の締結をはじめ、適切な監督を実施します。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li (1) 利用目的
										li 本サービスへの会員登録
										li 求人企業への応募
										li サービスの品質向上を目的としたアンケートの実施
										li その他本サービスに付随するサービスの提供を行うこと
									ul.u-fs--xs--lh--form.u-mt20
										li (2) 第三者提供
										li 当社は、個人情報を、事業の再編、合併、組織改編または営業譲渡等の際のデュー・デリジェンス (企業内容の調査)を目的として、 当該デュー・デリジェンスを行なう者に提供する場合があります。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 2.第三者への開示・提供
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										|当社は、業務委託先等への提供の場合、1.の(2)に記載の目的に利用する場合、及び以下の何れかに該当する場合を除き、個人情報を第三者へ開示または提供しません。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li (1)ご本人様の同意がある場合
										li (2)統計的なデータなどご本人様を識別することができない状態で開示・提供する場合
										li (3)法令に基づき開示・提供を求められた場合
										li (4)人の生命、身体または財産の保護のために必要な場合であって、ご本人様の同意を得ることが 困難である場合
										li (5)国または地方公共団体等が公的な事務を実施するうえで、協力する必要がある場合であって、 ご本人様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがある場合
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 3.訂正・削除等
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										|当社の保有個人データの内容に関して、ご本人様の情報について訂正、追加または削除をご希望される場合には、 お申し出いただいた方がご本人であることを確認したうえで、事実と異なる内容がある場合には、合理的な期間及び範囲で情報の訂正、 追加または削除をします。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 4.利用停止・消去
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										|当社の保有個人データに関して、ご本人様の情報の利用停止または消去をご希望される場合で、以下の事項のいずれか一つに該当する場合には、 お申し出いただいた方がご本人であることを確認したうえで、原則として合理的な期間及び範囲で利用停止または消去します。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li (1)当社が、ご本人様の同意なく本方針の1に記載の利用目的の範囲を超えて個人情報を利用したとき
										li (2)当社が、当該個人情報を違法または不正な方法で取得したとき
										li (3)当社が、不正に第三者に個人情報を開示したとき
										li なお、これらの情報の一部または全部を利用停止または消去した場合、不本意ながらご要望に沿ったサービスの提供ができなくなることが ありますので、ご理解とご協力を賜りますようお願い申し上げます。 また、労働基準法等、法令に基づき保有しております情報については、利用停止または消去のお申し出には応じられない場合があります。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 5.開示等の受付方法・窓口
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										|当社の保有個人データに関して、上記3.4.5のお申し出及び、その他の個人情報に関するお問合せは以下の方法にて受け付けます。 なお、この受付方法によらない開示等の求めには応じられない場合がありますので、ご了承ください。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li (1)受付手続
										li 下記の宛先に電話でお申込ください。受付手続についての詳細は、お申し出いただいた際にご案内申し上げますが、下記の窓口及び方法により、 ご本人様(または代理人)であることの確認をしたうえで、原則として書面により回答します。また、お申し出内容によっては、 当社所定の申込書面をご提出いただく場合があります。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li ・開示等の求めに際して提出すべき書面の様式その他の開示等の求めの方式
										li 下記を当社「個人情報苦情及びご相談窓口」までご送付ください。できる限り迅速に対応いたします。
										li a)当社指定の「開示等の求め申請書」
										li b)本人確認書類
								.list--primary__text
									ul.u-fs--xs--lh--form
										li 【受付の方法・窓口】お客様、及びその他の方の窓口
										li 住所：東京都豊島区南大塚2−25−15　個人情報受付センター
										li #{config.sitename}窓口：info@runda-taberu.jp
										li ･ご本人様からのお申込の場合、ご本人であることの確認のために、以下の情報をご提出いただきます。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li 【電話口での確認方法】
										li ･氏名・住所・電話番号・生年月日等の当社ご登録情報の確認。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li 【申込書面をご提出いただく際に同封いただくもの】
										li ･運転免許証、パスポート、健康保険の被保険者証、外国人登録証の写しのいずれか1つ
										li ･現住所を確認できる書類(住民票の写し、公共料金の請求書等)
								.list--primary__text
									ul.u-fs--xs--lh--form
										li 【代理人からのお申込の場合】
										li ･代理人であることを示す委任状
										li ･委任状に押印されたご本人様の印鑑の印鑑証明書
										li ･代理人の本人確認書類(ご本人様からのお申込に準ずる)
										li なお、ご提出いただいた証明書類等につきましては返却いたしません。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li 【手数料】
										li 「利用目的の通知」あるいは「開示」につきましては、1件のお申込みにつき手数料として1,000円いただきます。 1,000円分の郵便小為替を上記書類にあわせてご同封ください。上記の通り手数料が同封されていなかった場合は、 その旨ご連絡申し上げますが、所定の期間内にお支払いいただけない場合は開示等の求めがなかったものといたします。
										br
										li なお、送付頂いた書類は原則としてご返却いたしません。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li ※注意事項
										li ・郵送や配送途中の書類の紛失、事故による未着につきましては、当社では責任を負いかねます。
										li ・必要事項を全てご記入下さい。書類に不備がある場合は、返送させていただく場合がございます。
										li ・個人情報保護法の例外規定にあたる場合など、開示等の求めにお答えできない場合がございます。
										li ・内容により、お時間をいただく場合がございます。
										li ・開示等の求めにともない収集した個人情報は、開示等の求めの必要な範囲のみで取扱うものとします。 提出していただいた書面は当社で適切に廃棄いたします。
										li ・「訂正等」、「利用停止等」の結果、該当するサービスがご利用いただけなくなることがあります。あらかじめご了承下さい。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li ※「開示対象個人情報」とは、電子計算機を用いて検索することができるように体系的に構成した情報の集合物又は一定の規則に従って整理、 分類し、目次、索引、符合などを付すことによって特定の個人情報を容易に検索できるように体系的に構成した情報の集合物を構成する 個人情報であって、当社が、本人から求められる開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止の求めの すべてに応じることができる権限を有するものをいいます。詳しくは、「個人情報苦情及びご相談窓口」までご連絡ください。
							li.list--primary__row.u-mt20
								h3.u-fs--l.u-fwb
									| 6.附則
								.list--primary__text.u-mt15
									span.u-fs--xs--lh--form
										| この個人情報保護方針は、平成27年11月1日から施行します。
										| なお、法令・各種ガイドライン等の制定や変更等に伴い、この個人情報保護方針を変更することがあります。
										| 方針の変更につきましては当社ホームページ上において公表します。
								.list--primary__text
									ul.u-fs--xs--lh--form
										li #{config.company}
										li 【個人情報取扱い窓口】平成24年5月1日から開設
										li #{config.sitename}窓口：info@taberunda.com
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
		include ../../partial/_footer
		script(src='#{domain}js/app.js')






