.modal__sub__ttl {
  padding: 10px;
  text-align: left;
  color: #7e7d7d;
  border-radius: 2px;
  background-color: #e5e5e5;
  font-size:13px;
  margin-top:10px;
}

.u-mt10 {
  margin-top: 10px;
}
.search-checkbox__label--modal {
  display: inline-block;
  width: 150px;
  font-size: 13px;
  color: #7e7d7d;
  font-weight: normal;
}

.search-checkbox
{
  display: inline-block;
}
.search-checkbox + label:before
{
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 5px;
  content: '';
}

.search-checkbox__label {
  display: inline-block;
  width: 90px;
  color: #7e7d7d;
  font-size:13px;
  font-weight: normal;
}


/******************aaaaaaaaaa***************************/

#images{
  color:green;
  padding:5px; border:1px dashed #123456;
  background-color: #f9ffe5;
}
#upload{
  margin-left: 45px;
}

#noerror{
  color:green;
  text-align: left;
}
#error{
  color:red;
  text-align: left;
}
#img{
  width: 25px;
  border: none;
  height:25px;
  margin-left: -20px;
  margin-bottom: 91px;
  cursor: pointer;
}

.abcd{

}

.list_images .abcd , .list_images .abcd_sp{
  float: left;
  margin-right: 5px;
}
#filediv {
  float: left;
  margin-right: 10px;
}

.abcd img , .abcd_sp img{
  height:100px;
  width:100px;
  padding: 5px;
  border: 1px solid rgb(232, 222, 189);
}
#add_more {
  clear: both;
}
#formget{
  float:right;
}
