html {
	position: relative;
	min-height: 100%;
}

.login {
	width: 330px;
	margin: 15% auto;
}

.navbar-static-top {
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

.admin_page {
	width: 100%;
	padding-bottom: 60px;
}

footer {
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #efefef;
}

.nav>li .count {
	position: absolute;
	top: 10%;
	right: 25%;
	font-size: 10px;
	font-weight: normal;
	background: rgba(41, 200, 41, 0.75);
	color: rgb(255, 255, 255);
	line-height: 1em;
	padding: 2px 4px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.peacei h3 span {
	color: #008FE1;
}

.peacei h3 {
	color: dimgray;
}

.show-job {
	overflow-y: auto;
}

.show-job img {
	width: 128px;
}

.show-job thead th {
	min-width: 200px;
}

.show-job thead .small {
	min-width: 80px;
}

.top-paginator .pagination {
	margin-top: 0;
}

.fr-box div:last-child a[href="https://froala.com/wysiwyg-editor"] {
	display: none !important;
}

.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper .fr-dropdown-content ul.fr-dropdown-list li a {
	display: block !important;
}

.btn_add {
	margin-bottom: 15px;
}


footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.c-tag--secret--notice {
	line-height: 20px;
	display: inline-block;
	height: 20px;
	padding: 0 10px;
	text-align: center;
}

.c-tag--secret--notice {
	color: #fff;
	background-color: #25bc7a;
}

.sprite-social {
	background: url('/public/admin/images/16_pixel_social_icons.png') no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.sprite-1 {
	background-position: -55px -19px;
}

.sprite-2 {
	background-position: -1px -37px;
}

.hfocus:hover{
	font-weight: bold;
}

.mg-top-10{
	margin-top: 10px;
}