- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../partial/_header
			.primary-box--noPadding
				h1.primary-box__ttl--back.u-fwb.u-fs--m
					| お問い合わせ
				.form--primary.form--primary--contact.u-mt10
					p.form--primary__repletion--top.u-fs--xsh
						| お問い合わせ内容に関しては、編集部にて確認し対応を行っておりますが、
						| ご返信にお時間をいただく場合がございます。また、お問い合せの内容によっては対応できない場合もございますので、
						| ご了承ください。
					form(novalidate).u-mt15
						table.form--primary__table
							tr.-contact__table__row
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='company')
										| 種
										| &nbsp;
										| 別
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div.-contact__radio__block
										input.form--primary__radio(type='radio', name='a' id='radio1', value='個人' checked='checked' data-trigger-radioname="name")
										label.u-fs--l(for='radio1') 個人
										input.form--primary__radio(type='radio', name='a' id='radio2', value='法人' data-trigger-radioname="company")
										label.u-fs--l(for='radio2') 法人
									div(data-target-inputcompany="error")
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--attention.u-fs--xxxs.u-fwb
											| 会社名を入力してください。
									input.form--primary__text.u-fs--l(id='company' type='text' placeholder='会社名を入力してください' data-validate="target" data-target-inputcompany="input" required)
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='name')
										| お名前
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--attention.u-fs--xxxs.u-fwb
											| お名前を入力してください。
									input.form--primary__text.u-fs--l(id='name' type='text' placeholder='お名前を入力してください' data-validate="target" required)
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='mail')
										| メールアドレス
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="mail")
											span.c-icon--attention.u-fs--xxxs.u-fwb
											| メールアドレスの入力に誤りがあります。
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--attention.u-fs--xxxs.u-fwb
											| メールアドレスを入力してください。
									input.form--primary__text.u-fs--l(id='mail' type='text' placeholder='例） example@runda.com' data-mail="target" data-validate="target" autocomplete="off" required)
									p.form--primary__repletion.u-fs--xsh.u-mt5
										| ※こちらのメールアドレスにご返信させていただきます。
										br
										| 手数ですがメールが受信可能かご確認ください。
							tr.-contact__table__row.u-mt20
								td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
									label(for='view')
										| お問い合わせ内容
									span.c-tag--form--required.u-fs--xxs 必須
								td.form--primary__detail.u-mt15
									div
										p.form__error.u-fs--xs(data-error="required")
											span.c-icon--attention.u-fs--xxxs.u-fwb
											| お問い合わせ内容を入力してください。
									textarea.form--primary__textarea.u-fs--sh(id='view' placeholder='ご意見・ご感想をご記入ください' data-validate="target" required)
						.-contact__button__block.u-mt20
							.c-button-square--l--gray.u-fs--xs.u-fwb(data-reset='reset')
								| リセット
							button.c-button-square--l.u-fs--xs.u-fwb(type="submit" data-submit='trigger')
								span.button-inner 確認する
			include ../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../partial/_leftNav
		include ../partial/modal/_login
		script(src='#{domain}js/app.js')

