- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body

		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span コンテンツまとめ
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span #{config.category_1}
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span 海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left.column-left--bg(data-target-leftcolumn="target")
					article.column-box__contents.qa
						.column-box__contents__topImg
							img(src="#{domain}img/media/trend-01.jpg" alt="テスト")
							span.c-tag--sns--l--contents.u-fs--xs.u-fwb #{config.category_3}
						._contents__top__block
							h1.column-box__contents__ttl.u-fs--xxxlh--contents.u-fwb.u-mt25 海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
							._contents__social__block
								a(href="#").c-button-square--social.c-facebook
									i.c-font-icon--facebook._social__block__icon.u-fs--xxl
									span.u-fs--l シェア
								a(href="https://twitter.com/share").c-button-square--social.c-twitter
									i.c-font-icon--twitter._social__block__icon.u-fs--xxl
									span.u-fs--l ツイート
								a(href="http://b.hatena.ne.jp/entry/https://syncer.jp").c-button-square--social.c-hatena
									i.c-font-icon--hatebu._social__block__icon.u-fs--xxl
									span.u-fs--l ブックマーク
								._social__block__right
									span.c-icon--eye--l
									span.u-fs--l 2368
							p.column-box_contents__text.u-fs--lh--contents.u-mt25
								|水の都といわれている大阪ですが、そのロケーションを生かしたオシャレなカフェやバーがが年々増えています。
								|オシャレな街並みの中之島・北浜エリアをはじめ、交通機関として渡船が生活の中心となっている大正区などの絶対行きたいお店をピックアップしました。
								|あなたの知らない大阪がそこにあるかも？！

						._contents__detail__block.u-mt60
							._detail__block__qa
								span.c-tag--qa--s--contents.u-fs--xs.u-fwb Question
								h2.u-fs--xxlh--contents.u-fwb.u-mt5 先日内定を頂いたのですが、口約束で採用されただけで不安です。大丈夫でしょうか？
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| とある美容店で採用され、25万円の給与で働き始めました。
									| 労働条件は給与額のみ口頭で聞いていますがそれ以外聞かされていません。
									| 後々トラブルにならないか不安です。
								span.c-tag--qa--s--contents.u-fs--xs.u-fwb.u-mt55 Answer
								h2.u-fs--xxlh--contents.u-fwb.u-mt5 会社は従業員を雇う時に、労働条件を明らかにする項目を書面で渡すことが労働基準法で義務づけられています。
								p.column-box_contents__text.u-fs--lh--contents.u-mt25
									|“毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
									|”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
									|一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
									|都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？

							._contents__img__block.u-mt25
								img(data-normal="#{domain}img/media/trend-03.jpg" alt="テスト")
								._contents__img_text.u-mt10
									|出典：https://www.facebook.com/Brooklyn-Roasting-Company-Kitahama-516176041763611/
							._contents__bottom__block.u-mt25
								h2.column-box_contents__subTtl.u-fs--xxlh--contents.u-fwb
									|海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
									| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
									| 一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
									| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？
							._contents__bottom__block.u-mt55
								h2.column-box_contents__subTtl.u-fs--xxlh--contents.u-fwb
									| 海や川が目の前？！ロケーション抜群のカフェ&バーで大阪の違う顔を味わいませんか？
								p.column-box_contents__text.u-fs--lh--contents.u-mt15
									| “毎日繰り返すことだから、できるだけ楽しく、できるだけおいしく、できるだけ体にいいものがいい。
									| ”をモットーに新鮮で美味しい野菜や果物をたくさん取り入れたメニューがいっぱい！
									| 一階にテラスがあり、ソファやオシャレなテーブルに囲まれながらオープンな空間を楽しむことができます。
									| 都会の中にあるリバーテラスカフェでちょっとヘルシーなランチしていきませんか？

							._contents__bottom__block--info.u-fs--lh--contents.u-mt20
								p ホームページ：
									a(href="#") http://northshore-hanafru.com/
								p 住所：大阪府大阪市中央区 北浜1-1-28 ビルマビル1/2F

							._contents__overview.u-mt30.u-fs--lh--contents
								h3.u-fwb._contents__overview__otherTtl [店舗情報]
								ul
									li 店舗:クロスカーサ
									li 住所:東京都新宿区歌舞伎町1-23-13　第一大滝ビルB1
									li アクセス:JR新宿駅東口から徒歩3分　西武新宿線から徒歩1分
									li TEL:03-6380-3661
									li URL:http://r.gnavi.co.jp/jep0000/
									li 生ハム食べ放題会員も募集中
									li http://hogehoge.com/
							._contents__overview.u-mt30.u-fs--lh--contents
								h3.u-fwb._contents__overview__otherTtl [会社概要]
								ul
									li 称号:株式会社スペースワン
									li 代表者:代表取締役　松林大吾
									li 所在地:〒150-0043　東京都道玄坂1-22-8-5F
									li 設立: 2006(平成18)12月
							._contents__social__block--border
								a(href="#").c-button-square--social.c-facebook
									i.c-font-icon--facebook._social__block__icon.u-fs--xxl
									span.u-fs--l シェア
								a(href="https://twitter.com/share").c-button-square--social.c-twitter
									i.c-font-icon--twitter._social__block__icon.u-fs--xxl
									span.u-fs--l ツイート
								a(href="http://b.hatena.ne.jp/entry/https://syncer.jp").c-button-square--social.c-hatena
									i.c-font-icon--hatebu._social__block__icon.u-fs--xxl
									span.u-fs--l ブックマーク
								._social__block__right
									span.c-icon--eye--l
									span.u-fs--l 2368
							._contents__qa__adviser__block
								._contents__qa__adviser__top
									._contents__qa__adviser__l
										figure
											img(data-normal="#{domain}img/media/qa-01.jpg" alt="テスト")
									._contents__qa__adviser__r
										h3._contents__qa__adviser__ttl.u-fs--xlh.u-fwb
											| 美容チェーンの人事部出身の社労士事務所です。美容店の労務管理は、きらめき社労士事務所におまかせください。
										p._contents__qa__adviser.u-fs--lh--contents.u-mt15
											| きらめき社労士事務所　美容業専門 人事労務アドバイザー
										h4._contents__qa__adviser__subTtl.u-fs--xlh.u-fwb.u-mt5 小野里　実
								._contents__qa__adviser__text.u-fs--lh--contents.u-mt10
									|証券会社、製造業で人事労務の業務に携わり、その後、外食産業にて人事労務の管理職を6年経験。外食産業では、
									|どこでも頭をいためている「長時間労働」、「残業問題」、「名ばかり管理職」などの問題を次々と解消。
									|2012年に美容業専門の社会保険労務士事務所　きらめき社労士事務所を開業。
								._contents__overview.u-fs--lh--contents.u-mt10
									h3.u-fwb ＜きらめき社労士事務所＞
									ul
										li 〒169-0075東京都新宿区高田馬場4丁目8-9 NY企画ビル3Ｆ
										li TEL:03-6304-0468 FAX:03-6304-0469
									._contents__overview__btnBlock.u-mt5
										a.c-button-square--qa.u-fs--sh
											|> ホームページはコチラ
										a.c-button-square--qa.u-fs--sh
											|> メールはコチラ
					h3.column-box--normal__ttl.u-fs--xl.u-fwb.u-mt40
						|関連コンテンツ
					.column-box--normal.u-mt10
						ul.column-box--normal__list
							include ../../partial/column_left/_column_normal_list
						h3.nav-box--category__ttl.u-fs--xl.u-fwb
							i.c-icon--circle--text__ttl
							| コンテンツカテゴリー
						ul.nav-box--category.u-fs--xs
							include ../../partial/_nav_bottom
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_new
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')