- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		include ../../partial/_header
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				a(href="#")
					span コンテンツまとめ
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span #{config.category_1}
			.primary-box__inner.u-mt20(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.column-left__heading
						h1.column-left__ttl.u-fs--xxxl--contents
							span.column-left__ttl__inner #{config.category_1}
							span.u-mt10.column-left__text.u-fs--xs #{config.category_en_1}
						p.column-left__ttl__right.u-fs--sh
							|美容に関する最新の#{config.category_1}情報を#{config.sitename}が独自にピックアップ！海外ネタや健康・オーガニックまで役立つ情報を随時更新中！
					h3.column-box--new__ttl.u-fs--xl.u-fwb.u-mt20
						i.c-icon--star
						| 新着コンテンツ
					.column-box--new.u-mt10
						include ../../partial/column_left/_column_new
						h3.nav-box--category__ttl.u-fs--xl.u-fwb
							i.c-icon--circle--text__ttl
							| コンテンツカテゴリー
						ul.nav-box--category.u-fs--xs
							include ../../partial/_nav_bottom
					.pager.u-mt30
						include ../../partial/_pager
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../../partial/_nav
						.column-box--right__search.u-mt30
							include ../../partial/form/_quick_search_right
						include ../../partial/column_right/_column_rightContent_popular
		include ../../partial/_footer
		script(src='#{domain}js/app.js')

