
//right-column
.column-box--rightTop
	@extends .column-box
	padding 15px 0 0 20px
	color text_
	position: relative
	padding-bottom: 16px
	.column-box__ttl
		color text_
		margin-bottom: 18px
	.-rightTop__num__text
		margin 0 5px
		color text__
	.c-icon--circle--baloon
		color primary__
		position absolute
		right 20px
		top 10px
	.c-icon--triangle--rotate
		top 50px
		left -12px
	.-rightTop__new__text
		text-align center
		margin-top: 5px
	.-rightTop__new__subText
		display block
		text-align center
		margin-top: 15px


.column-box--rightContents
	width 300px
	@extends .column-box
	padding 15px  0 0
	.column-box__ttl
		padding 0 15px 10px
	.column-box__ttl__icon
		position relative
		top 2px
		margin-right: 2px
	.column-box--rightContents__list
		padding 15px
		overflow: hidden
		border-top 1px solid line
		> a
			display block
			width 100%
			height 100%
			&:hover
				opacity .7
	.-rightContents__list__img
		position: relative
		width 100px
		height 61px
		float: left
		margin-right: 10px
		background-size cover
		background-position center
		background-repeat no-repeat
	.c-icon--circle--s
		display block
		position absolute
		top 5px
		left 5px
		text-align center
		padding-top: 9px
		color primary__
	.-rightContents__list__right
		float left
		width 160px
		color text
	.-rightContents__list__text
		margin: -3px 0 3px
		lineClamp(40px)
	//プロジェクトレイヤーのコンポーネントレイヤ-の上書きは許容だがセレクターが広いので新規classにて
	._list__right__tag
		margin-right: 10px
	.c-icon--eye
		position relative
		top 2px
		left -2px
	.c-icon--tag
		display flex
		align-items center
		justify-content flex-end
		padding-right 10px
		position absolute
		left -15px
		top -5px
		> span
			color primary__
.column-box--right__search
	@extend .column-box
	width 300px
	padding-bottom 20px
	.quick-search__select,
	.quick-search__input
		width 100%
	.c-icon--cross
		display block
		margin 5px auto



