.footer__inner
	width pc-width
	position: relative
	margin auto
	._inner__button--toTop
		position: absolute
		right 0
		top -64px
	._button--toTop__icon
		position relative
		top -4px
		left -2px
	.footer__nav
		display flex
		justify-content align-items
	.footer__social__block
		margin-left: auto
		color primary__
	._inner__block--left
		width 160px
		text-align left
	._inner__block--middle
		width 300px
		padding 0 30px
		position relative
		//border-left 1px solid rgba(255,255,255,.4)
		//border-right 1px solid rgba(255,255,255,.4)
		&:before
			content ''
			display block
			position absolute
			width 1px
			height 110px
			background-color line
			left -10px
			top 0
	._inner__block--right
		width 330px
		padding-left: 30px
		position: relative
		&:before
			content ''
			display block
			position absolute
			width 1px
			height 110px
			background-color line
			left -15px
			top 0
	.footer__inner__rows
		display flex
		flex-wrap wrap
		> li
			width 50%
	.footer__inner__list
		> li
			margin-bottom: 20px
	._inner__block__title
		margin-bottom: 20px
	._social__block__icon
		margin-right: 10px
	._social__block__text
		text-align right
		color text

		

