.primary-box
	background-color back
	padding-bottom: 75px
.primary-box__inner
	margin auto
	width pc-width
	display flex
	justify-content space-between
	overflow hidden
	position: relative
.primary-box__ttl
	margin auto
	width pc-width
	text-align left
	color text
	.c-icon--star
		position relative
		top 1px
.primary-box--full
	background-color back

.primary-box--full__inner
	background primary__
	text-align center
	height calc(100vh - 258px)
	min-height 400px
	position relative
	background-color back
.primary-box--full__content
	position absolute
	width auto
	height 340px
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	background-color back
	h2
		font-size: 8rem
		color text
	p
		color text
	.c-button-square--l
		margin-left: auto
		margin-right: auto
	&.-full__content--high
		height 400px

.list--primary
	background primary__
	padding 20px 20px 0
	color text
.list--primary__row
	border-bottom 1px solid line
	display block
	&:nth-last-child(1)
		border-bottom none
	> h3
		color text
.list--primary__text
	padding-bottom 20px

.list__ttl--normal
	color text



