.topImg-box
	height 300px
	width 100%
	display flex
	background-position center
	.topImg-box__list
		width 33.33%
		height 100%
		min-width 340px
		background-size cover
		background-position center
		background-repeat no-repeat
		@extend $hover
		&.topImg-box__list--center
			width 46%
			max-width 640px
			min-width 700px
			background-postion center
		&.topImg-box__list--side
			min-width 100px
			+above(2100px)
				width 40%
	.topImg-box__link
		display flex
		align-items flex-end
		width 100%
		height 100%
		&:hover
			text-decoration none
	.topImg-box__list__inner
		height 72px
		width 100%
		background-color rgba(0,0,0,.6)
		padding 10px 50px
	.topImg-box__list__text
		color primary__
		lineClamp()
	&.topImg-box--center
		.topImg-box__list
			&:hover
				opacity inherit











