- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				._inner--sidepadding--side
					h1.primary-box__ttl--side.trend.u-fs--xxl.u-mt15
						|#{config.category_1}
						span.u-fs--m.u-mt10 #{config.category_en_1}
					p.primary-box--side.u-fs--xsh.u-mt10
						| 飲食に関する最新の#{config.category_1}情報を#{config.category_4}が独自にピックアップ！
				nav.nav-horizontal.u-mt10
					.nav-horizontal__mask
						ul.nav-horizontal__list.u-fs--s
							include ../../partial/_categoryNav
				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--star--other
					| 新着コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					//6＞layzer
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368

					li.column-box--new__lists
						a(href="#")
							.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368

					li.column-box--new__lists
						a(href="#")
							.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
								span.c-icon--circle--m
									span.u-fwb NEW
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				.pager
					include ../../partial/_pager
				h3.column-box--new__ttl.u-fs--xs--contents.u-fwb.u-mt20
					i.c-icon--heart
					| 人気コンテンツ
				ul.column-box--new__list
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
					li.column-box--new__lists
						a(href="#")
							.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
								span.c-icon--tag
									span.u-fwb 人気
							.-new__list__right
								p.-new__list__text.u-fs--sh--contents.u-fwb
									| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
								._list__right__bottom
									span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
										| #{config.category_4}
									._right__bottom__num
										span.c-icon--eye
										span.u-fs--xxs 2368
				h3.nav-box--category__ttl.u-fs--xs--contents.u-fwb
					span
						i.c-icon--circle--text__ttl
						|コンテンツカテゴリー
				ul.nav-box--category.u-fs--s.u-mt10
					include ../../partial/_footerNav
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')



































