- var page = 'contents_trend'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var heading = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include ../../partial/_header
			.primary-box--noPadding
				h1.primary-box__ttl--back.u-fwb.u-fs--m
					| お問い合わせ
				.form--primary.form--primary--contact
					table.form--primary__table
						tr.-contact__table__row.-contact__table__row--noborder
							td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
								| 種
								| &nbsp;
								| 別
								span.c-tag--form--required.u-fs--xxs 必須
							td.form--primary__detail.u-mt15
								div.form--primary__detail--multi
									span.u-fs--l 法人
									| &nbsp;&nbsp;
									span.u-fs--l #{config.company}
						tr.-contact__table__row.u-mt20
							td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
								| お名前
								span.c-tag--form--required.u-fs--xxs 必須
							td.form--primary__detail.u-mt15
								div
									span.u-fs--l 田中一郎
						tr.-contact__table__row.u-mt20
							td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
								| メールアドレス
								span.c-tag--form--required.u-fs--xxs 必須
							td.form--primary__detail.u-mt15
								span.u-fs--l example@runda.com
						tr.-contact__table__row.u-mt20
							td.form--primary__ttl.u-fs--s.u-fwb.u-mt20
								| お問い合わせ内容
								span.c-tag--form--required.u-fs--xxs 必須
							td.form--primary__detail.u-mt15
								div
									span.u-fs--sh
										| お問い合わせ内容お問い合わせ内容
										| お問い合わせ内容お問い合わせ内容お問い合わせ内容
										| お問い合わせ内容
					.form__button__block--multi.u-mt30
						._block--multi__inner.u-mt10
							a.c-button-square--l--gray.u-fs--xs.u-fwb(href="#")
								| 修正する
							button.c-button-square--l.u-fs--xs.u-fwb(type="submit" action="" data-submit='trigger')
								span.button-inner 送信する
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')