
<div data-remodal-id="waysidemodal" data-search-id="wayside" class="modal waysidemodal">
  <h1 class="modal__ttl modal__ttl--fix u-fs--l">沿線・駅</h1>
  <div class="modal__inner u-fs--xs">
    <div id="waysite_checkboxes" class="modal__checkbox"></div>
    <div class="modal__btn modal__btn--fixed">
      <div data-remodal-action="close" class="c-button-square--mm">閉じる</div>
    </div>
  </div>
</div>