audio:not([controls]),
[hidden]
{
    display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
}
body
{
    line-height: 1;

    color: #000;
    background: #fff;
}
ol,
ul
{
    list-style: none;
}
table
{
    border-spacing: 0;
    border-collapse: separate;

    vertical-align: middle;
}
caption,
th,
td
{
    font-weight: normal;

    text-align: left;
    vertical-align: middle;
}
a img
{
    border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
main
{
    display: block;

    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;
}
audio,
canvas,
video
{
    display: inline-block;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select,
button
{
    font-family: inherit;

    border: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
button
{
    padding: 0;

    background: inherit;
}
select::-ms-expand
{
    display: none;
}
input[type='submit']
{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
input:-webkit-autofill
{
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
header.header--primary .header--primary__logo:hover,
header.header--primary .header--primary__search:hover,
a.c-button-square--s:hover,
.c-button-square--top:hover,
.c-button-square--m:hover,
.c-button-square--mm:hover,
.c-button-square--mm--gray:hover,
.c-button-square--ms--gray:hover,
.c-button-square--l:hover,
.c-button-square--l--gray:hover,
.c-button-square--full:hover,
.c-button-square--social:hover,
.c-button-square--qa:hover,
.nav--hamburger:hover
{
    text-decoration: none;

    opacity: .7;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}
.nav-box .nav-box__list__link .nav-box__search__history,
.nav-box--left .nav-box__list__link .nav-box__search__history,
.form--primary__repletion--top > span,
.-wide__list__subTtl,
.-wide__list__detail
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
header.header--primary .header--primary__inner,
.primary-box__inner--sidepadding,
._inner--sidepadding--side,
.primary-box__ttl--back,
.primary-box--full__content,
.primary-box__topBlock,
.secondary-box,
._secret__detail__tab,
._secret__detail--recruit,
.column-box__secret__btnBLock,
.contents-box,
.contents-box__caption,
.contents-box--recruit__top .-recruit__top__inner,
.contents-box--recruit__top .-recruit__top__ttl,
.contents-box--recruit__middle,
.quick-search,
.result__num__block--gray,
.-contact__table__row,
.-contact__button__block,
.form--primary__repletion--top,
.-primary__table__check,
.form__button__block--multi,
.form--primary__topBlock,
.-primary__table__check__ttl,
.tab__block,
.pager,
.list--primary__row
{
    padding-right: 15px;
    padding-left: 15px;
}
*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
figure img
{
    display: block;

    width: 100%;
}
body
{
    font-family: '游ゴシック', 'Yu Gothic', YuGothic, Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ';

    color: #000;
}
a
{
    cursor: pointer;
}
a:link
{
    text-decoration: none;

    color: inherit;
}
a:visited
{
    text-decoration: none;

    color: inherit;
}
a:hover
{
    color: inherit;
}
a:active
{
    text-decoration: none;

    color: inherit;
}
a:visited
{
    text-decoration: none;
}
header.header--primary
{
    position: fixed;
    z-index: 100;
    top: 0;

    width: 100%;

    border-bottom: 1px solid #aaa;
    background-color: #fff;
}
header.header--primary .header--primary__inner
{
    width: 100%;
    height: 55px;
    margin: auto;
}
header.header--primary .header--primary__logo
{
    position: absolute;
    top: 8px;
    right: 0;
    left: 0;

    width: 140px;
    margin: auto;
    margin: auto;
}
header.header--primary .header--primary__logo img
{
    width: 100%;
}
header.header--primary .header--primary__search
{
    position: relative;

    display: block;
    float: left;

    width: 60px;
    margin: -10px;
    margin: -1rem;
    margin-top: 0;
    padding: 10px;
    padding: 1rem;

    cursor: pointer;
    vertical-align: middle;

    color: #aaa;
}
header.header--primary .c-icon--search
{
    display: block;

    margin: 0 auto 4px;
}
header.header--primary .-primary__search__text
{
    display: block;

    text-align: center;
}
header.header--primary .header--primary__right
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    float: right;

    height: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select
{
    line-height: 1;

    padding-left: 10px;

    cursor: pointer;

    color: #7e7d7d;
    border-radius: 3px;
}
select
{
    border: 1px solid #aaa;
    border-right: solid 18px #aaa;
    background-color: #fff;
}
input[type='text']
{
    border: 1px solid #feda5a;
    background-color: #fff;
}
.form__error
{
    color: #e60012;
}
.form__error .c-icon--triangle--attention
{
    position: relative;

    color: #fff;
}
.form__error .c-icon--triangle--attention > span
{
    position: absolute;
    top: 5px;
    left: -1px;
}
footer
{
    padding: 20px 0;

    text-align: center;

    color: #626262;
    background-color: #eee;
}
.c-button-square--s,
.c-button-square--top,
.c-button-square--m,
.c-button-square--mm,
.c-button-square--mm--gray,
.c-button-square--ms--gray,
.c-button-square--l,
.c-button-square--l--gray,
.c-button-square--full,
.c-button-square--social,
.c-button-square--qa
{
    font-weight: bold;

    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    cursor: pointer;

    border-radius: 3px;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.c-button-square--social
{
    text-align: center;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.c-button-circle
{
    font-weight: bold;

    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    cursor: pointer;

    border-radius: 20px;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.c-button-square--full,
.c-button-circle
{
    width: 100%;
    height: 40px;
}
.c-button-square--l,
.c-button-square--l--gray
{
    width: 230px;
    height: 45px;
}
.c-button-square--mm,
.c-button-square--mm--gray
{
    width: 170px;
    height: 45px;
}
.c-button-square--top,
.c-button-square--m
{
    width: 100%;
    height: 50px;
}
.c-button-square--ms--gray
{
    width: 140px;
    height: 45px;
}
.c-button-square--s
{
    min-width: 80px;
    height: 30px;
    padding: 0 10px;
}
.c-button-square--social
{
    width: 100%;
    height: 30px;
}
.c-button-square--s,
a.c-button-square--s,
.c-button-square--m
{
    color: #fff;
    background-color: #70b8ea;
}
.c-button-square--top,
.c-button-square--mm,
.c-button-square--l,
.c-button-square--full
{
    color: #fff;
    background-color: #feda5a;
}
.c-button-square--mm--gray,
.c-button-square--ms--gray,
.c-button-square--l--gray
{
    color: #fff;
    background-color: #c9c9c9;
}
.c-button-circle
{
    color: #7e7d7d;
    border: 1px solid #7e7d7d;
}
.c-button-square--social.c-facebook
{
    color: #fff;
    background-color: #3a5a98;
}
.c-button-square--social.c-twitter
{
    color: #fff;
    background-color: #55acee;
}
.c-button-square--social.c-hatena
{
    color: #fff;
    background-color: #1a99ce;
}
.c-button-square--social.c-line
{
    color: #fff;
    background-color: #00c300;
}
.c-button-square--mm > a,
.c-button-square--l > a
{
    display: block;

    width: 100%;
    height: 100%;
}
.c-button-square--qa
{
    color: #7e7d7d;
    background-color: #fff;
}
.c-button-square--top
{
    border-bottom: #c2a641 4px solid;
}
.c-button-square--m
{
    box-shadow: 0 -4px 0 -1px #558ab1 inset;
}
a.c-button-square--m
{
    color: #fff;
}
.c-button-square--mm
{
    border-bottom: #c2a641 4px solid;
}
.c-button-square--mm--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--ms--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--l
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--l > a
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.c-button-square--l--gray
{
    box-shadow: 0 -4px 0 -1px #a0a0a0 inset;
}
.c-button-square--full
{
    box-shadow: 0 -4px 0 -1px #c2a641 inset;
}
.c-button-square--social > span
{
    color: #fff;
}
.c-button-square--social ._social__block__icon
{
    width: 100%;
}
.c-button-square--social--wide
{
    height: 45px;
}
a.c-button-circle
{
    color: #7e7d7d;
}
.c-button-square--qa
{
    height: 25px;
}
.c-icon--home,
.c-icon--secret,
.c-icon--gentei,
.c-icon--content,
.c-icon--cross,
.c-icon--book,
.c-icon--beauty,
.c-icon--hat,
.c-icon--star,
.c-icon--star--other,
.c-icon--people,
.c-icon--eye,
.c-icon--heart,
.c-icon--tag,
.c-icon--triangle,
.c-icon--triangle--rotate,
.c-icon--triangle--top,
.c-icon--triangle--attention,
.c-icon--circle--text__ttl,
.c-icon--attention,
.c-icon--flow--l,
.c-icon--flow--l--is,
.c-icon--flow--c,
.c-icon--flow--c--is,
.c-icon--flow--r,
.c-icon--flow--r--is,
._secret--bottom__list:before
{
    display: inline-block;
}
.c-icon--home
{
    width: 20px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -148px -63px;
    background-size: 168px 144px;
}
.c-icon--secret
{
    width: 16px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -103px;
    background-size: 168px 144px;
}
.c-icon--gentei
{
    width: 14px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -16px -124px;
    background-size: 168px 144px;
}
.c-icon--content
{
    width: 21px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -84px;
    background-size: 168px 144px;
}
.c-icon--cross
{
    width: 18px;
    height: 18px;

    background: url('../img/sprite/sprite.png') no-repeat -149px -42px;
    background-size: 168px 144px;
}
.c-icon--book
{
    width: 15px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -124px;
    background-size: 168px 144px;
}
.c-icon--beauty
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -106px -63px;
    background-size: 168px 144px;
}
.c-icon--hat
{
    width: 21px;
    height: 15px;

    background: url('../img/sprite/sprite.png') no-repeat -43px -84px;
    background-size: 168px 144px;
}
.c-icon--star
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -127px -63px;
    background-size: 168px 144px;
}
.c-icon--star--other
{
    width: 12px;
    height: 12px;

    background: url('../img/sprite/sprite.png') no-repeat -67px -103px;
    background-size: 168px 144px;
}
.c-icon--search,
.search--text__wrap:after
{
    width: 17px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -37px -103px;
    background-size: 168px 144px;
}
.c-icon--people
{
    width: 11px;
    height: 14px;

    background: url('../img/sprite/sprite.png') no-repeat -55px -103px;
    background-size: 168px 144px;
}
.c-icon--eye
{
    width: 19px;
    height: 11px;

    background: url('../img/sprite/sprite.png') no-repeat -97px -84px;
    background-size: 168px 144px;
}
.c-icon--heart
{
    width: 12px;
    height: 11px;

    background: url('../img/sprite/sprite.png') no-repeat -117px -84px;
    background-size: 168px 144px;
}
.c-icon--star
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -127px -63px;
    background-size: 168px 144px;
}
.c-icon--tag
{
    width: 42px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -85px -42px;
    background-size: 168px 144px;
}
.c-icon--triangle,
._secret--bottom__list:before
{
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 7px solid #aaa;
    background: transparent;
}
.c-icon--triangle--rotate
{
    position: absolute;

    width: 20px;
    height: 20px;

    -webkit-transform: rotate(-36deg);
        -ms-transform: rotate(-36deg);
            transform: rotate(-36deg);

    border-top: 10px solid transparent;
    border-right: 15px solid #feda5a;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    background: transparent;
}
.c-icon--triangle--top
{
    width: 12px;
    height: 12px;

    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #fff;
    border-left: 6px solid transparent;
    background: transparent;
}
.c-icon--triangle--bottom,
.c-icon__wrapper--triangle:after
{
    border-top: 5px solid #fff;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    background: transparent;
}
.c-icon--triangle--attention
{
    width: 16px;
    height: 16px;

    border-top: 0 solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #e60012;
    border-left: 10px solid transparent;
    background: transparent;
}
.c-icon--circle--baloon
{
    width: 75px;
    height: 75px;

    border-radius: 100%;
    background-color: #feda5a;
}
.c-icon--circle--s
{
    width: 28px;
    height: 28px;

    border-radius: 100%;
    background-color: #feda5a;
}
.c-icon--circle--m
{
    width: 30px;
    height: 30px;

    border-radius: 100%;
    background-color: #feda5a;
}
.c-icon--circle--text__ttl
{
    width: 11px;
    height: 11px;

    border-radius: 100%;
    background-color: #7e7d7d;
}
.c-icon--l
{
    width: 9px;
    height: 11px;

    border-bottom: 2px solid #aaa;
    border-left: 2px solid #aaa;
    background: transparent;
}
.c-icon--radio,
.form--primary__detail .form--primary__radio + label:before
{
    width: 15px;
    height: 15px;

    background: url('../img/sprite/sprite.png') no-repeat -81px -84px;
    background-size: 168px 144px;
}
.c-icon--radio--on,
.form--primary__detail .form--primary__radio:checked + label:before
{
    width: 15px;
    height: 15px;

    background: url('../img/sprite/sprite.png') no-repeat -65px -84px;
    background-size: 168px 144px;
}
.c-icon--check,
.search-checkbox + label:before
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -128px -42px;
    background-size: 168px 144px;
}
.c-icon--check--on,
.search-checkbox:checked + label:before
{
    width: 20px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -85px -63px;
    background-size: 168px 144px;
}
.c-icon--attention
{
    width: 19px;
    height: 16px;

    background: url('../img/sprite/sprite.png') no-repeat -17px -103px;
    background-size: 168px 144px;
}
.c-icon--flow--l
{
    width: 83px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat -85px 0;
    background-size: 168px 144px;
}
.c-icon--flow--l--is
{
    width: 83px;
    height: 20px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat 0 -63px;
    background-size: 168px 144px;
}
.c-icon--flow--c
{
    width: 83px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 -42px;
    background-size: 168px 144px;
}
.c-icon--flow--c--is
{
    width: 83px;
    height: 20px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat -85px -21px;
    background-size: 168px 144px;
}
.c-icon--flow--r
{
    width: 84px;
    height: 20px;

    background: url('../img/sprite/sprite.png') no-repeat 0 0;
    background-size: 168px 144px;
}
.c-icon--flow--r--is
{
    width: 84px;
    height: 20px;

    color: #fff;
    background: url('../img/sprite/sprite.png') no-repeat 0 -21px;
    background-size: 168px 144px;
}
.nav-box__list.is-selected .c-icon--l
{
    border-bottom: 2px solid #feda5a;
    border-left: 2px solid #feda5a;
}
.c-icon__wrapper--triangle
{
    position: relative;
}
.c-icon__wrapper--triangle:after
{
    position: absolute;
    top: 20px;
    right: 5px;

    display: block;

    content: '';
}
.nav--hamburger
{
    margin-left: 20px;
    padding: 5px 0 5px 5px;

    cursor: pointer;

    color: #aaa;
}
.nav--hamburger .nav--hamburger__list
{
    display: block;

    width: 31px;
    height: 4px;
    margin-bottom: 4px;

    border-radius: 5px;
    background-color: #aaa;
}
.nav--hamburger > span:nth-of-type(3)
{
    margin-bottom: 4px;
}
.nav--hamburger .nav--hamburger__text
{
    display: block;

    text-align: center;

    color: #aaa;
}
.c-tag--form--required
{
    line-height: 18px;

    display: inline-block;

    height: 18px;
    padding: 0 4px;

    text-align: center;
}
.c-tag--secret--flow,
.c-tag--new--flow,
.c-tag--notice,
.c-tag--celebration,
.c-tag--work--l,
.c-tag--work--l--contents,
.c-tag--star--l,
.c-tag--star--l--contents,
.c-tag--beauty--l,
.c-tag--beauty--l--contents,
.c-tag--sns--l,
.c-tag--sns--l--contents,
.c-tag--qa--l,
.c-tag--qa--l--contents,
.c-tag--qa--s--contents
{
    line-height: 19px;

    display: inline-block;

    height: 20px;
    padding: 0 10px;

    text-align: center;
}
@media only screen and (max-width: 321px)
{
    .c-tag--secret--flow,
    .c-tag--new--flow,
    .c-tag--notice,
    .c-tag--celebration,
    .c-tag--work--l,
    .c-tag--work--l--contents,
    .c-tag--star--l,
    .c-tag--star--l--contents,
    .c-tag--beauty--l,
    .c-tag--beauty--l--contents,
    .c-tag--sns--l,
    .c-tag--sns--l--contents,
    .c-tag--qa--l,
    .c-tag--qa--l--contents,
    .c-tag--qa--s--contents
    {
        padding: 0 5px;
    }
}
.c-tag--secret--detail,
.c-tag--detail--table
{
    line-height: 30px;

    display: inline-block;

    height: 30px;
    padding: 0 10px;

    text-align: center;
}
.c-tag--secret--flow
{
    color: #fff;
    background-color: #c9c9c9;
}
.c-tag--new--flow
{
    color: #fff;
    background-color: #feda5a;
}
.c-tag--notice
{
    color: #fff;
    background-color: #70b8ea;
}
.c-tag--celebration
{
    color: #fff;
    background-color: #70b8ea;
}
.c-tag--secret--detail
{
    color: #aaa;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
}
.c-tag--form--required
{
    color: #fff;
    border-radius: 2px;
    background-color: #aaa;
}
.c-tag--work--l
{
    color: #32acd1;
    border: 1px solid #32acd1;
}
.c-tag--work--l--contents
{
    color: #fff;
    background-color: #32acd1;
}
.c-tag--star--l
{
    color: #ccac49;
    border: 1px solid #ccac49;
}
.c-tag--star--l--contents
{
    color: #fff;
    background-color: #ccac49;
}
.c-tag--beauty--l
{
    color: #df5780;
    border: 1px solid #df5780;
}
.c-tag--beauty--l--contents
{
    color: #fff;
    background-color: #df5780;
}
.c-tag--sns--l
{
    color: #9388bc;
    border: 1px solid #9388bc;
}
.c-tag--sns--l--contents
{
    color: #fff;
    background-color: #9388bc;
}
.c-tag--qa--l
{
    color: #32acd1;
    border: 1px solid #32acd1;
}
.c-tag--qa--l--contents
{
    color: #fff;
    background-color: #32acd1;
}
.c-tag--qa--s--contents
{
    line-height: 30px;

    width: auto;
    height: 30px;

    color: #fff;
    background-color: #32acd1;
}
.c-tag--detail--table
{
    line-height: 33px;

    color: #70b8ea;
    border-radius: 3px;
    background-color: #eee;
}
@font-face
{
    font-family: 'icomoon';

    src: url('fonts/icomoon.eot?uov3in');
    src: url('fonts/icomoon.eot?uov3in#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?uov3in') format('truetype');
}
font-weight normal,
font-style normal,
[class^='c-font-icon-'],
[class*='c-font-icon-']
{
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.c-font-icon--hatebu:before
{
    content: '\e900';
}
.c-font-icon--attachment:before
{
    content: '\e903';
}
.c-font-icon--facebook:before
{
    content: '\e901';
}
.c-font-icon--twitter:before
{
    content: '\e902';
}
.c-font-icon--line:before
{
    content: '\e904';
}
.slick-slider
{
    position: relative;

    display: block;

    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:after
{
    clear: both;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;

    width: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden
{
    display: none;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #fff;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
    left: 25px;
}
.slick-next
{
    right: 25px;
}
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: #000;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=25)';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #000;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=75)';
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
.column-box__secret__slider
{
    position: relative;

    overflow: hidden;

    width: 100%;
}
.column-box__secret__slider ._secret__slider__main
{
    width: 100%;
    height: 280px;
}
.column-box__secret__slider ._secret__slider__main ._slider__main__img
{
    width: 100%;
}
.column-box__secret__slider ._secret__slider__main .slick-list
{
    padding: 0 !important;
}
.column-box__secret__slider .slick-next
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
}
.column-box__secret__slider .slick-prev
{
    z-index: 1;

    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);

    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid #fff;
}
.primary-box
{
    background-color: #eee;
}
.primary-box--noPadding
{
    padding-top: 55px;

    word-break: break-all;

    background-color: #fff;
}
.primary-box--noPadding.primary-box--fixHeight
{
    height: calc(100vh - 55px);
}
.primary-box__inner
{
    width: 100%;
    margin: auto;

    text-align: center;
}
._inner--sidepadding--side
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.primary-box__logo
{
    width: 206px;
    margin: auto;
}
.primary-box__ttl,
.primary-box__ttl--back
{
    text-align: left;

    color: #7e7d7d;
}
.primary-box__ttl--back
{
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #eee;
}
.primary-box__ttl--side
{
    display: block;

    padding-right: 10px;

    text-align: left;
    white-space: nowrap;

    color: #7e7d7d;
}
.primary-box__ttl--side > span
{
    display: block;

    padding-left: 7px;
}
.primary-box--side
{
    display: block;

    max-width: 210px;
    padding-left: 10px;

    text-align: left;

    color: #7e7d7d;
}
@media only screen and (max-width: 376px)
{
    .primary-box--side
    {
        max-width: 180px;
    }
}
@media only screen and (max-width: 321px)
{
    .primary-box--side
    {
        max-width: 140px;
    }
}
.primaryImg-box
{
    position: relative;

    height: 226px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.primaryImg-box .u-fs--xs--contents
{
    position: absolute;
}
.primaryImg-box__link
{
    display: block;

    width: 100%;
    height: 100%;
}
.primaryImg-box__list__inner
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding: 10px 40px;

    color: #fff;
    background-color: rgba(0,0,0,.3);
}
.primaryImg-box__list__text
{
    display: -webkit-box;
    overflow: hidden;

    height: 100%;

    word-wrap: break-word;

    -webkit-box-orient: vertical;
            box-orient: vertical;
    -webkit-line-clamp: 2;
            line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .primaryImg-box__list__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.primary-box--full__inner
{
    position: relative;

    height: calc(100vh - 108px);
    min-height: 400px;

    text-align: center;

    background: #fff;
}
.primary-box--full__confirm
{
    height: calc(100vh - 188px);
    min-height: 400px;

    text-align: center;

    background: #fff;
}
.primary-box--full__content
{
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: 280px;
    margin: auto;
}
.primary-box--full__content h2
{
    font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ';
    font-size: 50px;
    font-size: 5rem;

    color: #7e7d7d;
}
.primary-box--full__content p
{
    color: #7e7d7d;
}
.primary-box--full__content .c-button-square--l
{
    margin-right: auto;
    margin-left: auto;
}
.primary-box--full__content.-full__content--high
{
    height: 400px;
}
@media only screen and (max-width: 321px)
{
    .primary-box--full__content.-full__content--high
    {
        height: 350px;
    }
    .primary-box--full__content.-full__content--high .u-fs--mh
    {
        font-size: 1.2rem;
    }
}
.primary-box__topBlock
{
    padding-top: 20px;
    padding-bottom: 20px;

    background: #eee;
}
.top__image
{
    padding-top: 80px;
}
.secondary-box
{
    padding-top: 55px;
    padding-bottom: 20px;

    background-color: #eee;
}
.secondary-box__topBlock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}
.secondary-box__ttl
{
    color: #7e7d7d;
}
.secondary__ttl--side
{
    display: inline-block;

    text-align: left;

    color: #7e7d7d;
}
.secondary__side
{
    display: inline-block;

    color: #7e7d7d;
}
.secondary-box__sub__text
{
    color: #7e7d7d;
}
.secondary-box__sub__text .c-icon--people
{
    margin-right: 3px;
}
.nav-box,
.nav-box--left
{
    background-color: #fff;
}
.nav-box .nav-box__list,
.nav-box--left .nav-box__list
{
    position: relative;
}
.nav-box .nav-box__list:after,
.nav-box--left .nav-box__list:after
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #d2d2d2;
}
.nav-box .nav-box__list--top,
.nav-box--left .nav-box__list--top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 12px 15px 11px;

    border-bottom: 1px solid #aaa;
    background-color: #eee;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box .nav-box__list--top ._list--top__r,
.nav-box--left .nav-box__list--top ._list--top__r
{
    color: #7e7d7d;
}
.nav-box .nav-box__list--top .c-icon--cross,
.nav-box--left .nav-box__list--top .c-icon--cross
{
    display: block;

    margin: 0 auto;
}
.nav-box .nav-box__list--selected,
.nav-box--left .nav-box__list--selected
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 -20px;
    padding: 15px 20px;

    color: #7e7d7d;
    background: #e5e5e5;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box .nav-box__list__link,
.nav-box--left .nav-box__list__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 15px;

    color: #7e7d7d;
    background: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box .nav-box__list__link .nav-box__text,
.nav-box--left .nav-box__list__link .nav-box__text
{
    display: block;

    width: 90px;
}
.nav-box .nav-box__list__link .nav-box__search__history,
.nav-box--left .nav-box__list__link .nav-box__search__history
{
    display: block;

    width: 150px;

    color: #7e7d7d;
}
.nav-box .nav-box__list__link .nav-box__search__history.is-empty,
.nav-box--left .nav-box__list__link .nav-box__search__history.is-empty
{
    color: #7e7d7d;
}
.nav-box .nav-box__list__icon,
.nav-box--left .nav-box__list__icon
{
    display: block;

    width: 25px;
    margin-right: 5px;

    text-align: center;
}
.nav-box .nav-box__list__back,
.nav-box--left .nav-box__list__back
{
    background-color: #eee;
}
.nav-box .nav-box__list__back .c-icon--triangle,
.nav-box--left .nav-box__list__back .c-icon--triangle
{
    margin-left: auto;
}
.nav-box .c-icon--l,
.nav-box--left .c-icon--l
{
    margin-right: 10px;
}
.nav-box.is-disable,
.nav-box--left.is-disable
{
    display: none;
}
.nav-box--category__ttl
{
    margin-bottom: 10px;
    padding: 20px 0 0;

    color: #7e7d7d;
    border-top: 1px solid #e5e5e5;
    background: #fff;
}
.nav-box--category__ttl .c-icon--circle--text__ttl
{
    position: relative;
    top: 1px;

    margin-right: 2px;
}
.nav-box--category__ttl > span
{
    display: block;

    padding-left: 15px;
}
.nav-box--category
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    margin-bottom: 20px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.nav-box--category .nav-box__list
{
    position: relative;

    width: 50%;
    height: 52px;
    margin-top: -1px;

    border-top: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.nav-box--category .nav-box__list:nth-of-type(even)
{
    border-right: none;
}
.nav-box--category .nav-box__list .c-icon--triangle
{
    padding-right: 7px;
}
.nav-box--category .nav-box__list__link
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;
    padding-left: 30px;

    color: #7e7d7d;
    background: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav-box--category .nav-box__list__icon
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 25px;
    height: 21px;
    margin-right: 5px;
    margin-left: 20px;

    text-align: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.nav-box--category .nav-box__list--selected
{
    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;
    padding-left: 30px;

    color: #7e7d7d;
    background: #e5e5e5;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav-box--category .nav-box__list__arrow
{
    position: absolute;
    top: 18px;
    right: 20px;

    display: block;

    margin: auto;
}
.overlay
{
    position: absolute;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(0,0,0,.3);
}
.overlay.is-open
{
    display: block;
}
.globalmenu__wrap
{
    position: relative;

    transition: all .4s;
}
.globalmenu__wrap.is-open
{
    -webkit-transform: translate3d(-270px, 0, 0);
            transform: translate3d(-270px, 0, 0);
}
.globalmenu__wrap.is-open--left
{
    -webkit-transform: translate3d(270px, 0, 0);
            transform: translate3d(270px, 0, 0);
}
.nav-box
{
    position: fixed;
    z-index: 100;
    top: 0;
    right: -270px;

    display: block;
    overflow-x: hidden;

    width: 270px;
    height: 100%;

    transition: all .4s;
}
.nav-box.is-open
{
    -webkit-transform: translate3d(-270px, 0, 0);
            transform: translate3d(-270px, 0, 0);
}
.nav-box--left
{
    position: absolute;
    z-index: 100;
    top: 0;
    left: -270px;

    overflow-x: hidden;

    width: 270px;
    height: 100%;

    transition: all .4s;
}
.nav-box--left.is-open
{
    -webkit-transform: translate3d(270px, 0, 0);
            transform: translate3d(270px, 0, 0);
}
.is-noClick
{
    pointer-events: none;
}
.nav-horizontal
{
    overflow: hidden;

    width: 100%;
    height: 54px;

    background-color: #eee;
}
.nav-horizontal__mask
{
    overflow-x: auto;

    width: 100%;
    height: 74px;

    -webkit-overflow-scrolling: touch;
}
.nav-horizontal__list
{
    display: inline-table;

    width: 100%;
    height: 100%;
}
.nav-horizontal__lists
{
    display: table-cell;

    width: 50%;
    height: 54px;
    padding-top: 21px;
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;
    vertical-align: top;
    white-space: nowrap;

    color: #7e7d7d;
}
.column-box--gray
{
    background-color: #eee;
}
.column-box--new__ttl
{
    margin-bottom: 10px;
    padding-left: 15px;

    color: #7e7d7d;
}
.column-box--new__ttl .c-icon--heart
{
    position: relative;
    top: 1px;

    margin-right: 2px;
}
.column-box--new__ttl .c-icon--star--other
{
    position: relative;
    top: 1px;

    margin-right: 2px;
}
.column-box--new__lists
{
    border-top: 1px solid #e5e5e5;
}
.column-box--new__lists:nth-last-of-type(1)
{
    border-bottom: 1px solid #e5e5e5;
}
.column-box--new__lists > a
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 100%;
    padding: 10px 0;
}
.column-box--new__lists .-new__list__img
{
    position: relative;

    width: 46%;
    height: 100px;
    margin-right: 4%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.column-box--new__lists .-new__list__right
{
    position: relative;

    width: 46%;
    height: 100px;
    margin-right: 4%;
}
.column-box--new__lists .-new__list__text
{
    display: -webkit-box;
    overflow: hidden;

    height: 60px;

    word-wrap: break-word;

    color: #7e7d7d;

    -webkit-box-orient: vertical;
            box-orient: vertical;
    -webkit-line-clamp: 3;
            line-clamp: 3;
}
@media all and (-ms-high-contrast: none)
{
    .column-box--new__lists .-new__list__text
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.column-box--new__lists .c-icon--circle--m
{
    position: absolute;
    top: 5px;
    left: 20px;

    display: block;
}
.column-box--new__lists .c-icon--circle--m > span
{
    position: absolute;
    top: 10px;
    left: 3px;

    display: block;

    color: #fff;
}
.column-box--new__lists .c-icon--tag
{
    position: absolute;
    top: 5px;
    left: 0;

    display: block;
}
.column-box--new__lists .c-icon--tag > span
{
    position: absolute;
    top: 5px;
    left: 14px;

    display: block;

    color: #fff;
}
.column-box--new__lists ._list__right__bottom
{
    position: absolute;
    bottom: 0;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media only screen and (max-width: 375px)
{
    .column-box--new__lists ._list__right__bottom ._list__right__tag
    {
        font-size: 11px;
        font-size: 1.1rem;
    }
}
.column-box--new__lists ._right__bottom__num
{
    color: #7e7d7d;
}
.column-box--new__lists ._right__bottom__num .c-icon--eye
{
    position: relative;
    top: 1px;

    margin-right: 2px;
}
.column-box__secret--table
{
    background: #fff;
}
._secret__detail__tab
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    border-bottom: 1px solid #d2d2d2;

    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
}
._secret__detail__tab ._detail__tab__inner
{
    line-height: 40px;

    position: relative;
    z-index: 1;
    top: 1px;

    width: 49%;
    height: 40px;
    padding-left: 15px;

    cursor: pointer;
    text-align: center;
    text-align: left;

    color: #aaa;
    border: 1px solid #d2d2d2;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background-color: #eee;
}
._secret__detail__tab ._detail__tab__inner:nth-of-type(1)
{
    margin: 0 2% 0 0;
}
._secret__detail__tab ._detail__tab__inner.is-active
{
    color: #7e7d7d;
    background-color: #fff;
}
._secret__detail--recruit
{
    padding-top: 20px;
    padding-bottom: 20px;
}
._secret__detail__table
{
    width: 100%;

    table-layout: fixed;
    border-collapse: collapse;

    border: 1px solid #d2d2d2;
    border-bottom: none;
}
._secret__detail__table tr
{
    border-bottom: 1px solid #d2d2d2;
}
._secret__detail__table .c-tag--detail--table
{
    margin-right: 5px;
    margin-bottom: 5px;
}
._secret__detail__table.is-disable
{
    display: none;
}
._detail__table__left
{
    width: 25%;
    min-height: 50px;

    text-align: center;

    color: #7e7d7d;
    background-color: #eee;
}
._detail__table__right
{
    width: 75%;
    padding: 10px;

    color: #7e7d7d;
}
._detail__table__map
{
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 65%;
}
._detail__table__map iframe
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;
}
.column-box__secret--bottom
{
    padding-bottom: 20px;

    color: #7e7d7d;
    border-top: 15px solid #eee;
}
._secret--bottom__heading
{
    padding: 20px 15px;
}
._secret--bottom__list
{
    position: relative;

    padding: 15px 15px 15px 35px;

    border-top: 1px solid #d2d2d2;
}
._secret--bottom__list:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;

    display: block;

    width: 0;
    height: 0;
    margin: auto;

    content: '';
}
._secret--bottom__list:nth-last-of-type(1)
{
    border-bottom: 1px solid #d2d2d2;
}
.-bottom__list__header
{
    padding-bottom: 10px;

    color: #feda5a;
}
.column-box__secret__btnBLock
{
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    left: 0;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: rgba(0,0,0,.3);

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.column-box__secret__btnBLock .c-button-square--l--gray,
.column-box__secret__btnBLock .c-button-square--l
{
    width: 48%;
}
.column-box__secret__btnBLock .c-font-icon--attachment
{
    margin-right: 3px;
}
.contents-box h1,
.contents-box h2
{
    color: #7e7d7d;
}
.contents-box .contents-box__ttl--sub
{
    color: #7e7d7d;
}
.contents-box .contents-box__ttl--sub:before
{
    background-color: #7e7d7d;
}
.contents-box__ttl,
.contents-box__ttl--sub
{
    color: #58c2ad;
}
.contents-box__ttl--sub
{
    position: relative;

    padding-left: 12px;
}
.contents-box__ttl--sub:before
{
    position: absolute;
    top: 4px;
    left: 0;

    display: block;

    width: 7px;
    height: 1em;

    content: '';

    background-color: #58c2ad;
}
.contents-box__text
{
    color: #7e7d7d;
}
.contents-box__text strong
{
    font-weight: bold;
}
.contents-box__img
{
    margin-right: -15px;
    margin-left: -15px;
}
.contents-box__img img
{
    width: 100%;
}
.contents-box__caption
{
    color: #7e7d7d;
}
.contents-box__caption > a:link
{
    color: #c9c9c9;
}
.contents-box--social
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
            align-items: flex-end;
}
.contents-box--social__list
{
    display: block;

    width: 24%;
}
@media only screen and (max-width: 321px)
{
    .contents-box--social__list .u-fs--xs--contents
    {
        font-size: 1rem;
    }
}
.contents-box__num
{
    text-align: right;

    color: #7e7d7d;
}
.contents-box__num .c-icon--eye
{
    position: relative;
    top: 1px;

    margin-right: 2px;
}
.contents-box--recruit__top
{
    width: 100%;
}
.contents-box--recruit__top .-recruit__top__ttl
{
    padding-top: 10px;
    padding-bottom: 10px;

    color: #7e7d7d;
    background-color: #eee;
}
.contents-box--recruit__middle .c-tag--secret--detail
{
    margin-right: 5px;
    margin-bottom: 5px;
}
.contents-box--recruit__ttl
{
    color: #7e7d7d;
}
.contents-box--recruit__attention
{
    position: relative;

    padding: 30px 15px 15px;

    border: 1px solid #70b8ea;
}
.contents-box--recruit__attention .c-tag--notice
{
    position: absolute;
    top: 0;
    left: 0;
}
.contents-box--recruit__attention .-recruit__attention__img
{
    width: 40%;
}
.contents-box--recruit__attention .-recruit__attention__top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
}
.contents-box--recruit__attention .-recruit__attention__img
{
    width: 38%;
    margin-right: 4%;
}
.contents-box--recruit__attention .-recruit__attention__ttl
{
    display: -webkit-box;
    overflow: hidden;

    width: 68%;
    height: 100%;

    word-wrap: break-word;

    color: #70b8ea;

    -webkit-box-orient: vertical;
            box-orient: vertical;
    -webkit-line-clamp: 4;
            line-clamp: 4;
}
@media all and (-ms-high-contrast: none)
{
    .contents-box--recruit__attention .-recruit__attention__ttl
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.contents-box--recruit__attention .-recruit__attention__text
{
    color: #7e7d7d;
}
.contents-box__contents__topImg
{
    width: 100%;
}
.contents-box__contents__topImg > img
{
    width: 100%;
}
.contents-box__overview
{
    padding: 10px;

    color: #7e7d7d;
    background-color: #eee;
}
.contents-box__ttl--sub--interview
{
    color: #7e7d7d;
}
.contents-box__ttl--border
{
    padding-bottom: 5px;

    border-bottom: 2px solid #7e7d7d;
}
._contents__ttl--concept
{
    position: relative;

    padding-left: 16px;

    text-align: left;

    color: #feda5a;
}
._contents__ttl--concept:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 8px;
    height: 25px;

    content: '';

    background-color: #7e7d7d;
}
._contents__ttl--concept > span
{
    display: block;
}
@media only screen and (max-width: 321px)
{
    ._contents__ttl--concept
    {
        font-size: 1.5rem !important;
    }
    ._contents__ttl--concept > span
    {
        font-size: 2rem !important;
    }
}
._contents__detail__block--flex
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
._contents__detail__l,
._contents__detail__r
{
    width: 50%;
}
._contents__detail__l > img
{
    width: 100%;
}
._contents__detail__r
{
    margin-left: 15px;

    text-align: left;
}
._contents__detail__block .contents-box__text
{
    text-align: left;
}
._contents__detail__block--flex
{
    padding: 20px 0;

    border-top: 1px solid #d2d2d2;
}
._contents__detail__block--flex:nth-last-of-type(1)
{
    border-bottom: 1px solid #d2d2d2;
}
.contents-box__qa .contents-box__qa__text
{
    color: #7e7d7d;
}
.contents-box__overview__otherTtl
{
    color: #32acd1;
}
._contents__qa__adviser__block
{
    padding: 20px;

    border-top: 1px solid #32acd1;
    border-bottom: 1px solid #32acd1;
}
._contents__qa__adviser__block ._contents__qa__adviser__top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
._contents__qa__adviser__block ._contents__qa__adviser__ttl,
._contents__qa__adviser__block ._contents__qa__adviser__subTtl
{
    color: #32acd1;
}
._contents__qa__adviser__block ._contents__qa__adviser__l
{
    margin-right: 15px;
}
._contents__qa__adviser__block ._contents__qa__adviser__l figure
{
    width: 112px;
}
._contents__qa__adviser__block ._contents__qa__adviser__l img
{
    border-radius: 80px;
}
._contents__qa__adviser__block ._contents__qa__adviser,
._contents__qa__adviser__block ._contents__qa__adviser__text
{
    color: #7e7d7d;
}
._contents__qa__adviser__block ._contents__overview__btnBlock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
._contents__qa__adviser__block ._contents__overview__btnBlock .c-button-square--qa
{
    width: 48%;
}
.search-box
{
    width: 100%;
}
.search-box__ttl
{
    padding: 10px 15px;

    color: #fff;
    border-radius: 3px 3px 0 0;
    background-color: #7e7d7d;
}
.search-box__contents
{
    padding: 15px;

    border: 1px solid #7e7d7d;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
}
.search-box__contents .c-button-square--ms--gray
{
    width: 48%;

    border-top: none;
    border-right: none;
    border-left: none;
}
.search-box__contents .search-boxselect__detail
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.search-box__contents .check__tag__addblock
{
    display: block;
}
.search-box__contents .c-tag--detail--table
{
    margin-top: 10px;
    margin-right: 10px;
}
.search-box__contents.search-box__contents--noTitle
{
    padding: 0 15px 20px;
}
.search-box__contents__form
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.search-box__contents__ttl
{
    padding: 10px;

    background-color: #e5e5e5;
}
.search-checkbox
{
    display: none;
}
.search-checkbox + label
{
    display: block;

    width: 50%;
}
.search-checkbox + label:before
{
    position: relative;
    top: 5px;

    display: inline-block;

    margin-right: 7px;

    content: '';
}
input.search--text
{
    width: 100%;
    height: 30px;
    padding-left: 35px;

    border: none;
    background-color: #eee;
}
.search--text__wrap
{
    position: relative;
}
.search--text__wrap:after
{
    position: absolute;
    top: 6px;
    left: 10px;

    display: block;

    content: '';
}
.search__button__block
{
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 10px 15px;

    background-color: rgba(0,0,0,.3);
}
.search--footer
{
    padding: 28px 0;
}
@media only screen and (max-width: 321px)
{
    .search-box__contents
    {
        padding: 15px 5px;
    }
    .search-checkbox + label:before
    {
        margin-right: 2px;
    }
}
.quick-search
{
    width: 100%;
}
.quick-search .quick-search__inner
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.quick-search.quick-search--inHeader
{
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;

    background-color: #fff;
}
.quick-search.is-disable
{
    display: none;
}
.quick-search__select__wrap
{
    width: 48%;
}
.quick-search__select
{
    width: 100%;
    height: 45px;
}
.quick-search__input
{
    width: 230px;
    height: 40px;

    color: #feda5a;
}
.quick-search__input:placeholder-shown
{
    line-height: 1.5;

    color: #feda5a;
}
.quick-search__input::-webkit-input-placeholder
{
    line-height: 1.5;

    color: #feda5a;
}
.button-inner
{
    display: block;

    width: 100%;
    margin: auto;
}
.result-box
{
    overflow: hidden;

    border: 2px solid #aaa;
    border-radius: 5px;
}
.result-box__list > a
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 15px;

    border-bottom: 1px solid #aaa;
    background-color: #fff;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.result-box__list:nth-last-of-type(1) > a
{
    border-bottom: none;
}
.result-box__list .result-box__list__category,
.result-box__list .result-box__list__job
{
    color: #7e7d7d;
}
.result-box__list .result-box__list__category
{
    width: 35%;
}
.result-box__list .result-box__list__job
{
    line-height: 1.5;

    width: 50%;

    word-break: break-word;
}
.result-box__list .result-box__list__change
{
    width: 15%;

    text-align: right;

    color: #7e7d7d;
}
@media only screen and (max-width: 321px)
{
    .result-box__list .result-box__list__change
    {
        font-size: 1.2rem;
    }
}
.result__text__list
{
    color: #7e7d7d;
}
.result__num__block
{
    color: #7e7d7d;
}
.result__num__block--gray
{
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #eee;
}
.result__num
{
    display: inline-block;

    margin-right: 3px;

    color: #70b8ea;
}
.form--primary
{
    color: #7e7d7d;
    background: #fff;
}
.form--primary .form--primary__text
{
    line-height: 40px;

    display: block;

    width: 100%;
    height: 40px;

    color: #7e7d7d;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.form--primary .form--primary__textarea
{
    line-height: 40px;

    display: block;

    width: 100%;
    height: 100px;
    padding-top: 5px;

    color: #7e7d7d;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.form--primary--contact,
.form--primary--recruit
{
    padding-bottom: 40px;
}
.form--primary__table
{
    width: 100%;
}
.form--primary__ttl .c-tag--form--required
{
    font-weight: normal;

    position: relative;
    top: -1px;

    margin-left: 5px;
}
.form--primary__detail
{
    width: 100%;
}
.form--primary__detail .-contact__radio__block
{
    margin-bottom: 15px;
}
.form--primary__detail .-contact__radio__block > label
{
    margin-right: 30px;
}
.form--primary__detail .-contact__radio__block--secondary
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form--primary__detail .-contact__radio__block--secondary > label
{
    width: 50%;
    margin-bottom: 10px;
}
@media only screen and (max-width: 321px)
{
    .form--primary__detail .-contact__radio__block--secondary .u-fs--l
    {
        font-size: 1.2rem;
    }
}
.form--primary__detail .form--primary__radio
{
    display: none;
}
.form--primary__detail .form--primary__radio + label:before
{
    position: relative;
    top: 3px;

    display: inline-block;

    margin-right: 5px;

    content: '';
}
.form--primary__detail .quick-search__select__wrap
{
    display: block;

    width: 24%;
    margin-right: 2%;
}
.form--primary__detail .quick-search__select__wrap:nth-last-of-type(1)
{
    margin-right: 0;
}
.form--primary__detail .quick-search__select__wrap > select
{
    width: 100%;
    height: 40px;
    padding-right: 10px;

    color: #7e7d7d;
    border-color: #aaa;
}
.form--primary__detail .quick-search__select__wrap:nth-last-child(1)
{
    margin-right: 0;
}
.form--primary__detail .quick-search__select__wrap--l
{
    display: block;

    width: 48%;
    margin-right: 2%;
}
.form--primary__detail .quick-search__select__wrap--l > select
{
    width: 100%;
    height: 40px;
    padding-right: 10px;

    color: #7e7d7d;
    border-color: #aaa;
}
.form--primary__detail ._select__wrap--float
{
    float: left;
}
.form--primary__detail--select
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.form--primary__txtr
{
    text-align: right;
}
.form--primary__txtr .form__error
{
    text-align: left;
}
.-contact__table__row
{
    display: block;

    border-top: 1px solid #d2d2d2;
}
.-contact__table__row:nth-last-child(1)
{
    border-bottom: none;
}
.-contact__table__row > td
{
    display: block;
}
.-contact__table__row--noborder
{
    border: none;
}
.-contact__table__row--ovh
{
    overflow: hidden;
}
.-contact__button__block
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}
.-contact__button__block .c-button-square--l--gray
{
    margin-right: 10px;
}
.form--primary__thanks
{
    text-align: center;

    color: #7e7d7d;
}
.-contact__thanks__text
{
    text-align: center;
}
.-entry__thanks__text
{
    display: inline-block;

    width: 250px;

    text-align: left;
}
.form__error
{
    margin-bottom: 5px;
}
.form__error .c-icon--attention
{
    position: relative;
    top: 2px;
}
.form__error--negativeMargin
{
    margin-bottom: -15px;
}
.form--primary__repletion,
.form--primary__repletion--top
{
    color: #7e7d7d;
}
.form--primary__repletion > span,
.form--primary__repletion--top > span
{
    display: inline-block;

    margin-right: 2%;
}
.form--primary__repletion--top > span
{
    display: inline-block;

    width: 48%;
}
.form--primary__heading
{
    padding: 10px;

    color: #7e7d7d;
    background-color: #eee;
}
.-primary__table__check .search-checkbox__label
{
    width: auto;
    margin-right: 30px;
}
.-primary__table__check .search-checkbox__label--recruit
{
    display: inline-block;

    width: 47%;
    margin-right: 2%;
}
@media only screen and (max-width: 321px)
{
    .-primary__table__check .search-checkbox__label--recruit
    {
        font-size: 1.2rem;
    }
}
.form__button__block
{
    text-align: center;

    border-top: 1px solid #d2d2d2;
}
.form__button__block .c-button-square--l
{
    margin: 10px auto 0;

    text-align: center;

    direction: inherit;
}
.form__button__block .form__text--link
{
    color: #70b8ea;
}
.form__button__block--noborder
{
    text-align: center;
}
.form__button__block--noborder .c-button-square--l
{
    margin: 10px auto 0;

    text-align: center;

    color: #fff;

    direction: inherit;
}
.form__button__block--noborder.form__button__block--thanks
{
    margin-bottom: 30px;
}
.form__button__block--multi
{
    text-align: center;

    border-top: 1px solid #d2d2d2;
}
.form__button__block--multi .form__text--link
{
    display: block;

    color: #feda5a;
}
.form__button__block--multi ._block--multi__inner
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.form__button__block--multi ._block--multi__inner .c-button-square--l--gray
{
    margin-right: 15px;

    color: #fff;
}
.form--primary__topBlock
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #eee;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
@media only screen and (max-width: 321px)
{
    .form--primary__topBlock
    {
        display: block;
    }
    .form--primary__topBlock .form--primary__topBlock__ttl
    {
        margin-bottom: 15px;
    }
}
.form--primary__topBlock__ttl
{
    color: #7e7d7d;
}
.flow__arrow
{
    color: #7e7d7d;
}
.flow__arrow span
{
    line-height: 21px;

    text-align: center;
}
.form--login
{
    padding: 40px 0;

    background-color: #fff;
}
.form--login .form--primary__text
{
    color: #7e7d7d;
    border: 1px solid #aaa;
}
.form--login input
{
    width: 300px;
    height: 40px;
}
.form--login .c-button-square--l
{
    line-height: 50px;

    width: 300px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}
.form--login__top
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
}
.form--login__top .-login__top__l
{
    width: 50%;

    border-right: 1px solid #d2d2d2;
}
.form--login__top .-login__top__r
{
    width: 50%;

    text-align: center;
}
.form--login__top .c-button-square--social
{
    width: 300px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;

    color: #fff;
}
.form--login__top .-login__top__ttl
{
    text-align: center;

    color: #7e7d7d;
}
.form--login__top ._top__r__link
{
    display: block;

    width: 300px;
    margin-right: auto;
    margin-left: auto;

    text-align: right;

    color: #7e7d7d;
}
.form--login__middle
{
    text-align: center;
}
.form--login__middle input
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
.form--login__middle .-login__middle__ttl
{
    color: #feda5a;
}
.form--login__middle .form--login__repletion
{
    color: #7e7d7d;
}
.tab__block
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    color: #70b8ea;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.tab__block__button
{
    line-height: 35px;

    position: relative;
    z-index: 10;
    top: 1px;

    width: 48%;
    height: 35px;
    padding-left: 14px;

    text-align: left;

    border: 1px solid #aaa;
    border-radius: 3px 3px 0 0;
}
.tab__block__button.is-active
{
    border-bottom: 2px solid #fff;
    background-color: #fff;
}
.tab__block--top,
.tab__block--middle,
.tab__block--bottom
{
    color: #aaa;
    background-color: #fff;
}
.tab__block__inner
{
    position: relative;
    z-index: 1;

    border-top: 1px solid #aaa;
}
.tab__block__inner.is-disable
{
    display: none;
}
.tab__block__category
{
    padding: 15px 0 10px 15px;

    text-align: left;

    color: #7e7d7d;
    border-bottom: 1px solid #aaa;
}
.tab__block__lists
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.tab__block__lists > li
{
    line-height: 50px;

    position: relative;

    width: 50%;
    height: 50px;

    text-align: left;

    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.tab__block__lists > li:nth-of-type(even)
{
    border-right: none;
}
.tab__block__lists > li a
{
    position: relative;

    display: block;

    width: 100%;
    padding-left: 15px;
}
.tab__block__lists > li .c-icon--triangle
{
    position: absolute;
    top: 0;
    right: 4px;
    bottom: 0;

    height: 4px;
    margin: auto;
}
.pager
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pager .pager__lists
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    text-align: center;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.pager .pager__list
{
    display: inline-block;

    color: #7e7d7d;
    background-color: #fff;
}
.pager .pager__list > a
{
    display: block;

    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
.pager .pager__list.is-disable
{
    padding: 5px 10px;

    color: #c9c9c9;
}
.pager .pager__list.is-selected
{
    padding: 5px 10px;

    background-color: #e5e5e5;
}
.pager .pager__list__num
{
    display: inline-block;

    color: #7e7d7d;
}
html.remodal-is-locked
{
    overflow: hidden;

    -ms-touch-action: none;
        touch-action: none;
}
.remodal,
[data-remodal-id]
{
    display: none;
}
.remodal-overlay
{
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;

    display: none;
}
.remodal-wrapper
{
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after
{
    display: inline-block;

    height: 100%;
    margin-left: -.05em;

    content: '';
}
.remodal-overlay,
.remodal-wrapper
{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.remodal
{
    position: relative;

    outline: none;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}
.remodal-is-initialized
{
    /* Disable Anti-FOUC */
    display: inline-block;
}
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened
{
    -webkit-filter: blur(3px);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: blur(3px);
}
.remodal-overlay
{
    background: rgba(43,46,56,.9);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing
{
    -webkit-animation-duration: .3s;
            animation-duration: .3s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening
{
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    -webkit-animation-name: remodal-overlay-opening-keyframes;
            animation-name: remodal-overlay-opening-keyframes;
            animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing
{
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    -webkit-animation-name: remodal-overlay-closing-keyframes;
            animation-name: remodal-overlay-closing-keyframes;
            animation-name: remodal-overlay-closing-keyframes;
}
.remodal-wrapper
{
    padding: 10px 10px 0;
}
.remodal
{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 35px;

    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    color: #2b2e38;
    background: #fff;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing
{
    -webkit-animation-duration: .3s;
            animation-duration: .3s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.remodal.remodal-is-opening
{
    -webkit-animation-name: remodal-opening-keyframes;
    -webkit-animation-name: remodal-opening-keyframes;
            animation-name: remodal-opening-keyframes;
            animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing
{
    -webkit-animation-name: remodal-closing-keyframes;
    -webkit-animation-name: remodal-closing-keyframes;
            animation-name: remodal-closing-keyframes;
            animation-name: remodal-closing-keyframes;
}
.remodal,
.remodal-wrapper:after
{
    vertical-align: middle;
}
.remodal-close
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: visible;

    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: color .2s;
    text-decoration: none;

    color: #95979c;
    border: 0;
    outline: 0;
    background: transparent;
}
.remodal-close:hover,
.remodal-close:focus
{
    color: #2b2e38;
}
.remodal-close:before
{
    font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
    font-size: 25px;
    line-height: 35px;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 35px;

    content: '\00d7';
    text-align: center;
}
.remodal-confirm,
.remodal-cancel
{
    font: inherit;

    display: inline-block;
    overflow: visible;

    min-width: 110px;
    margin: 0;
    padding: 12px 0;

    cursor: pointer;
    transition: background .2s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    border: 0;
    outline: 0;
}
.remodal-confirm
{
    color: #fff;
    background: #81c784;
}
.remodal-confirm:hover,
.remodal-confirm:focus
{
    background: #66bb6a;
}
.remodal-cancel
{
    color: #fff;
    background: #e57373;
}
.remodal-cancel:hover,
.remodal-cancel:focus
{
    background: #ef5350;
}
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner
{
    padding: 0;

    border: 0;
}
@-webkit-keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@media only screen and (min-width: 641px)
{
    .remodal
    {
        max-width: 800px;
    }
}
.lt-ie9 .remodal-overlay
{
    background: #2b2e38;
}
.lt-ie9 .remodal
{
    width: 700px;
}
.remodal
{
    padding: 0;
}
@-webkit-keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@keyframes remodal-opening-keyframes
{
    from
    {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        -webkit-transform: none;
                transform: none;

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes remodal-closing-keyframes
{
    from
    {
        -webkit-transform: scale(1);
                transform: scale(1);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        -webkit-transform: scale(.95);
                transform: scale(.95);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@keyframes remodal-overlay-opening-keyframes
{
    from
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
    to
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes remodal-overlay-closing-keyframes
{
    from
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    to
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
.modal
{
    max-width: 280px;
}
.modal input
{
    line-height: 40px;

    width: 235px;
    height: 40px;

    border: 1px solid #d2d2d2;
}
.modal .c-button-square--social
{
    margin-right: auto;
    margin-left: auto;
}
.modal .c-icon--cross
{
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal .c-button-square--l
{
    margin-right: auto;
    margin-left: auto;
}
.modal .form--login__repletion
{
    color: #7e7d7d;
}
.modal.prefmodal .modal__inner,
.modal.waysidemodal .modal__inner
{
    padding: 0 20px 20px;
}
.modal.prefmodal .modal__checkbox,
.modal.waysidemodal .modal__checkbox
{
    padding: 0;
}
.modal.prefmodal .modal__btn,
.modal.waysidemodal .modal__btn
{
    margin-top: 20px;
}
.modal .search-checkbox + label
{
    width: 100%;
}
.modal__ttl
{
    padding: 10px 0 10px 20px;

    text-align: left;

    color: #fff;
    background: #feda5a;
}
.modal__inner__ttl
{
    color: #7e7d7d;
}
.modal__sub__ttl
{
    padding: 10px;

    text-align: left;

    color: #7e7d7d;
    border-radius: 2px;
    background-color: #e5e5e5;
}
.modal__inner
{
    padding: 55px 20px 20px;
}
.modal__checkbox
{
    padding: 0 10px;

    text-align: left;

    color: #7e7d7d;
}
.modal__btn
{
    margin-top: 120px;
}
.modal__btn .c-button-square--mm
{
    margin: auto;
}
.search-checkbox__label--modal
{
    display: inline-block;

    width: 150px;
}
.modal__inner__text--notes
{
    color: #7e7d7d;
}
.waysite-checkbox__station
{
    display: none;

    padding: 0 20px 10px;

    border-bottom: 1px solid #d2d2d2;
}
.waysite_checkbox .waysite-checkbox__ttl
{
    line-height: 1.5;

    position: relative;

    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    min-height: 50px;
    padding-left: 20px;

    border-bottom: 1px solid #d2d2d2;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.waysite_checkbox .waysite-checkbox__subTtl
{
    width: 185px !important;
    padding: 0 0 0 27px;
}
.waysite_checkbox .waysite-checkbox__subTtl:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;

    margin: auto;
}
.waysite_checkbox .waysite-checkbox__sub
{
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display:         flex !important;

    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}
.waysite_checkbox .waysite-checkbox__sub:before
{
    top: 0 !important;
}
.modal.waysidemodal
{
    height: 90vh;
}
.modal.waysidemodal .modal__inner
{
    overflow-y: auto;

    height: calc(100% - 36px);
    margin-top: 36px;
    padding: 0;
    padding-bottom: 120px;
}
.modal__ttl--fix
{
    position: absolute;

    width: 100%;
}
.modal__btn--fixed
{
    position: fixed;
    bottom: 0;

    width: 100%;
    margin-top: 0 !important;
    padding: 20px 0;

    background-color: #eee;
}
.waysite-checkbox__btn
{
    line-height: 30px;

    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;

    display: block;

    width: 55px;
    height: 30px;
    margin: auto;
    padding-left: 10px;

    color: #fff;
    border-radius: 3px;
    background-color: #c9c9c9;
}
.list--primary
{
    background: #fff;
}
.list--primary__row
{
    display: block;

    border-bottom: 1px solid #d2d2d2;
}
.list--primary__row:nth-last-child(1)
{
    border-bottom: none;
}
.list--primary__row > h3
{
    color: #7e7d7d;
}
.list--primary__text
{
    padding-bottom: 15px;

    color: #7e7d7d;
}
.list__ttl--normal
{
    color: #7e7d7d;
}
.list--primary__text--nopadding
{
    color: #7e7d7d;
}
.column-box--wide__list
{
    padding: 20px 15px 15px;

    background-color: #fff;
}
.-wide__list__ttl
{
    display: -webkit-box;
    overflow: hidden;

    height: 100%;

    word-wrap: break-word;

    color: #7e7d7d;

    -webkit-box-orient: vertical;
            box-orient: vertical;
    -webkit-line-clamp: 3;
            line-clamp: 3;
}
@media all and (-ms-high-contrast: none)
{
    .-wide__list__ttl
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
.-wide__list__subTtl
{
    color: #7e7d7d;
}
.-wide__list__bottom
{
    overflow: hidden;
}
.-wide__list__bottom .-wide__list__img
{
    float: left;

    width: 48%;
    height: 124px;
    margin-right: 4%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.-wide__list__details
{
    display: block;
    float: left;

    width: 48%;
    margin-top: -3px;
}
.-wide__list__details span
{
    color: #727171;
}
.-wide__list__details ._list__detail__title
{
    color: #70b8ea;
}
.-wide__list__detail--multiline
{
    display: -webkit-box;
    overflow: hidden;

    height: 100%;
    margin-bottom: 4px;

    word-wrap: break-word;

    -webkit-box-orient: vertical;
            box-orient: vertical;
    -webkit-line-clamp: 2;
            line-clamp: 2;
}
@media all and (-ms-high-contrast: none)
{
    .-wide__list__detail--multiline
    {
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}
._list__button__block
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
._list__button__block .c-button-square--mm,
._list__button__block .c-button-square--mm--gray
{
    line-height: 45px;

    display: block;
    float: left;

    text-align: center;
}
._list__button__block .c-button-square--mm--gray
{
    margin-right: 8px;
}
.-wide__list__footer
{
    clear: both;

    text-align: right;

    color: #7e7d7d;
}
.-wide__list__tagBlock
{
    overflow: hidden;
}
.-wide__list__tagBlock .-wide__list__tagBlock--l
{
    float: left;

    width: 80%;
}
.-wide__list__tagBlock .-wide__list__tagBlock--l > span
{
    margin-right: 5px;
    margin-bottom: 5px;
}
.-wide__list__tagBlock .-wide__list__tagBlock--r
{
    float: right;

    width: 20%;

    text-align: right;
}
.insert__screen
{
    position: fixed;
    z-index: 100000;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 100vh;

    background-color: #fff;
}
.insert__screen.is-fade
{
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.insert__screen__img
{
    margin-top: 38vh;
}
@-webkit-keyframes fadein
{
    0%
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    50%
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    100%
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes fadein
{
    0%
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    50%
    {
        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    100%
    {
        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@-webkit-keyframes slide
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    80%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    100%
    {
        -webkit-transform: translateY(100vh);
                transform: translateY(100vh);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
@keyframes slide
{
    0%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    80%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);

        opacity: 1;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    }
    100%
    {
        -webkit-transform: translateY(100vh);
                transform: translateY(100vh);

        opacity: 0;

        -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    }
}
.u-cf:before,
.u-cf:after
{
    display: table;

    content: ' ';
}
.u-cf:after
{
    clear: both;
}
.u-fwb
{
    font-weight: bold;
}
.u-arrow__text
{
    margin-right: 5px;
}
.u-txtc
{
    text-align: center;
}
.u-txtr
{
    text-align: right;
}
.u-txtl
{
    text-align: left;
}
.u-fs--xxxxl
{
    font-size: 23px;
    font-size: 2.3rem;
}
.u-fs--xxxl
{
    font-size: 21px;
    font-size: 2.1rem;
}
.u-fs--xxl
{
    font-size: 25px;
    font-size: 2.5rem;
}
.u-fs--xlh--contents
{
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 32px;
    line-height: 3.2rem;
}
.u-fs--xlh
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
    line-height: 2.5rem;
}
.u-fs--xl--contents
{
    font-size: 18px;
    font-size: 1.8rem;
}
.u-fs--xl
{
    font-size: 23px;
    font-size: 2.3rem;
}
.u-fs--l
{
    font-size: 16px;
    font-size: 1.6rem;
}
.u-fs--lh
{
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 22px !important;
    line-height: 2.2rem !important;
}
.u-fs--mh--contents
{
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 20px;
    line-height: 2rem;
}
.u-fs--mh
{
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.u-fs--m
{
    font-size: 15px;
    font-size: 1.5rem;
}
.u-fs--sh
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 2.2rem;
}
.u-fs--sh--contents
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    line-height: 2rem;
}
.u-fs--sh--recruit
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 19px;
    line-height: 1.9rem;
}
.u-fs--s
{
    font-size: 14px;
    font-size: 1.4rem;
}
.u-fs--xsh
{
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 20px;
    line-height: 2rem;
}
.u-fs--xs
{
    font-size: 13px;
    font-size: 1.3rem;
}
.u-fs--xs--contents
{
    font-size: 12px;
    font-size: 1.2rem;
}
.u-fs--xs--qa
{
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 17px;
    line-height: 1.7rem;
}
.u-fs--xxs
{
    font-size: 11px;
    font-size: 1.1rem;
}
.u-fs--xxsh
{
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 16px;
    line-height: 1.6rem;
}
.u-fs--xxxs
{
    font-size: 10px;
    font-size: 1rem;
}
.u-mt5
{
    margin-top: 5px;
}
.u-mt10
{
    margin-top: 10px;
}
.u-mt15
{
    margin-top: 15px;
}
.u-mt20
{
    margin-top: 20px;
}
.u-mt25
{
    margin-top: 25px;
}
.u-mt30
{
    margin-top: 30px;
}
.u-mt35
{
    margin-top: 35px;
}
.u-mt40
{
    margin-top: 40px;
}
.u-mt45
{
    margin-top: 45px;
}
.u-mt50
{
    margin-top: 50px;
}
.u-mt55
{
    margin-top: 55px;
}
.u-mt60
{
    margin-top: 60px;
}
.u-mt65
{
    margin-top: 65px;
}
.u-mt70
{
    margin-top: 70px;
}
.u-mt75
{
    margin-top: 75px;
}
.u-mr5
{
    margin-right: 5px;
}
.u-mb15
{
    margin-bottom: 15px;
}
.u-mt-15
{
    margin-top: -15px;
}
[data-error],
[data-error-multi],
[data-error-check]
{
    display: none;
}
[data-modal-trigger].is-disable
{
    opacity: .5;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}
[data-target-history].is-empty
{
    color: #7e7d7d;
}
[data-target-insert].is-disable
{
    display: none;
}
[data-target-inputcompany].form--primary__text
{
    display: none;
}
