._contents__detail__block h2,
._contents__detail__block h3
{
	position: relative;
    padding-left: 12px;
	font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
    line-height: 2.5rem;
	margin-top: 35px;
	color: #58c2ad;
}
._contents__detail__block h2:before,
._contents__detail__block h3:before
{
	position: absolute;
    top: 4px;
    left: 0;
    display: block;
    width: 7px;
    height: 1em;
    content: '';
    background-color: #58c2ad;
}
._contents__detail__block p{
	color: #7e7d7d;
	margin-top: 15px;
	font-size: 15px;
    font-size: 1.5rem;
    line-height: 22px;
    line-height: 2.2rem;
}
._contents__detail__block img{
/*	margin-top: 15px;*/
	max-width: 100%;
}

._contents__detail__block small{
	color: #c9c9c9;
	margin-top: 10px;
}


/*Secrect*/
.custom-detail-contens h2,
.custom-detail-contens h3{
	margin-top: 25px;
	font-size: 18px;
    font-size: 1.8rem;
    line-height: 25px;
    line-height: 2.5rem;
	color: #25bc7a;
	font-weight: bold;
}

.custom-detail-contens p{
	margin-top: 15px;
	font-size: 15px;
    font-size: 1.5rem;
    line-height: 22px;
    line-height: 2.2rem;
	color: #7e7d7d;
}

.custom-detail-contens img{
	max-width: 100% !important;
	height: auto !important;
}