.modal(data-remodal-id='login')
	i.c-icon--cross(data-remodal-action='close')
	.modal__inner.u-fs--xs
		a(href="#").c-button-square--social.c-button-square--social--wide.c-facebook
			span.u-fs--xs Facebookでログイン
		a(href="#").c-button-square--social.c-button-square--social--wide.c-twitter.u-mt15
			span.u-fs--xs Twitterでログイン
		form
			input.form--primary__text.u-fs--l.u-mt15(type='email' placeholder='メールアドレスでログイン' autocomplete="on")
			input.form--primary__text.u-fs--l.u-mt5(type='password' placeholder='パスワード' autocomplete="on")
			p.form--login__repletion.u-fs--xs--lh--form.u-mt10.u-txtr
				a(href="#" data-modal-trigger="password") パスワードを忘れたかたはコチラ
			button.c-button-square--full.u-fs--xs.u-mt10(type="submit" data-submit='trigger')
				span.button-inner ログイン
		a.c-button-circle.u-mt20(href="#" data-modal-trigger="registration")
			| メールアドレスで新規登録

//modal分岐password再設定
.modal(data-remodal-id='password')
	i.c-icon--cross(data-remodal-action='close')
	.modal__inner.u-fs--xs
		h3.modal__inner__ttl.u-fs--s.u-fwb
			| パスワードの再設定
		.modal__inner__text
			| 登録したメールアドレスに、
			| パスワードのリセット用のURLが届きます。
		form(novalidate)
			input.form--primary__text.u-fs--l.u-mt15(type='email' placeholder='登録時のメールアドレス' data-mail="target" data-validate-password="target" autocomplete="on" required)
			div.u-txtl
				p.form__error.u-fs--xxsh.u-mt10(data-error="required")
					| メールアドレスを入力して下さい
				p.form__error.u-fs--xxsh.u-mt10(data-error="mail")
					| メールアドレスの入力に誤りがあります。
			button.c-button-square--full.u-fs--xs.u-mt10(type="submit" data-submit-modalother='trigger')
				span.button-inner 送信

//modal分岐新規登録
.modal(data-remodal-id='registration')
	i.c-icon--cross(data-remodal-action='close')
	.modal__inner.u-fs--xs
		h3.modal__inner__ttl.u-fs--s.u-fwb
			| メールアドレスで新規登録
		form(novalidate)
			input.form--primary__text.u-fs--l.u-mt15(type='email' placeholder='メールアドレスでログイン' data-mail="target" autocomplete="on" data-validate-register="target" required)
			div.u-txtl
				p.form__error.u-fs--xxsh.u-mt10(data-error="required")
					| メールアドレスを入力して下さい
				p.form__error.u-fs--xxsh.u-mt10(data-error="mail")
					| メールアドレスの入力に誤りがあります。
			input.form--primary__text.u-fs--l.u-mt5(type='password' placeholder='パスワード(6桁以上)' autocomplete="on" data-validate-register="target" data-maxlength="8" data-minlength="6" data-alphanumeric="target" required)
			div.u-txtl
				p.form__error.u-fs--xxshl.u-mt10(data-error="required")
					| パスワードを入力してください。
				p.form__error.u-fs--xxsh.u-mt10(data-error="minlength")
					| 6桁以上で入力して下さい
				p.form__error.u-fs--xxsh.u-mt10(data-error="maxlength")
					| 8桁以下で入力して下さい
				p.form__error.u-fs--xxsh.u-mt10(data-error="alphanumeric")
					| 半角英数で入力して下さい
			button.c-button-square--full.u-fs--xs.u-mt10(type="submit" data-submit-modal='trigger')
				span.button-inner 新規登録
		.modal__inner__text--notes.u-fs--xxsh.u-txtl.u-mt15
			| ログインまたは新規登録することにより、#{config.category_4}の利用規約、プライバシーポリシーに同意したことになります。
//.modal(data-remodal-id='complete')
//	i.c-icon--close(data-remodal-action='close')
//	.modal__inner.u-fs--xs
//		h3.modal__ttl
//			| メールアドレスで新規登録
//		.modal__inner__text
//			| 本人確認のため、登録されたメールアドレスにメールが送信されました。
//			| メール内のURLをクリックして、登録を完了させてください。
//		p.modal__ttl
//			| 会員登録ありがとうございました。
//		.modal__inner__text--notes.modal__inner__text--notes--border
//			| ※メールが届かない場合は、メールアドレスが間違っている場合がありますので、お手数をお掛けいたしますが、再度ご登録のお手続きを行ってください。
