- var page = 'contents'
- var title = 'キレイにスルンダ'
- var domain = '../'
- var description = ''
- var keywords = ''
- var heading = 'true'
doctype html
html(lang='ja')
	head
		include ../partial/_head
	body
		include ../partial/_header
		include ../partial/_topimg_box
		.primary-box
			.breadcrumb.u-fs--xxs
				a(href="#")
					span HOME
				span.breadcrumb__arrow__text.u-arrow__text &gt;
				span コンテンツまとめ
			h1.primary-box__ttl.u-fs--xl.u-fwb.u-mt20
				i.c-icon--star
				| 新着コンテンツ
			.primary-box__inner.u-mt10(data-target-maincolumn="target")
				.column-left(data-target-leftcolumn="target")
					.column-box--new
						include ../partial/column_left/_column_new
				.column-right
					.column-right__inner(data-target-rightcolumn="target")
						.column-box--rightTop
							include ../partial/column_right/_column_rightTop
						ul.nav-box.u-fs--xs.u-mt30
							include ../partial/_nav
						.column-box--right__search.u-mt30
							include ../partial/form/_quick_search_right
						include ../partial/column_right/_column_rightContent_popular
		include ../partial/_footer
		script(src='#{domain}js/app.js')

