- var page = 'home'
- var title = '食べるんだ管理画面 - 応募者一覧'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header

		.breadcrumb.pc
			a(href="index.html") 掲載求人一覧 >
			a(href="list_entry.html") ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧 >
			span 応募者詳細
		#page-wrapper.container
			.box_info_detail.div_title.u-mt20
				.pull-left
					.title_page ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者詳細
					.id_job.u-mt15 求人ID：10245
				.pull-right.pc
					a(href="#" class="btn-donwload-csv") 応募者の詳細データを<br>ダウンロード（CSV形式）
			.box_content.u-mt20
				ul.detail_entry
					li.li_first 基本情報（管理番号：53）
					li
						ul
							li お名前
							li 勅使河原 蔵之介
					li
						ul
							li フリガナ
							li テシガワラ クラノスケ
					li
						ul
							li 性別
							li 男
					li
						ul
							li 生年月日
							li 1990/04/04
					li
						ul
							li 年齢
							li 26
					li
						ul
							li メールアドレス
							li sample@gmail.com
					li
						ul
							li 住所
							li 東京都豊島区南大塚2-25-15
					li
						ul
							li 電話番号
							li 000-0000-0000
					li
						ul
							li 現在の就業状況
							li 在職中（飲食関係）
					li
						ul
							li 入社可能時期
							li 3ヶ月以降
					li
						ul
							li 希望連絡時間・連絡方法
							li 平日午前中
					li
						ul
							li 取得資格
							li
					li
						ul
							li 職務経歴・自己PR
							li 飲食店スタッフとして入社し、お客様に心からご満足いただけるようホスピタリティをもち、常に探求心を持って仕事に取り組んだ結果、入社2年で店長を任されるという最短記録を樹立いたしました。
								br
								br
								| 現在は3店舗の管理を任されており、飲食業界での就業経験がないスタッフでもスムーズに業務に慣れるよう、マニュアルと先輩スタッフによるOJTによる教育体制を整え、スタッフの定着率を大幅にアップすることに成功しております。
								br
								br
								| またその結果としてスタッフの意識があがり、売り上げ全社No,1店舗として年商2億を達成することができました。
					li
						ul
							li 希望雇用形態
							li アルバイト
				.text-center.u-mt20
					a(href="#" class="btn btn-sendmail")
						span この応募者に連絡する
					p.font--size--gray.u-mt10 ※メールソフトが立ち上がります。
			.box_reviews_entry.u-mt45
				.box_reviews
					.box_revew__title 応募者の評価
					.box_review__content
						.list_btn_rate
							button.btn.btn_update_rate.btn--rate_1.active(value='1')
								span ● 良い
							button.btn.btn_update_rate.btn--rate_2(value='2')
								span ▲ 普通
							button.btn.btn_update_rate.btn--rate_3(value='3')
								span × 悪い
							button.btn.btn_update_rate.btn--rate_4(value='0')
								span 評価しない
						.clear-both
					p.box_review__notice 評価をしておくと応募者一覧で絞り込みができるようになります。
				.box_status.u-mt20
					.box_revew__title.border--top ステータスの変更
					.box_review__content
						select(name="status" class="form-control select-status")
							option(value="") ステータス
							option(value="1") 面接予定
							option(value="2") 選考中
							option(value="3") 内定通知済
							option(value="4") 末返信
							option(value="5") 連絡中
				.div_btn_save.text-center
					input(type="hidden" value="" id="rate")
					input(type="hidden" value="5" name="id_entry" id="id_entry")
					input(type="hidden" value="gulp" id="gulp")
					a(href="javascript:void(0)" class="btn btn_save popup-trigger" id="btn_save") この状態で登録
			.row_paging.row_paging_detail.u-mt15
				.pull-left
					a(href="list_entry.html" class="return_page")
						|<
						span 応募者一覧に戻る
		.popup
			.popup__content
				a.popup-btn-close.btn--close--x.sp X
				p.row_rate
					| 評価：
					span#span_rate
						span.row_rate__rate_1 ● 良い　
					br.sp
					|ステータス：
					span#span_status 面接予定
				p に変更しました。
				.text-center.u-mt40
					a(href="#" class="btn btn-sendmail")
						span この応募者に連絡する
					p.font--size--gray.u-mt5 ※メールソフトが立ち上がります。
				span.popup-btn-close.u-mt30 閉じる

		include partial/_hamburger
		script(src='./js/app.js')
































