- var page = 'home'
- var title = '食べるんだ'
- var domain = './'
- var description = ''
- var keywords = ''
- var title_logo = '求人管理画面'
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header

		#page-wrapper.container
			.div_title.u-mt40
				.title_page 掲載求人一覧
			.box_notificate.u-mt30
				ul.box_notificate__ul
					li
						a(href="list_entry.html") 「求人ID：10245」に新しい応募が100件きました。 >
					li
						a(href="list_entry.html") 「求人ID：100」に新しい応募が20件きました。 >
					li
						a(href="list_entry.html") 「求人ID：70」に新しい応募が5件きました。 >
					li
						a(href="list_entry.html") 「求人ID：100」に新しい応募が20件きました。 >
					li
						a(href="list_entry.html") 「求人ID：70」に新しい応募が5件きました。 >
					li
						a(href="list_entry.html") 「求人ID：10245」に新しい応募が100件きました。 >
				.text-center.u-mt20.sp
					span.btn_show_more すべて表示

			.box_content.u-mt30
				table.rwd-tables
					tr.tr_header
						th(width="10%" class="radius-left-top")
							span 求人ID
						th(width="20%")
							span 掲載期間
						th(width="28%")
							span 店舗名
						th
							span 職種
						th
							span 応募者数
						th(width="10%" class="radius-right-top")
					tr
						td
							.display_table
								span.rwd-tables.thead 求人ID
								span.rwd-tables.tbody
									a(href="#" class="link_detail") 10245
						td
							.display_table
								span.rwd-tables.thead 掲載期間
								span.rwd-tables.tbody 2016/12/10〜2017/12/12
						td
							.display_table
								span.rwd-tables.thead 店舗名
								span.rwd-tables.tbody 札幌成吉思汗しろくま 恵比寿店
						td
							.display_table
								span.rwd-tables.thead 職種
								span.rwd-tables.tbody ホールスタッフ
						td.radius--bottom
							.display_table
								span.rwd-tables.thead 応募者数
								span.rwd-tables.tbody
									|100
									span.total_new 100
						td.td_btn
							a(href="list_entry.html" class="btn btn-success btn--arrow")
								|応募者一覧
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 求人ID
								span.rwd-tables.tbody
									a(href="#" class="link_detail") 100
						td
							.display_table
								span.rwd-tables.thead 掲載期間
								span.rwd-tables.tbody 2016/05/07〜2017/06/07
						td
							.display_table
								span.rwd-tables.thead 店舗名
								span.rwd-tables.tbody MARISCOS　BOO（マリスコスブー）
						td
							.display_table
								span.rwd-tables.thead 職種
								span.rwd-tables.tbody シェフ・キッチン
						td.radius--bottom
							.display_table
								span.rwd-tables.thead 応募者数
								span.rwd-tables.tbody
									|48
									span.total_new 20
						td.td_btn
							a(href="list_entry.html" class="btn btn-success btn--arrow")
								| 応募者一覧
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 求人ID
								span.rwd-tables.tbody
									a(href="#" class="link_detail") 6846
						td
							.display_table
								span.rwd-tables.thead 掲載期間
								span.rwd-tables.tbody 2016/12/10〜2017/12/12
						td
							.display_table
								span.rwd-tables.thead 店舗名
								span.rwd-tables.tbody 吉兆 歌舞伎座店
						td
							.display_table
								span.rwd-tables.thead 職種
								span.rwd-tables.tbody 店長・マネージャー
						td.radius--bottom
							.display_table
								span.rwd-tables.thead 応募者数
								span.rwd-tables.tbody 8

						td.td_btn
							a(href="list_entry.html" class="btn btn-success btn--arrow")
								| 応募者一覧
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 求人ID
								span.rwd-tables.tbody
									a(href="#" class="link_detail") 70
						td
							.display_table
								span.rwd-tables.thead 掲載期間
								span.rwd-tables.tbody 2016/12/10〜2017/12/12
						td
							.display_table
								span.rwd-tables.thead 店舗名
								span.rwd-tables.tbody Tsukiji Tutto Bene Tsukiji Tutto Bene（築地 トゥットベーネ）
						td
							.display_table
								span.rwd-tables.thead 職種
								span.rwd-tables.tbody ピッツアイオーロ
						td.radius--bottom
							.display_table
								span.rwd-tables.thead 応募者数
								span.rwd-tables.tbody
									| 76
									span.total_new 5
						td.td_btn
							a(href="list_entry.html" class="btn btn-success btn--arrow")
								| 応募者一覧
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 求人ID
								span.rwd-tables.tbody
									a(href="#" class="link_detail") 683
						td
							.display_table
								span.rwd-tables.thead 掲載期間
								span.rwd-tables.tbody 2016/12/10〜2017/12/12
						td
							.display_table
								span.rwd-tables.thead 店舗名
								span.rwd-tables.tbody cafe BELLBE イオンモール大和店
						td
							.display_table
								span.rwd-tables.thead 職種
								span.rwd-tables.tbody 販売スタッフ
						td.radius--bottom
							.display_table
								span.rwd-tables.thead 応募者数
								span.rwd-tables.tbody 112

						td.td_btn
							a(href="list_entry.html" class="btn btn-success btn--arrow")
								| 応募者一覧
								i.arrow
			.row_paging
				.paging.paging_no_box_search.pull-right
					span.prev.disabled
						a(href="#")
					span.numbers.current
						a 1
					span.numbers
						a(href="#") 2
					span.numbers
						a(href="#") 3
					span.numbers
						a(href="#") 4
					span.next
						a(href="#")
		include partial/_hamburger
		script(src='./js/app.js')
