- var page = 'home'
- var title = '食べるんだ管理画面 - 応募者一覧'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		include partial/_header

		.breadcrumb.pc
			a(href="") 掲載求人一覧 >
			span ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧
		#page-wrapper.container
			.div_title.u-mt40
				.title_page ホールスタッフ / 札幌成吉思汗しろくま 恵比寿店の応募者一覧
				.id_job.u-mt15 求人ID：10245
			.box_notificate.u-mt30
				ul.box_notificate__ul
					li
						a(href="#") 「管理番号：855」新しい応募がきました。 >
					li
						a(href="#" class="warning") 「管理番号：10847」応募者へのメッセージが未返信です。 >
					li
						a(href="#" class="warning") 「管理番号：1227」応募者へのメッセージが未返信です。 >
					li
						a(href="#") 「管理番号：855」新しい応募がきました。 >
					li
						a(href="#" class="warning") 「管理番号：10847」応募者へのメッセージが未返信です。 >
					li
						a(href="#" class="warning") 「管理番号：1227」応募者へのメッセージが未返信です。 >
				.text-center.u-mt20.sp
					span.btn_show_more すべて表示
			.box_filter.u-mt20.pc
				.pull-left
					form(action="" method="get" name="form_filter")
						.col.col-1.label 絞り込み：
						.col.col-1
							select(name="" class="form-control")
								option(value="") 性別
								option(value="男") 男
								option(value="女") 女
						.col.col-1
							select(name="" class="form-control")
								option(value="") 年齢
								option(value="10") 10代
								option(value="20") 20代
								option(value="30") 30代
								option(value="40") 40代
								option(value="50") 50代
								option(value="60") 60代
								option(value="70") 70代
								option(value="80") 80代
						.col.col-1
							select(name="" class="form-control select_with_icon")
								option(value="") 評価
								option(value="1" class="blue") ●
								option(value="2" class="green") ▲
								option(value="3" class="red") ×
								option(value="4" class="line" ) &nbsp-

						.col.col-2
							select(name="" class="form-control")
								option(value="") 希望雇用形態
								option(value="1") 正社員
								option(value="2") 契約社員
								option(value="3") 業務委託
								option(value="4") アルバイト
								option(value="5") その他
						.col.col-2
							select(name="" class="form-control")
								option(value="") ステータス
								option(value="1") 面接予定
								option(value="2") 選考中
								option(value="3") 内定通知済
								option(value="4") 未返信
								option(value="5") 連絡中
						.col.col-1.col--have--btn
							button(type="submit" class="btn btn-search")
								span 絞り込み
				.pull-right
					a(href="#" class="btn-donwload-csv") 応募者一覧データを <br> ダウンロード（CSV形式）
				.clear-both
			.box_content.u-mt20
				table.rwd-tables.list_entry
					tr.tr_header
						th(width="10%" class="radius-left-top")
							span 管理番号
						th(width="18%")
							span 応募日付
						th(width="20%")
							span 氏名
						th(width="5%")
							span 性別
						th(width="5%")
							span 年齢
						th(width="5%")
							span 評価
						th
							span 希望雇用形態
						th
							span ステータス
						th(width="13%" class="radius-right-top")
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 53
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								|詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 1655
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 唐沢 賢治
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 19
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--triangle 普通
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 正社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 選考中
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.close
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 17164
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 佐古 真帆
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 女
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 34
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--close 悪い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 不採用
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.new
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody
									| 855
									span.icon--new New
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 横田 竜也
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 27
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--nothing -
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--red 未返信
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 2545
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 唐沢 賢治
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 19
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--triangle 普通
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 正社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 選考中
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow

					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 10847
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.new
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody
									| 1227
									span.icon--new New
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 横田 竜也
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 27
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--nothing -
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--red 未返信
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr.close
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 978
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 09:06:48
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 佐古 真帆
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 女
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 34
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--close 悪い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody 契約社員
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody 不採用
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
					tr
						td
							.display_table
								span.rwd-tables.thead 管理番号
								span.rwd-tables.tbody 8697
						td
							.display_table
								span.rwd-tables.thead 応募日付
								span.rwd-tables.tbody 2016/12/05 16:52:15
						td
							.display_table
								span.rwd-tables.thead 氏名
								span.rwd-tables.tbody 勅使河原 蔵之介
						td(align="center")
							.display_table
								span.rwd-tables.thead 性別
								span.rwd-tables.tbody 男
						td(align="center")
							.display_table
								span.rwd-tables.thead 年齢
								span.rwd-tables.tbody 26
						td(align="center")
							.display_table
								span.rwd-tables.thead 評価
								span.rwd-tables.tbody
									span.status.status__status--circle 良い
						td
							.display_table
								span.rwd-tables.thead 希望雇用形態
								span.rwd-tables.tbody アルバイト
						td.radius--bottom
							.display_table
								span.rwd-tables.thead ステータス
								span.rwd-tables.tbody
									span.color--blue 面接予定
						td(align="center" class="td_btn")
							a(href="detail_entry.html" class="btn btn-success btn--arrow")
								| 詳細を確認
								i.arrow
			.btn_search_mobile.sp
				a(class="btn btn-open-popup-search")
					span 絞り込み検索
			.row_paging
				.pull-left.pc
					a(href="index.html" class="return_page")
						|<
						span 掲載求人一覧に戻る
				.paging.pull-right
					span.prev.disabled
						a(href="#")
					span.numbers.current
						a 1
					span.numbers
						a(href="#") 2
					span.numbers
						a(href="#") 3
					span.numbers
						a(href="#") 4
					span.next
						a(href="#")
		input(type="hidden" value="gulp" id="gulp")
		.popup.popup_search_mobile
			.popup__content
				a.popup-btn-close.btn--close--x.sp X
				form(action="" method="get" name="form_filter")
					.col.col-1
						select(name="" class="form-control")
							option(value="") 性別
							option(value="男") 男
							option(value="女") 女
					.col.col-1
						select(name="" class="form-control")
							option(value="") 年齢
							option(value="10") 10代
							option(value="20") 20代
							option(value="30") 30代
							option(value="40") 40代
							option(value="50") 50代
							option(value="60") 60代
							option(value="70") 70代
							option(value="80") 80代
					.col.col-1
						select(name="" class="form-control select_with_icon")
							option(value="") 評価
							option(value="1" class="blue") ●
							option(value="2" class="green") ▲
							option(value="3" class="red") ×
							option(value="4" ) -

					.col.col-2
						select(name="" class="form-control")
							option(value="") 希望雇用形態
							option(value="1") 正社員
							option(value="2") 契約社員
							option(value="3") 業務委託
							option(value="4") アルバイト
							option(value="5") その他
					.col.col-2
						select(name="" class="form-control")
							option(value="") ステータス
							option(value="1") 面接予定
							option(value="2") 選考中
							option(value="3") 内定通知済
							option(value="4") 未返信
							option(value="5") 連絡中
					.col.col-1
						button(type="submit" class="btn btn-search")
							span 絞り込み
		include partial/_hamburger
		script(src='./js/app.js')