.modal(data-remodal-id='jobmodal' data-search-id="job")
	h1.modal__ttl.u-fs--l 職種
	.modal__inner.u-fs--xs
		h2.modal__sub__ttl 調理
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck01" data-num="1")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck01")
				| シェフ・キッチン
			input.search-checkbox(type="checkbox" name="a" id="jobcheck02" data-num="2")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck02")
				| パティシエ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck03" data-num="3")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck03")
				| バーテンダー
			input.search-checkbox(type="checkbox" name="a" id="jobcheck04" data-num="4")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck04")
				| ソムリエ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck05" data-num="5")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck05")
				| ブランジェ・製パン
			input.search-checkbox(type="checkbox" name="a" id="jobcheck06" data-num="6")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck06")
				| バリスタ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck07" data-num="7")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck07")
				| ピッツアイオーロ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck08" data-num="8")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck08")
				| 製造・加工
			input.search-checkbox(type="checkbox" name="a" id="jobcheck09" data-num="9")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck09")
				| 寿司職人
			input.search-checkbox(type="checkbox" name="a" id="jobcheck10" data-num="10")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck10")
				| その他
		h2.modal__sub__ttl.u-mt30 接客・販売
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck11" data-num="11")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck11")
				| 店長・マネージャー
			input.search-checkbox(type="checkbox" name="a" id="jobcheck12" data-num="12")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck12")
				| ホールスタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck13" data-num="13")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck13")
				| 販売スタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck14" data-num="14")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck14")
				| デリバリースタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck15" data-num="15")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck15")
				| レセプショニスト
		h2.modal__sub__ttl.u-mt30 企画・運営
		.modal__checkbox
			input.search-checkbox(type="checkbox" name="a" id="jobcheck16" data-num="16")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck16")
				| 経営幹部
			input.search-checkbox(type="checkbox" name="a" id="jobcheck17" data-num="17")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck17")
				| SV・営業
			input.search-checkbox(type="checkbox" name="a" id="jobcheck18" data-num="18")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck18")
				| 本部スタッフ
			input.search-checkbox(type="checkbox" name="a" id="jobcheck19" data-num="19")
			label.search-checkbox__label--modal.u-mt10(for="jobcheck19")
				| 栄養士・管理栄養士
		.modal__btn
			.c-button-square--mm(data-remodal-action='close')
				|閉じる
