.nav--hamburger
	cursor pointer
	margin-left: 20px
	@extend $hover
	color primary
	.nav--hamburger__list
		display block
		background-color primary
		width: 35px
		height 5px
		border-radius 5px
		margin-bottom: 4px
	> span
		&:nth-of-type(3)
			margin-bottom 2px
	.nav--hamburger__text
		color primary
		display block
		text-align center





