@import "sprite/sprite";
sprite($sprite)
	background url(../img/sprite/sprite.png) no-repeat $sprite[2] $sprite[3]
	width $sprite[4]
	height $sprite[5]

$icon
	display inline-block

//todo $spritesheet_sprites の名前replaceしてforinでclass吐くようなfunction

+prefix-classes('c-icon--')
	.home
		@extend $icon
		sprite($icon_home)
	.secret
		@extend $icon
		sprite($icon_secret)
	.gentei
		@extend $icon
		sprite($icon_gentei)
	.content
		@extend $icon
		sprite($icon_content)
	.book
		@extend $icon
		sprite($icon_book)
	.beauty
		@extend $icon
		sprite($icon_kirei)
	.hat
		@extend $icon
		sprite($icon_kouza)
	.star-other
		@extend $icon
		sprite($icon_star_other)
	.search
		sprite($icon_search)
	.cross
		@extend $icon
		sprite($icon_cross)
	.eye
		@extend $icon
		sprite($icon_eye)
	.eye--l
		@extend $icon
		sprite($icon_eye_l)
	.attach-file
		@extend $icon
		sprite($icon_attach_file)
	.star
		@extend $icon
		sprite($icon_star)
	.heart
		@extend $icon
		sprite($icon_heart)
	.tag
		sprite($icon_ribbon)
	.people
		@extend $icon
		sprite($icon_people)
	.facebook
		@extend $icon
		sprite($icon_facebook)
	.twitter
		@extend $icon
		sprite($icon_twitter)
	.clip
		@extend $icon
		sprite($icon_clip)
	.flow--l
		@extend $icon
		sprite($icon_flow_l)
		&--is
			@extend $icon
			sprite($icon_flow_l_is)
			color primary__
	.flow--c
		@extend $icon
		sprite($icon_flow_c)
		&--is
			@extend $icon
			sprite($icon_flow_c_is)
			color primary__
	.flow--r
		@extend $icon
		sprite($icon_flow_r)
		&--is
			@extend $icon
			sprite($icon_flow_r_is)
			color primary__
	//cssicon
	.triangle
		@extend $icon
		background transparent
		width 10px
		height 10px
		border-left 5px solid primary
		border-top 5px solid transparent
		border-bottom 5px solid transparent
		border-right 5px solid transparent
	.triangle--rotate
		@extend $icon
		position absolute
		background transparent
		width 16px
		height 16px
		border-left 9px solid transparent
		border-top 9px solid transparent
		border-bottom 9px solid transparent
		border-right 12px solid primary
		transform rotate(-33deg)
	.triangle--top
		@extend $icon
		background transparent
		width 12px
		height 12px
		border-left 6px solid transparent
		border-top 6px solid transparent
		border-bottom 12px solid text
		border-right 6px solid transparent
	.triangle--bottom
		background transparent
		border-left 4px solid transparent
		border-top 5px solid primary__
		border-bottom 4px solid transparent
		border-right 4px solid transparent
	.triangle--attention
		@extend $icon
		width 16px
		height 16px
		background transparent
		border-left 10px solid transparent
		border-top 0px solid transparent
		border-bottom 16px solid form
		border-right 10px solid transparent

	.circle--baloon
		background-color primary
		width 75px
		height 75px
		border-radius 100%
	.circle--s
		background-color base
		border-radius 100%
		width 28px
		height 28px
	.circle--m
		background-color base
		border-radius 100%
		width 40px
		height 40px
	.circle--text__ttl
		@extend $icon
		border-radius 100%
		background-color text
		width: 15px
		height: 15px
	.l
		background transparent
		width 9px
		height 11px
		border-bottom 2px solid primary
		border-left 2px solid primary
	.radio
		sprite($icon_radio)
	.radio--on
		sprite($icon_radio_on)
	.check
		sprite($icon_check)
		background-color #fff
	.check--on
		sprite($icon_check_on)

.c-icon__wrapper--triangle
	position: relative
	&:after
		@extend .c-icon--triangle--bottom
		position: absolute
		display block
		content ''
		right 5px
		top 18px
		