<?php
$cakeDescription = __d('cake_dev', 'CakePHP: the rapid development php framework');
$cakeVersion     = __d('cake_dev', 'CakePHP %s', Configure::version());
?>
<!DOCTYPE html>
<html>
    <head>
        <?php include('include/head.ctp'); ?>

    </head>
    <body>
            <?php echo $this->fetch('content'); ?>
    </body>
</html>
