base = #feda5a;
text = #7e7d7d;
text_ = #626262;
text__ = #f4c418;
menu = #e5e5e5;
line = #d2d2d2;
back = #eee;
primary = #aaa;
primary_ = #70b8ea;
primary__ = #fff;
secondary = #4b4948;
shadow = #c2a641;
shadow_ = #a0a0a0;
shadow__ = #558ab1;

tag = #32acd1;
tag_ = #df5780;
tag__ = #9388bc;
tag___ = #ccac49;

social = #3a5a98;
social_ = #55acee;
social__ = #1a99ce;

disable = #c9c9c9;
//contents = #58c2ad;

form = #e60012;
form_ = #f4f4f4;

placeholder = #bfbfbf;

pc-width    = 1020px;







