- var page = 'home'
- var title = 'キレイにスルンダ'
- var domain = '../../'
- var description = ''
- var keywords = ''
- var search = 'true'

doctype html
html(lang='ja')
	head
		include ../../partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			//include ../../partial/_header
			header.header--primary
				div.header--primary__inner.u-cf
					h2.header--primary__logo
						a(href="#")
							img(src="#{domain}img/svg/top-logo.svg" alt="#{config.sitename}")
					.header--primary__right
						.nav--hamburger(data-trigger-hamburgermenu='hamburger')
							span.nav--hamburger__list
							span.nav--hamburger__list
							span.nav--hamburger__list
							span.nav--hamburger__text MENU
			.secondary-box
				.secondary-box__inner
					h1.u-fs--m.u-fwb.secondary-box__ttl.u-mt15 求人検索
					.search-box.u-mt15
						input(type="hidden" id="requestWaysite" value="")
						form
							.search-box__ttl.u-fs--m.u-fwb
								| 職種
							.search-box__contents
								.search-box__contents__ttl.u-fs--xs
									| 調理
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check01" checked)
									label.search-checkbox__label.u-mt15(for="check01")
										| シェフ・キッチン
									input.search-checkbox(type="checkbox" name="a" id="check02")
									label.search-checkbox__label.u-mt15(for="check02")
										| パティシエ
									input.search-checkbox(type="checkbox" name="a" id="check03")
									label.search-checkbox__label.u-mt15(for="check03")
										| バーテンダー
									input.search-checkbox(type="checkbox" name="a" id="check04")
									label.search-checkbox__label.u-mt15(for="check04")
										| ソムリエ
									input.search-checkbox(type="checkbox" name="a" id="check05")
									label.search-checkbox__label.u-mt15(for="check05")
										| ブランジェ・製パン
									input.search-checkbox(type="checkbox" name="a" id="check06")
									label.search-checkbox__label.u-mt15(for="check06")
										| バリスタ
									input.search-checkbox(type="checkbox" name="a" id="check07")
									label.search-checkbox__label.u-mt15(for="check07")
										| ピッツアイオーロ
									input.search-checkbox(type="checkbox" name="a" id="check08")
									label.search-checkbox__label.u-mt15(for="check08")
										| 製造・加工
									input.search-checkbox(type="checkbox" name="a" id="check09")
									label.search-checkbox__label.u-mt15(for="check09")
										| 寿司職人
									input.search-checkbox(type="checkbox" name="a" id="check10")
									label.search-checkbox__label.u-mt15(for="check10")
										| その他
								.search-box__contents__ttl.u-fs--xs.u-mt20
									| 接客・販売
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check11" checked)
									label.search-checkbox__label.u-mt15(for="check11")
										| 店長・マネージャー
									input.search-checkbox(type="checkbox" name="a" id="check12")
									label.search-checkbox__label.u-mt15(for="check12")
										| ホールスタッフ
									input.search-checkbox(type="checkbox" name="a" id="check13")
									label.search-checkbox__label.u-mt15(for="check13")
										| 販売スタッフ
									input.search-checkbox(type="checkbox" name="a" id="check14")
									label.search-checkbox__label.u-mt15(for="check14")
										| デリバリースタッフ
									input.search-checkbox(type="checkbox" name="a" id="check15")
									label.search-checkbox__label.u-mt15(for="check15")
										| レセプショニスト
								.search-box__contents__ttl.u-fs--xs.u-mt20
									| 企画・運営
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check16" checked)
									label.search-checkbox__label.u-mt15(for="check16")
										| 経営幹部
									input.search-checkbox(type="checkbox" name="a" id="check17")
									label.search-checkbox__label.u-mt15(for="check17")
										| ホールスタッフ
									input.search-checkbox(type="checkbox" name="a" id="check18")
									label.search-checkbox__label.u-mt15(for="check18")
										| 本部スタッフ
									input.search-checkbox(type="checkbox" name="a" id="check19")
									label.search-checkbox__label.u-mt15(for="check19")
										| 栄養士・管理栄養士
							.search-box__ttl.u-fs--m.u-mt15.u-fwb
								| 勤務地
							.search-box__contents
								.quick-search__select.c-icon__wrapper--triangle
									select(name="都道府県" data-trigger-location="trigger" id="pro_select").quick-search__select.u-fs--m
										option(value='') 都道府県
										option(value='1') 北海道
										option(value='2') 青森県
										option(value='3') 岩手県
										option(value='4') 宮城県
										option(value='5') 秋田県
										option(value='6') 山形県
										option(value='7') 福島県
										option(value='13') 東京都
										option(value='14') 神奈川県
										option(value='11') 埼玉県
										option(value='12') 千葉県
										option(value='9') 栃木県
										option(value='10') 群馬県
										option(value='8') 茨城県
										option(value='19') 山梨県
										option(value='15') 新潟県
										option(value='20') 長野県
										option(value='16') 富山県
										option(value='17') 石川県
										option(value='18') 福井県
										option(value='23') 愛知県
										option(value='21') 岐阜県
										option(value='22') 静岡県
										option(value='24') 三重県
										option(value='27') 大阪府
										option(value='28') 兵庫県
										option(value='26') 京都府
										option(value='25') 滋賀県
										option(value='29') 奈良県
										option(value='30') 和歌山県
										option(value='31') 鳥取県
										option(value='32') 島根県
										option(value='33') 岡山県
										option(value='34') 広島県
										option(value='35') 山口県
										option(value='36') 徳島県
										option(value='37') 香川県
										option(value='38') 愛媛県
										option(value='39') 高知県
										option(value='40') 福岡県
										option(value='41') 佐賀県
										option(value='42') 長崎県
										option(value='43') 熊本県
										option(value='44') 大分県
										option(value='45') 宮崎県
										option(value='46') 鹿児島県
										option(value='47') 沖縄県
								.search-boxselect__detail.u-mt10
									.c-button-square--ms--gray.is-disable.u-fs--xs(data-modal-trigger="prefmodal")
										| 市区町村
									.c-button-square--ms--gray.is-disable.u-fs--xs(data-modal-trigger="waysidemodal")
										| 沿線・駅を選択
								.check__tag__addblock(data-target-addtag="pref")
								.check__tag__addblock(data-target-addtag="wayside")
							.search-box__ttl.u-fs--m.u-mt15.u-fwb
								| 雇用形態
							.search-box__contents.search-box__contents--noTitle
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check41" checked)
									label.search-checkbox__label.u-mt15(for="check41")
										| 正社員
									input.search-checkbox(type="checkbox" name="a" id="check42")
									label.search-checkbox__label.u-mt15(for="check42")
										| アルバイト
									input.search-checkbox(type="checkbox" name="a" id="check43")
									label.search-checkbox__label.u-mt15(for="check43")
										| パート
									input.search-checkbox(type="checkbox" name="a" id="check44")
									label.search-checkbox__label.u-mt15(for="check44")
										| 契約
									input.search-checkbox(type="checkbox" name="a" id="check45")
									label.search-checkbox__label.u-mt15(for="check45")
										| 派遣
									input.search-checkbox(type="checkbox" name="a" id="check46")
									label.search-checkbox__label.u-mt15(for="check46")
										| その他

							.search-box__ttl.u-fs--m.u-mt15.u-fwb
								| こだわり
							.search-box__contents
								.search-box__contents__ttl.u-fs--xs
									| 応募条件
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check20" checked)
									label.search-checkbox__label.u-mt15(for="check20")
										| 未経験OK
									input.search-checkbox(type="checkbox" name="a" id="check21")
									label.search-checkbox__label.u-mt15(for="check21")
										| 年齢不詳
									input.search-checkbox(type="checkbox" name="a" id="check22")
									label.search-checkbox__label.u-mt15(for="check22")
										| 外国人歓迎
									input.search-checkbox(type="checkbox" name="a" id="check23")
									label.search-checkbox__label.u-mt15(for="check23")
										| WワークOK
								.search-box__contents__ttl.u-fs--xs.u-mt20
									| 待遇
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check24" checked)
									label.search-checkbox__label.u-mt15(for="check24")
										| 社会保険あり
									input.search-checkbox(type="checkbox" name="a" id="check25")
									label.search-checkbox__label.u-mt15(for="check25")
										| 寮・社宅あり
									input.search-checkbox(type="checkbox" name="a" id="check26")
									label.search-checkbox__label.u-mt15(for="check26")
										| 各種手当充実
									input.search-checkbox(type="checkbox" name="a" id="check27")
									label.search-checkbox__label.u-mt15(for="check27")
										| 交通費支給
									input.search-checkbox(type="checkbox" name="a" id="check28" checked)
									label.search-checkbox__label.u-mt15(for="check28")
										| 研修あり
									input.search-checkbox(type="checkbox" name="a" id="check29")
									label.search-checkbox__label.u-mt15(for="check29")
										| 制服貸与
									input.search-checkbox(type="checkbox" name="a" id="check30")
									label.search-checkbox__label.u-mt15(for="check30")
										| 週休2日
									input.search-checkbox(type="checkbox" name="a" id="check31")
									label.search-checkbox__label.u-mt15(for="check31")
										| 社員登用あり
								.search-box__contents__ttl.u-fs--xs.u-mt20
									| 特徴
								.search-box__contents__form.u-fs--xs
									input.search-checkbox(type="checkbox" name="a" id="check32" checked)
									label.search-checkbox__label.u-mt15(for="check32")
										| オープニング
									input.search-checkbox(type="checkbox" name="a" id="check33")
									label.search-checkbox__label.u-mt15(for="check33")
										| 高収入
									input.search-checkbox(type="checkbox" name="a" id="check34")
									label.search-checkbox__label.u-mt15(for="check34")
										| 定休日あり
									input.search-checkbox(type="checkbox" name="a" id="check35")
									label.search-checkbox__label.u-mt15(for="check35")
										| 服装自由
									input.search-checkbox(type="checkbox" name="a" id="check36" checked)
									label.search-checkbox__label.u-mt15(for="check36")
										| まかないあり
									input.search-checkbox(type="checkbox" name="a" id="check37")
									label.search-checkbox__label.u-mt15(for="check37")
										| 個人経営
									input.search-checkbox(type="checkbox" name="a" id="check38")
									label.search-checkbox__label.u-mt15(for="check38")
										| 海外勤務あり
									input.search-checkbox(type="checkbox" name="a" id="check39")
									label.search-checkbox__label.u-mt15(for="check39")
										| リゾート
									input.search-checkbox(type="checkbox" name="a" id="check40")
									label.search-checkbox__label.u-mt15(for="check40")
										| 独立希望者歓迎
							.search-box__ttl.u-fs--m.u-mt15.u-fwb
								| キーワード
							.search-box__contents
								.search--text__wrap
									input.search--text(type="text")
					include ../../partial/modal/_pref
					include ../../partial/modal/_wayside
			.search__button__block
				button(type="submit").c-button-square--m.u-fs--l
					span.button-inner 125件を検索
			include ../../partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include ../../partial/_nav
		//下記必要なくなるかも
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include ../../partial/_leftNav
		include ../../partial/modal/_login
		script(src='#{domain}js/app.js')





































