.form--primary
	background primary__
	padding 20px 20px 30px
	color text
	.form--primary__text
		display block
		border 1px solid primary
		border-radius 3px
		height 40px
		line-height: 40px
		width 100%
		color text
	.form--primary__textarea
		display block
		border 1px solid primary
		border-radius 3px
		height 208px
		line-height: 40px
		width 100%
		color text
.form--primary__table
	border-top 1px solid line
.form--primary__ttl
	width 198px
	.c-tag--form--required
		font-weight: normal
		margin-left: 5px
.form--primary__detail
	padding 30px 0
	width 452px
	.-contact__radio__block
		margin-bottom: 10px
		> label
			margin-right: 60px
	.form--primary__radio
		display none
		& + label
			&:before
				content ''
				display inline-block
				position: relative
				margin-right: 5px
				@extend .c-icon--radio
				top 3px
		&:checked
			& + label
				&:before
					@extend .c-icon--radio--on
	.quick-search__select__wrap//selectのみ上書き
		display inline-block
		margin-right 5px
		> select
			border-color primary
			color text
			padding-right: 10px
		&:nth-last-child(1)
			margin-right: 0
.form--primary__txtr
	text-align right
	.form__error
		text-align left
.-contact__table__row
	border-bottom 1px solid line
	display block
	&:nth-last-child(1)
		border-bottom none
.-contact__button__block
	display flex
	justify-content center
	padding 30px 0 0
	.c-button-square--l--gray
		margin-right: 10px
.form--primary__thanks
	text-align center
	color base
.-contact__thanks__text
	text-align center

.form__error
	margin-bottom: 5px

.form--primary__repletion
	color text
	> span
		display inline-block
		margin-right 30px

.form--primary__heading
	background-color back
	color text
	padding 10px

.-primary__table__check
	.search-checkbox__label
		width auto
		margin-right 30px

.form__button__block
	text-align center
	border-top 1px solid line
	.c-button-square--l
		margin 10px auto 0
		text-align center
		direction: inherit
	.form__text--link
		color base
.form__button__block--multi
	display flex
	justify-content: center
	.c-button-square--l--gray
		margin-right: 10px

.form--primary__topBlock
	display flex
	justify-content: space-between

.flow__arrow
	span
		text-align center
		line-height: 24px

//ログインフォーム
.form--login
	padding 40px 0
	background-color primary__
	.form--primary__text
		color text
		border 1px solid primary
	input
		width 300px
		height 40px
		line-height: 40px
	.c-button-square--l
		width 300px
		height 50px
		line-height: 50px
		margin-right: auto
		margin-left: auto
.form--login__top
	width 100%
	display flex
	.-login__top__l
		width 50%
		border-right 1px solid line
	.-login__top__r
		width 50%
		text-align center
	.c-button-square--social
		color primary__
		margin-left auto
		margin-right auto
		width: 300px
		height: 50px
	.-login__top__ttl
		text-align center
		color text
	._top__r__link
		display block
		width: 300px
		margin-right auto
		margin-left: auto
		text-align right
		color text
.form--login__middle
	text-align center
	input
		display block
		margin-left: auto
		margin-right: auto
	.-login__middle__ttl
		color base
	.form--login__repletion
		color text
	.-login__error
		width 300px
		margin auto





