.modal__ttl
	background base
	color primary__
	padding 10px 0 10px 20px
	text-align left
.modal__sub__ttl
	padding 10px
	background-color menu
	color text
	border-radius 2px
	text-align left
.modal__inner
	padding 30px 20px
.modal__checkbox
	text-align left
	padding 0 10px
	color text
.modal__btn
	margin-top: 120px
	.c-button-square--mm
		margin auto
.search-checkbox__label--modal
	width auto
	display inline-block
	margin-right: 20px
	cursor pointer
	
//.waysidemodal
.modal
	&.waysidemodal
		height: 90vh
		.modal__inner
			padding 0
			overflow-y: auto
			height calc(100% - 36px)
			margin-top: 36px
			padding-bottom: 100px
//.waysidemodal
//	.modal__inner
//		height 100%
.modal__ttl--fix
	position absolute
	width 100%
.modal__btn--fixed
	margin-top 0 !important
	bottom 0
	padding 20px 0
	position absolute
	width 100%
	background-color back

.waysite-checkbox__subTtl
	background-color menu
	height: 30px
	display block
	padding 10px
	margin-right: 0
	&:before
		background-color #fff
	  
		
.waysite-checkbox__station
	padding 0 10px
	.waysite-checkbox__sub
		margin-right: 5px
		width: 175px
.prefmodal
	.modal__inner
		padding: 20px 10px 30px
	.search-checkbox__label--modal
		margin-right: 5px
		width: 175px