.pager
	.pager__lists
		text-align right
	.pager__list
		display inline-block
		background-color primary__
		color text
		margin-bottom: 3px
		> a
			display block
			width 100%
			height 100%
			padding 5px 10px
		&.is-disable
			padding 5px 10px
			color disable
		&.is-selected
			padding 5px 10px
			background-color menu




