//.globalmenu__wrap.is-open
//	-webkit-transform: translate3d(-250px, 0, 0);
//	transform: translate3d(-250px, 0, 0);
//	overflow: hidden;
//
//.globalmenu__wrap
//	position: relative;
//	-webkit-transition: all .4s;
//	transition: all .4s;
//
//.is-open
//	-webkit-transform: translate3d(-250px, 0, 0);
//	transform: translate3d(-250px, 0, 0);

