.nav--hamburger
	cursor pointer
	padding 5px 0 5px 5px
	margin-left: 20px
	@extend $hover
	color primary
	.nav--hamburger__list
		display block
		background-color primary
		width: 31px
		height 4px
		border-radius 5px
		margin-bottom: 4px
	> span
		&:nth-of-type(3)
			margin-bottom 4px
	.nav--hamburger__text
		color primary
		display block
		text-align center


