@font-face
	font-family 'icomoon'
	src url('fonts/icomoon.eot?uov3in')
	src url('fonts/icomoon.eot?uov3in#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?uov3in') format('truetype')
url('fonts/icomoon.woff?uov3in') format('woff')
url('fonts/icomoon.svg?uov3in#icomoon') format('svg')
font-weight normal
font-style normal

[class^="c-font-icon-"], [class*="c-font-icon-"]
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.c-font-icon--hatebu
	&:before
		content: "\e900"

.c-font-icon--attachment
	&:before
		content: "\e903"

.c-font-icon--facebook
	&:before
		content: "\e901"

.c-font-icon--twitter
	&:before
		content: "\e902"

.c-font-icon--line
	&:before
		content: "\e904"
