- var page = 'notfound'
- var title = 'キレイにスルンダ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include partial/_header
			.primary-box
				.primary-box--full__inner(data-return="target")
					.primary-box--full__content
						h2
							|404
							br
							|Not Found
						p.u-fs--s.u-mt30
							|そんなページは、存在しないんだ。
						.c-button-square--l.u-fs--l.u-fwb.u-mt30
							a(href="#") HOMEへ戻るんだ
		include partial/_footer
		.overlay(data-target-close="target")
	ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
		include partial/_nav
	ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
		include partial/_leftNav
	include partial/modal/_login
	script(src='#{domain}js/app.js')









