- var page = 'home'
- var title = 'キレイにスルンダ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		.globalmenu__wrap(data-target-wrap='hamburger')
			include partial/_topHeader
			figure.top__image
				img.primary-box__logo(src="img/svg/top-logo.svg" alt="ロゴ")
			.topSearch-box.u-mt25
				form.quick-search
					.quick-search__inner
						include partial/form/_quick_search
					button(type="submit").c-button-square--top.u-fs--l.u-mt10
						span.button-inner カンタン検索
			.primary-box
				.primary-box__inner
					include partial/_tab
			include partial/_footer
			.overlay(data-target-close="target")
		ul.nav-box.u-fs--xs(data-target-hamburgermenu='hamburger')
			include partial/_nav
		ul.nav-box--left.u-fs--xs(data-target-searchmenu='search')
			include partial/_leftNav
		include partial/modal/_login
		script(src='./js/app.js')





































