- var page = 'home'
- var title = 'キレイにスルンダ'
- var domain = './'
- var description = ''
- var keywords = ''
doctype html
html(lang='ja')
	head
		include partial/_head
	body
		ul.u-fs--xxl
			li
				a(href="index.html") top
			li.u-mt15
				a(href="./job/search/index.html") 詳細検索
			li.u-mt15
				a(href="./job/result/index.html") 検索結果
			li.u-mt15
				a(href="./secret_kyujin/index.html") シークレット求人
			li.u-mt15
				a(href="./secret_kyujin/01.html") シークレット求人詳細
			li.u-mt15
				a(href="./mybox/index.html") お気に入りBOX
			li.u-mt15
				a(href="./contents/trend/index.html") #{config.category_1}
			li.u-mt15
				a(href="./contents/index.html") コンテンツページ
			li.u-mt15
				a(href="./contents/trend/01.html") #{config.category_1}詳細
			li.u-mt15
				a(href="./contents/interview/01.html") interview
			li.u-mt15
				a(href="./contact/index.html") 問い合わせ
			li.u-mt15
				a(href="./contact/confirm/index.html") 問い合わせ確認
			li.u-mt15
				a(href="./contact/thanks/index.html") 問い合わせ完了ページ
			li.u-mt15
				a(href="./entry/index.html") 応募フォーム
			li.u-mt15
				a(href="./entry/confirm/index.html") 応募フォーム確認
			li.u-mt15
				a(href="./entry/thanks/index.html") 応募フォーム完了
			li.u-mt15
				a(href="404.html") 404
			li.u-mt15
				a(href="commingsoon.html") commingsoon
			li.u-mt15
				a(href="./about/privacypolicy/index.html") 利用規約
			//li.u-mt15
			//	a(href="./contents/trend/01.html") #{config.category_1}詳細
			//li.u-mt15
			//	a(href="./mybox/index.html") お気に入りbox
			//li.u-mt15
			//	a(href="./secret_kyujin/index.html") シークレット求人
			//li.u-mt15
			//	a(href="./secret_kyujin/01.html") シークレット求人詳細
			//li.u-mt15
			//	a(href="./contact/index.html") お問い合わせ
			//li.u-mt15
			//	a(href="./contact/confirm/index.html") お問い合わせ確認
			//li.u-mt15
			//	a(href="./contact/thanks/index.html") お問い合わせthanks
			//li.u-mt15
			//	a(href="./job/result/index.html") 検索結果
			//li.u-mt15
			//	a(href="./entry/index.html") 応募form
			//li.u-mt15
			//	a(href="./entry/confirm/index.html") 応募form確認
			//li.u-mt15
			//	a(href="./entry/thanks/index.html") 応募formサンクスページ
			//li.u-mt15
			//	a(href="./login/index.html") ログインページ
			//li.u-mt15
			//	a(href="./login/404.html") 404ページ
			li.u-mt15
				a(href="./about/company/index.html") 運営会社
			//li.u-mt15
			//	a(href="./about/privacypolicy/index.html") プライバシーポリシー
			li.u-mt15
				a(href="./concept/index.html") #{config.sitename}とは

