.search-box
	width 100%
.search-box__ttl
	border-radius 3px 3px 0 0
	background-color text
	color primary__
	padding 10px 15px

.search-box__contents
	padding 15px
	border 1px solid text
	border-radius 0 0 3px 3px
	background-color primary__
	.c-button-square--ms--gray
		border-right none
		border-left none
		border-top none
		width 48%
	.search-boxselect__detail
		display flex
		justify-content space-between
	.check__tag__addblock
		display block
	.c-tag--detail--table
		margin-right: 10px
		margin-top: 10px
		//動的な部分の為例外的にmtを許容
	&.search-box__contents--noTitle
		padding 0 15px 20px
.search-box__contents__form
	width 100%
	display flex
	flex-wrap wrap
.search-box__contents__ttl
	background-color menu
	padding: 10px



.search-checkbox
	display none
	& + label
		width 50%
		display block
		&:before
			content ''
			display inline-block
			position: relative
			margin-right: 7px
			@extend .c-icon--check
			top 5px
	&:checked
		& + label
			&:before
				@extend .c-icon--check--on



input.search--text
	width 100%
	height 30px
	background-color back
	border none
	padding-left: 35px
.search--text__wrap
	position relative
	&:after
		@extends .c-icon--search
		display block
		left: 10px
		top 6px
		content ''
		position: absolute

.search__button__block
	position fixed
	bottom 0
	width 100%
	background-color rgba(0,0,0,.3)
	padding 10px 15px

.search--footer
	padding: 28px 0

+below(321px)
	.search-box__contents
		padding 15px 5px
	.search-checkbox
		& + label
			&:before
				margin-right: 2px


//quicksearch
.quick-search
	width 100%
	//padding-right: 15px
	//padding-left: 15px
	@extends $sidepadding
	.quick-search__inner
		display flex
		align-items center
		justify-content space-between
		width 100%
	&.quick-search--inHeader
		position absolute
		top 60px
		left 0
		background-color primary__
		width 100%
	&.is-disable
		display none

.quick-search__select__wrap
	width 48%
.quick-search__select
	width 100%
	height 45px
.quick-search__input
	width 230px
	height 40px
	color base
	&:placeholder-shown
		color base
		line-height: 1.5
	&::-webkit-input-placeholder
		color base
		line-height: 1.5
.button-inner
	margin auto
	display block
	width 100%

//result
.result-box
	border 2px solid primary
	border-radius 5px
	overflow: hidden

.result-box__list
	> a
		padding 15px
		display flex
		background-color primary__
		border-bottom 1px solid primary
		align-items center
	&:nth-last-of-type(1)
		> a
			border-bottom none
	.result-box__list__category,
	.result-box__list__job
		color text
	.result-box__list__category
		width 35%
	.result-box__list__job
		width 50%
		word-break break-word
		line-height 1.5
	.result-box__list__change
		width 15%
		text-align right
		color text
		+below(321px)
			font-size: 1.2rem
.result__text__list
	color text
.result__num__block
	color text
.result__num__block--gray
	background-color back
	@extends $sidepadding
	padding-top 20px
	padding-bottom: 20px
.result__num
	color primary_
	display inline-block
	margin-right: 3px



