input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
	line-height: 1
	border-radius 3px
	padding-left 10px
	color text
	cursor pointer
select
	background-color #fff
	border 1px solid primary
	border-right solid 18px primary
input[type="text"]
	background-color #fff
	border 1px solid primary
.form__error
	color form
	.c-icon--triangle--attention
		color primary__
		position relative
		> span
			position: absolute
			left -1px
			top -1px







