.column-box__ttl.u-fs--s.u-fwb
	|〈今日の#{config.sitename}!〉
.column-box--rightTop__num
	span.-rightTop__num__subText.u-fs--l 求人数
	span.-rightTop__num__text.u-fs--xxxl.u-fwb(data-target-numcheck="6") 00,000
	span.-rightTop__num__subText.u-fs--l 件
.c-icon--circle--baloon
	i.c-icon--triangle--rotate
	span.-rightTop__new__subText.u-fs--l 新着
	p.-rightTop__new__text.u-fs--xl.u-fwb(data-target-numcheck="3") 000
		span.u-fs--xxs 件
