.column-box--wide__list.u-mt20
	h2.u-fs--xlh.-wide__list__ttl.u-fwb
		| 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
		span.u-fs--xxs.c-tag--new--flow NEW
	h3.-wide__list__subTtl.u-fs--l.u-mt20
		| 株式会社carta bianca
	.-wide__list__bottom.u-mt20
		.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
		ul.-wide__list__details.u-fs--xs--lh
			li.-wide__list__detail--multiline
				span._list__detail__title 職種
				span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
			li.-wide__list__detail--multiline
				span._list__detail__title 給与
				span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
			li.-wide__list__detail
				span._list__detail__title 勤務地
				span ：東京都渋谷区代々木2-20-15
			li.-wide__list__detail
				span._list__detail__title 雇用形態
				span ：正社員
			li.-wide__list__detail
				span._list__detail__title こだわり
				span ：未経験歓迎/独立支援/まかないつき
		._list__button__block.u-mt20
			.c-button-square--mm--gray.u-fs--l
				|削除する
			.c-button-square--mm.u-fs--l
				|もっと詳しくみる
		p.-wide__list__footer.u-fs--xxs 提供元：求人@美容店.COM

.column-box--wide__list.u-mt30
	h2.u-fs--xlh.-wide__list__ttl.u-fwb
		| 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
		span.u-fs--xxs.c-tag--new--flow NEW
	h3.-wide__list__subTtl.u-fs--l.u-mt20
		| 株式会社carta bianca
	.-wide__list__bottom.u-mt20
		.-wide__list__img(style="background-image:url(#{domain}img/media/media01.jpg)")
		ul.-wide__list__details.u-fs--xs--lh
			li.-wide__list__detail--multiline
				span._list__detail__title 職種
				span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
			li.-wide__list__detail--multiline
				span._list__detail__title 給与
				span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
			li.-wide__list__detail
				span._list__detail__title 勤務地
				span ：東京都渋谷区代々木2-20-15
			li.-wide__list__detail
				span._list__detail__title 雇用形態
				span ：正社員
			li.-wide__list__detail
				span._list__detail__title こだわり
				span ：未経験歓迎/独立支援/まかないつき
		._list__button__block.u-mt20
			.c-button-square--mm--gray.u-fs--l
				|削除する
			.c-button-square--mm.u-fs--l
				|もっと詳しくみる
		p.-wide__list__footer.u-fs--xxs 提供元：求人@美容店.COM

//3>layzer
.column-box--wide__list.u-mt30
	h2.u-fs--xlh.-wide__list__ttl.u-fwb
		| 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
		span.u-fs--xxs.c-tag--new--flow NEW
	h3.-wide__list__subTtl.u-fs--l.u-mt20
		| 株式会社carta bianca
	.-wide__list__bottom.u-mt20
		.-wide__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media01.jpg")
		ul.-wide__list__details.u-fs--xs--lh
			li.-wide__list__detail--multiline
				span._list__detail__title 職種
				span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
			li.-wide__list__detail--multiline
				span._list__detail__title 給与
				span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
			li.-wide__list__detail
				span._list__detail__title 勤務地
				span ：東京都渋谷区代々木2-20-15
			li.-wide__list__detail
				span._list__detail__title 雇用形態
				span ：正社員
			li.-wide__list__detail
				span._list__detail__title こだわり
				span ：未経験歓迎/独立支援/まかないつき
		._list__button__block.u-mt20
			.c-button-square--mm--gray.u-fs--l
				|削除する
			.c-button-square--mm.u-fs--l
				|もっと詳しくみる
		p.-wide__list__footer.u-fs--xxs 提供元：求人@美容店.COM


.column-box--wide__list.u-mt30
	h2.u-fs--xlh.-wide__list__ttl.u-fwb
		| 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
		span.u-fs--xxs.c-tag--new--flow NEW
	h3.-wide__list__subTtl.u-fs--l.u-mt20
		| 株式会社carta bianca
	.-wide__list__bottom.u-mt20
		.-wide__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media01.jpg")
		ul.-wide__list__details.u-fs--xs--lh
			li.-wide__list__detail--multiline
				span._list__detail__title 職種
				span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
			li.-wide__list__detail--multiline
				span._list__detail__title 給与
				span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
			li.-wide__list__detail
				span._list__detail__title 勤務地
				span ：東京都渋谷区代々木2-20-15
			li.-wide__list__detail
				span._list__detail__title 雇用形態
				span ：正社員
			li.-wide__list__detail
				span._list__detail__title こだわり
				span ：未経験歓迎/独立支援/まかないつき
		._list__button__block.u-mt20
			.c-button-square--mm--gray.u-fs--l
				|削除する
			.c-button-square--mm.u-fs--l
				|もっと詳しくみる
		p.-wide__list__footer.u-fs--xxs 提供元：求人@美容店.COM


.column-box--wide__list.u-mt30
	h2.u-fs--xlh.-wide__list__ttl.u-fwb
		| 路地裏の一軒家リストランテ☆上質食材と300種以上のワインが自慢★完全週休2日制も選べます♪
		span.u-fs--xxs.c-tag--new--flow NEW
	h3.-wide__list__subTtl.u-fs--l.u-mt20
		| 株式会社carta bianca
	.-wide__list__bottom.u-mt20
		.-wide__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media01.jpg")
		ul.-wide__list__details.u-fs--xs--lh
			li.-wide__list__detail--multiline
				span._list__detail__title 職種
				span ：調理スタッフ サービス・ホール ソムリエ 店長候補・マネージャー
			li.-wide__list__detail--multiline
				span._list__detail__title 給与
				span ：月給23万円〜30万円【フルタイム】月給：23～30万円（未経験者、経験浅い方は月給20万円〜）
			li.-wide__list__detail
				span._list__detail__title 勤務地
				span ：東京都渋谷区代々木2-20-15
			li.-wide__list__detail
				span._list__detail__title 雇用形態
				span ：正社員
			li.-wide__list__detail
				span._list__detail__title こだわり
				span ：未経験歓迎/独立支援/まかないつき
		._list__button__block.u-mt20
			.c-button-square--mm--gray.u-fs--l
				|削除する
			.c-button-square--mm.u-fs--l
				|もっと詳しくみる
		p.-wide__list__footer.u-fs--xxs 提供元：求人@美容店.COM
