ul.column-box--new__list
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
				._list__right__bottom
					span._list__right__tag.c-tag--sns--l.u-fs--xs.u-fwb
						|#{config.category_3}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界では“板チョコ革命”が起きていた？！チョコレートの本当の美味しさを届ける「Bean to bar（ビーン・トゥ・バー）」
				._list__right__bottom
					span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
						| #{config.category_4}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
				._list__right__bottom
					span._list__right__tag.c-tag--work--l.u-fs--xs.u-fwb
						| #{config.category_1}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
						| #{config.category_2}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(style="background-image:url(#{domain}img/media/media-m01.jpg)")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
						| #{config.category_2}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	//6＞layzer
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--trend--l.u-fs--xs.u-fwb
						| #{config.category_1}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--star--l.u-fs--xs.u-fwb
						| #{config.category_4}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368

	li.column-box--new__lists
		a(href="#")
			.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？
				._list__right__bottom
					span._list__right__tag.c-tag--work--l.u-fs--xs.u-fwb
						| #{config.category_1}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
						| #{config.category_2}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368
	li.column-box--new__lists
		a(href="#")
			.-new__list__img(data-normal="bg" data-layzr-bg="#{domain}img/media/media-m01.jpg")
				span.c-icon--circle--m
					span.u-fwb.u-fs--xxs NEW
			.-new__list__right
				p.-new__list__text.u-fs--xxlh--contents.u-fwb
					| 世界の料理をアルファベット順にご紹介！第13弾”M”「モモ」「マフェ」って知ってますか？テストテストテストテストテスト
				._list__right__bottom
					span._list__right__tag.c-tag--beauty--l.u-fs--xs.u-fwb
						| #{config.category_2}
					._right__bottom__num
						span.c-icon--eye--l
						span.u-fs--l 2368

