.column-box--search.u-fs--l.u-mt30
	h3.column-box__ttl.u-fwb 職種で検索
	dl.column-box__list.column-box__list--first
		dt.column-box__list__ttl #{config.searchCategory_1}
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_4}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_5}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_6}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_7}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_8}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_1_9}
	dl.column-box__list.column-box__list--second
		dt.column-box__list__ttl #{config.searchCategory_2}
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_4}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_5}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_6}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_7}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_2_8}
	dl.column-box__list.column-box__list--third
		dt.column-box__list__ttl #{config.searchCategory_3}
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_3_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_3_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_3_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchList_3_4}
.column-box--search.u-fs--l.u-mt30
	h3.column-box__ttl.u-fwb こだわりで検索
	dl.column-box__list.column-box__list--first
		dt.column-box__list__ttl 応募条件
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_4}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_5}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_6}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_1_7}
	dl.column-box__list.column-box__list--second
		dt.column-box__list__ttl 待遇
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_4}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_5}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_6}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_7}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_8}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_9}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_10}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_2_11}
	dl.column-box__list.column-box__list--third
		dt.column-box__list__ttl 特徴
		dd.column-box__list__right
			ul
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_1}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_2}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_3}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_4}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_5}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_6}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_7}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_8}
				li
					a(href="#")
						i.c-icon--triangle
						|#{config.searchListCommit_3_9}



