h2.column-box__ttl.u-fs--l.u-fwb 新着求人
	span.column-box__ttl__tag.c-tag--new.u-fs--xxs.u-fwd NEW
ul.column-box--media__list
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				|まるでNYのリノベーションホテルのようなレストランにて、
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				| まるでNYのリノベーションホテルのようなレストランにて、
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				| まるでNYのリノベーションホテルのようなレストランにて、
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				| まるでNYのリノベーションホテルのようなレストランにて、
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				| まるでNYのリノベーションホテルのようなレストランにて、レストランにてレストランにてレストランにてレストランにて
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞
	li.column-box--media__lists.u-fs--sh
		a(href="#")
			.column-box--media__img(style="background-image:url(#{domain}img/media/media01.jpg)")
			span.-media__img__text.u-fwb(data-target-textCount="2")
				| まるでNYのリノベーションホテルのようなレストランにて、
			dl.column-box--media__detail
				dt 職種
				dd ：パティシエ
			dl.column-box--media__detail
				dt 給与
				dd ：月給:250,000円...
			dl.column-box--media__detail
				dt 勤務地
				dd ：＜大阪・長堀橋＞

